[2020-02-24 14:27] 0xdabbad00 opened #32 "Blog post link broken"
The link in the README.md to the blog post (at the bottom) goes to https://github.com/Netflix/dispatch/blob/develop which 404's.

[2020-02-24 17:28] #32 closed

[2020-02-25 20:57] inv1sible opened #39 "docker build fails"
Am trying to `docker build` or executing `/dispatch-docker/install.sh` ~~on a Mac~~ under Ubuntu 20.04. Unfortunately the process fails with the following output.

[code]

What am I doing wrong? Any tips or ideas? Thx in advance

[2020-02-25 21:45] pepck-svc commented on #39
FWIW I'm getting the same error on an Ubuntu 18.04 box (on latest master):

Docker/Docker Compose versions:

[2020-02-25 22:29] fabiang commented on #39
Make sure you dont run ˋdocker buildˋ from the base directory instead of inside ˋdocker/ˋ. Specify the Docker file like this: ˋdocker build -f docker/Dockerfile .ˋ

[2020-02-25 23:10] jsenon commented on #39
If you use `dispatch-docker/install.sh` you can modify the docker-compose with
[code]

[2020-02-25 23:19] jsenon opened #40 "pypi server not reachable"
With master branch your internal pypi server could not be reach.

https://github.com/Netflix/dispatch/blob/985335da4e5bc3fcfe74d19c7eb1d256a109c398/docker/Dockerfile#L112

[2020-02-25 23:29] jsenon opened #41 "Docker build: env file not found"
`.env` file doesn't exist in the directory `docker`. See dockerfile: https://github.com/Netflix/dispatch/blob/56a9435d08b32429c6b44f83cb0f5aff5a8b6931/docker/Dockerfile#L124

[2020-02-26 01:09] bobflorian commented on #40
same, can't get past this step.

[2020-02-26 10:59] pauroger commented on #39
Got the same error as OP. (Catalina v.10.15.3)

Also tried this:

And now I am getting this error:

`ERROR: Service 'web' failed to build: The command '/bin/sh -c set -x     && buildDeps=""     && apt-get update     && apt-get install -y --no-install-recommends $buildDeps     && pip install -i https://smartiproxy.mgmt.netflix.net/pypi /tmp/dist/*.whl     && apt-get purge -y --auto-remove $buildDep

[2020-02-26 11:42] jsenon commented on #39
Pypi server could not be reach I’ve open this issue https://github.com/Netflix/dispatch/issues/40

[2020-02-26 12:43] jwillmer commented on #39
How can they open source something with a broken installation. This is ridiculous. Anyone who might be interested in this product will first try it in a container before investing any time in a bare metal installation. Only to find out that it is not working..

[2020-02-26 13:00] tgrzinic opened #43 "docker-entrypoint.sh issue"
Any idea why this is happening after I do `docker run`:

```/etc/dispatch/docker-entrypoint.sh: line 12: syntax error near unexpected token `start'```

I set the chmod u+x, but I do not see the problem in the script.

[2020-02-26 15:49] kevgliss commented on #40
Sorry, this was fixed in developed but not yet merged into master.

[2020-02-26 15:59] kevgliss commented on #40
Resolved by #45

[2020-02-26 15:59] #40 closed

[2020-02-26 16:03] kevgliss commented on #39
@jwillme While I understand your frustration, please keep in mind that open-sourcing projects is not part of our normal day jobs and is typically something we try to do to give back to the community.

That being said the error you're running into was fixed in develop before release but had not yet been merged to master. It now has been.

[2020-02-26 16:43] TheDahv commented on #43
@tgrzinic try updating your local `master` and see if you still get this error. I'm hoping my PR addressed it.

[2020-02-26 16:51] kevgliss commented on #41
I've added an example in #48 but you will need to create your `.env` with your secrets/values. See: https://hawkins.gitbook.io/dispatch/configuration/app for details.

[2020-02-26 16:51] #41 closed

[2020-02-26 17:50] jwillmer commented on #39
It is still not working for me. Did someone get it to work?

[code]

[2020-02-26 18:05] TheDahv commented on #39
@jwillmer there are a few other things to fix, but I believe that particular problem comes from the docker-compose `build` configuration.

Look at `docker-compose.yml` and find the `web.build.context` config. Change this:

[code]

That unblocked me on that error, but there are others to tackle that I'm working on now.

[2020-02-26 18:08] TheDahv commented on #39
@jwillmer I'm working on cleaning up both the Docker build and the invocations in the dispatch-docker project. I don't think the build actually needs the .env file since it's supposed to be supplied at runtime in the Docker Compose project. So here's something that unblocks the build but there are a few other related issues I'm still working on

https://github.com/TheDahv/dispatch/commit/db0fbda11

[2020-02-26 19:54] inv1sible commented on #39
[code]
fixes build issue @TheDahv +1

[2020-02-26 19:59] drPytho opened #50 "chmod u+x docker-entrypoint.sh && dependency"
[code]

After having built the image with `docker build . -t dispatch-local`

And running it with `docker run -ti --entrypoint=bash dispatch-local`

[2020-02-26 20:03] drPytho commented on #50
Also just running it `docker run dispatch-local`
results in
`server: 1: exec: /etc/dispatch/docker-entrypoint.sh: Permission denied`

[2020-02-26 20:04] drPytho commented on #50
I propose for the first issue to add under
`COPY ./docker/docker-entrypoint.sh ./docker/.env $DISPATCH_CONF/`
`RUN chmod u+x $DISPATCH_CONF/docker-entrypoint.sh`

[2020-02-26 20:06] drPytho commented on #50
The `ModuleNotFoundError: No module named 'dispatch.status_report'` I have no idea of how to fix.

[2020-02-26 20:25] inv1sible commented on #39
thanks everyone for your commitment. with the change in db0fbda the build succeed but when running the image it stops with

`server: 1: exec: /etc/dispatch/docker-entrypoint.sh: Permission denied`

ideas?

[2020-02-26 21:01] kevgliss commented on #50
`ModuleNotFoundError: No module named 'dispatch.status_report` should be fixed by #52

[2020-02-26 22:44] TheDahv commented on #39
@inv1sible check out

https://github.com/Netflix/dispatch/issues/50
https://github.com/Netflix/dispatch/pull/51
https://github.com/Netflix/dispatch/pull/53

[2020-02-26 22:44] TheDahv commented on #39
For a short-term fix, run `chmod +x docker/docker-entrypoint.sh` and rebuild the image.

[2020-02-26 22:55] drPytho commented on #50
Thanks, both issues are solved. Saw that @TheDahv made an improved solution too. :+1:

[2020-02-26 22:55] #50 closed

[2020-02-27 01:17] TheDahv opened #55 "REQUEST: Configure enabled/disabled plugins"
Reading through [the docs](https://hawkins.gitbook.io/dispatch/configuration) and the code, I'm not able to discern if there's a way to boot the core Dispatch experience _without_ the Slack, Google, Jira, and PagerDuty plugins?

The docs and the way the app behaves appear to imply that Dispatch will not work _without_ them configured.

However, suppose I just want to get started to evaluate withou

[2020-02-27 01:29] mvilanova commented on #55
@TheDahv that's correct. It's not possible to start the app without configuring them first at the moment, as Dispatch relies on them to provide the core functionality. We will consider adding support for it in the future. Thanks for the feedback.

[2020-02-27 11:07] tgrzinic commented on #43
Yeah, double quotes have saved my day.
I find some other problems. There is a problem with .env location in config.py, it should be copied to the container and have a DISPATCH_HELP_EMAIL defined.

Also when I try to access the app this happens, and crashes the container:
[code]

I am closing this because the entrypoint issue is fixed. Thanks!

[2020-02-27 11:07] #43 closed

[2020-02-27 11:44] AliceLoeser opened #56 "ERROR: Error loading ASGI app. Could not import module "main""
Hello,

I managed to go through the whole `docker-dispatch/install.sh` installation script, but I have the following issue when starting the containers:

[code]

I tried to clone `dispatch` locally to make some changes and put an `APP` value, but I'm not sure what the value should be. I tried with `main` but got `ERROR:    Error loading ASGI app. Could not import module "main".`.

I feel restricte

[2020-02-27 13:45] TheDahv commented on #56
Try this https://github.com/Netflix/dispatch/pull/54

[2020-02-27 16:48] #56 closed

[2020-02-27 17:02] kevgliss commented on #55
We can definitely do this, the only downside is the `dispatch` isn't particularly useful without any plugins installed (essentially a crud app with some tables). From a new user perspective; does that matter? Is it enough to see something run?

[2020-02-27 17:48] TheDahv commented on #55
Here's my thinking on it:

- a simple CRUD app is enough to show value non-technical stakeholders at a company
- it enables someone like me to say "hey look, we could be standardizing how we think about incidents and keeping track of it somewhere...here Netflix has already given us a structured way to think about it"
- removing barriers to adoption and focusing on progressive enhancement means int

[2020-02-27 18:01] daniel-gallagher opened #59 "Database upgrade command fails due to missing alembic files"
The initial database upgrade command in the install.sh script fails. Running the command `docker-compose run --rm web database upgrade` results in the following error:

[code]

It appears that the cause may be the `src/dispatch/alembic` folder and the `src/dispatch/alembic.ini` file are missing in the built docker image.

[2020-02-27 18:06] daniel-gallagher opened #60 "Container fails to start due to missing "static" folder"
When running `docker-compose up` after install.sh script finishes, the following error appears:

[code]

The cause seems to be that the `src/dispatch/static` folder is missing in the built docker image.

[2020-02-27 18:48] kevgliss commented on #55
Thanks for the insight @TheDahv. We are pretty tightly coupled to those services at the moment. But  I agree with what you're saying.

Internally, we were also discussing the value in setting up a demo instance of dispatch for folks to play with. But that would also be a large amount of work. Trying to weigh what would be most beneficial to most people.

Unfortunately, Dispatch has a rather high s

[2020-02-27 18:53] TheDahv commented on #55
Understandable for where we are. I'm happy leaving this as a feature request to be prioritized accordingly.

I'm eager to champion this at work.. I'll keep an eye on the space and try to push things forward where I can.

[2020-02-27 19:31] lastlee commented on #60
This seems like an issue with the setup.py configuration where the static files are not included when you run the `pip install` -- not sure where the static files ultimately end up, but the app is certainly looking for them in site-packages.

[2020-02-27 19:50] daniel-gallagher commented on #60
I believe this can be fixed by creating a MANIFEST.in file that contains
[code]

This should also fix #59

[2020-02-27 21:08] #59 closed

[2020-02-27 21:47] daniel-gallagher commented on #60
This is now resolved after the merge of #62.

[2020-02-27 21:47] #60 closed

[2020-02-27 23:33] kevgliss commented on #39
There have been quite a few fixes (thanks @TheDahv + others). While I have released the majority of
 they to `master` things are in flux please check out the `develop` branch for the latest if you run into issues.

For now, I am going to close this issue out please open additional issues as necessary.

[2020-02-27 23:33] #39 closed

[2020-02-27 23:52] lastlee commented on #55
I think there is a lot of value in making it easy to get started and be able to show a proof of concept to stakeholders. Right now I would love to get involved in working with this project and maybe scoping out a Confluence or ServiceNOW plugin, but it would be a hard sell if I can't even get this project working either technically or logistically (e.g. not having GSuite or PagerDuty, etc). I know

[2020-02-28 06:12] jsenon commented on #39
Thanks @kevgliss

[2020-02-28 07:35] tgrzinic commented on #55
I second @TheDahv point, these are plugins and can be optional.
E.g. only Google integration should be mandatory for real use. But the first step in evaluating this solution should be checking a demo and available features/IR workflow.

I was thinking to comment out all sections that rely on Dispatch plugins today :)

[2020-02-28 15:46] lhole opened #65 "Advice for adding new features"
Hi there,

Our team is currently reviewing incident command tools to replace our in house built one. We'd like to empower teams throughout our organisation to create and run incidents themselves. I was hoping that you could help me understand what would be involved in us adding the following features, and whether we could use the current plugin system for it?

1. Our organisation uses slack heavil

[2020-02-28 16:46] kevgliss commented on #65
Hi @lhole ,

When we originally set out to develop Dispatch, our core thesis was that every incident has the potential to be a participant's first incident. With that in mind, we've tried to build a tool that has the lowest learning curve we could manage (using existing collaboration tools, orienting new users with links, and helpful descriptions, etc.,).

To your specific points:

We too would li

[2020-02-28 16:50] kevgliss commented on #55
I'm not sure commenting out the plugins will work particularly well, instead what I would suggest is to use mock (or fake) plugins instead.

If you take a look at our tests:
https://github.com/Netflix/dispatch/tree/develop/tests/plugins

You can see that you can make any plugin return static or mocked out values, perhaps for demo purposes we could simply have plugins that return static or pseudo-s

[2020-02-28 20:05] TheDahv commented on #55
Here's my current line of thinking. I don't know if I have the Python chops to pull it off.

- First, establish a convention to disable or "opt out" of a plugin in the `.env` file: `PLUGIN_DISABLE_$PLUGIN_NAME=True`
- Update this block of code to look at configuration at boot time: https://github.com/Netflix/dispatch/blob/develop/src/dispatch/common/utils/cli.py#L37-L46
- Seems like each Plugin ha

[2020-02-28 20:54] TheDahv opened #66 "Add Initial "Create" Migration"
I'm concerned I'm missing something, but I cannot successfully run the `database upgrade` command.

It is able to successfully run migration `e75e103693f2`: https://github.com/Netflix/dispatch/blob/develop/src/dispatch/alembic/versions/e75e103693f2_.py

However, this appears to not do anything.

Then the migration tries to run `d0501fc6be89`: https://github.com/Netflix/dispatch/blob/develop/src/di

[2020-02-28 22:51] kevgliss commented on #66
If it's a new database, I would run `database init` instead of `database upgrade`. I think we can make the database upgrade command smart enough to detect the lack of a database (and run init instead).

[2020-02-28 23:18] TheDahv commented on #66
That was it! Here's what I had to do to get things up and running:

[code]

[2020-02-28 23:31] kevgliss commented on #55
@TheDahv If you want to eventually expose the plugins via the UI/API. This would be the process I would follow:

- Create a new plugins model (database table) with fields for plugins and their required state/options. This can be done in a bunch of ways, in the past, I've created a simple mapping stored in JSON that ends up being mapped to the front end UI and validated. See [here](https://github.c

[2020-02-28 23:33] kevgliss commented on #66
Nice, to be clear you don't need to run `upgrade` after `init` for new databases. As it doesn't really make sense to run a migration as all the tables are created correctly in the first place.

[2020-03-02 18:36] mvilanova commented on #65
Hi @lhole,

Here are the steps if you decide to add the `/dispatch-report-incident` command:

- Define the command in the Slack config [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_slack/config.py) and import it where needed
- Add a function that creates the reporting dialog. There are several in the `views.py` module.
- Map the command to the function [here

[2020-03-04 00:03] elyscape opened #71 "Include a Mattermost chat communication plugin"
[Mattermost] is an on-prem workplace chat solution that is very similar to Slack. It would be nice if Dispatch had support for it as well.

This request relies on #55 and would likely require refactoring the codebase to have a common internal interface, implemented by both the Slack and Mattermost plugins, for chat systems.

[Mattermost]: https://mattermost.com/

[2020-03-04 12:03] ShakataGaNai commented on #71
Perhaps "Support for Mattermost chat". The current title ("instead") implies ripping out Slack support which wouldn't make sense since it's popular and already supported.

[2020-03-04 17:24] mvilanova commented on #71
@elyscape that looks like a cool open source replacement for Slack. We don't use Mattermost at Netflix, so motivation for writing a plugin for it is low on our side. That being said, if you want to give it a try, we're happy to guide you through the process and review your PR.

[2020-03-04 17:49] elyscape commented on #71
I’m absolutely open to contributing on this, though there are some infrastructural dependencies that need to happen first (primarily #55).

[2020-03-05 08:21] tgrzinic opened #76 "Dispatch development instance"
Hi,

I tried bringing up the the Dispatch development environment.
The Vuejs part with `npm install serve`, and the FastAPI part with the `run.py` script after installing the dependecies in the virutalenv.

The problem is that I can not get the frontend working due to the  CORS errors, is there a simple way to disable Google OAuth authentication and to run the dispatch without it? I just want to e

[2020-03-07 16:29] #66 closed

[2020-03-07 16:31] kevgliss commented on #76
There is not currently a simple way to disable auth. But we do need this functionality for ourselves. I'll be taking a look at how to do so in the next week or so.

[2020-03-07 16:32] #65 closed

[2020-03-09 20:45] kevgliss commented on #71
@elyscape I don't think that #55 would block the creation of a mattermost plugin, that issue is more around how plugins are enable/disabled than how plugins are written. That being said, there are a few slackisms we have in our code base (that we are actively removing).

 I haven't looked to hard at matter most, does it provide app-like dialogs for users?

[2020-03-10 05:05] procyclinsur commented on #71
I also use Mattermost at work, integrated into many other platforms.

I am not sure what you mean by app-like dialog for users, but its interface is very nearly a clone of Slack, but open source.

[2020-03-10 20:28] elyscape commented on #71
@kevgliss The reason I think #55 is probably a requirement for this is that, in deployments where Mattermost is used, Slack would not be used, and so that plugin would need to be inactive.

[2020-03-10 21:06] kevgliss commented on #71
@elyscape today, you don't need to disable a plugin you would just specify your own. For example, you would change `INCIDENT_PLUGIN_CONVERSATION_SLUG=` to be `mattermost-conversation` instead of `slack-conversation` in your `.env`.

#55 Is a request is for exposing that functionality via the UI.

[2020-03-10 21:15] kevgliss commented on #76
Hi @tgrzinic I've open #88 to help tackle this.

Once merged you would enable `DISPATCH_HEADER_AUTH_ENABLED` both in the server .env and `VUE_APP_DISPATCH_PKCE_AUTH` in the frontend .env (located in `src/dispatch/static/dispatch`). This essentially tells dispatch to rely on whatever HTTP header specified by `DISPATCH_AUTH_HEADER_KEY` as the user identity.

Most actions should work well enough (sim

[2020-03-10 22:32] tgrzinic commented on #76
Thanks, I will try it tomorrow.

[2020-03-10 23:14] elyscape commented on #71
Aha! In that case, I’ll take a look when I have some time. I don’t know when that will be, so if anyone else wants to look into this then please feel free.

[2020-03-11 11:25] karymau opened #89 "Dispatch install.sh fails: Service 'web' failed to build"
Hi,

When I run `install.sh` it fails with the following error:
[code]
Running on `KDE neon User Edition 5.18 (18.04)`, `Docker version 19.03.7` and `docker-compose version 1.25.4`.

[2020-03-11 16:05] mvilanova commented on #89
@karymau hmm... seems like a problem with the PGP keyserver (`hkps://mattrobenolt-keyserver.global.ssl.fastly.net`) than Dispatch: `gpg: keyserver receive failed: Server indicated a failure`. Can you try again with a different keyserver?

In the future, please report issues with Dispatch docker here: https://github.com/Netflix/dispatch-docker

[2020-03-11 21:18] kevgliss opened #90 "Description not set on Document creation/update."
The the UI correctly sets the description and the server's response does have the new description but this is never committed to that database.

[2020-03-12 08:01] karymau commented on #89
Yes, of course, but could you please advise how to do it?

[2020-03-12 16:45] mvilanova commented on #89
The issue could be `dirmngr` and/ or `DNS` related: https://unix.stackexchange.com/questions/399027/gpg-keyserver-receive-failed-server-indicated-a-failure

Good luck!

[2020-03-12 16:45] #89 closed

[2020-03-12 18:15] kevgliss opened #95 "Support Basic Authentication"
For new folks either evaluating dispatch or simply not in the position to set up oauth flows, we should support basic username/password authentication.

Roughly speaking this will require:

- [x] Create User table
- [x] Create /login endpoint
- [x] Add login UI

[2020-03-12 20:55] zachzeid commented on #55
++ The tight integration of the services we don't actually use internally is a blocker on adoption, or even being able to run a proof of concept.

[2020-03-12 21:17] kevgliss commented on #55
@zachzeid which services do you use? A lot of work is delegated out to plugins... So simply disabling plugins won't give you a very good proof of concept.

[2020-03-12 21:18] zachzeid commented on #55
Well it’s not about the plugins, it’s about the ability to even start the
core app without the default plugins configured in the first place.

On Thu, Mar 12, 2020 at 17:17 kevgliss <notifications@github.com> wrote:

[2020-03-13 12:53] #76 closed

[2020-03-13 21:39] mvilanova opened #104 "Service and Document fields not rendering when editing an Incident Type"

[2020-03-16 11:07] MihaiMoldovanu opened #107 "install.sh missing from repo"
install.sh missing from repo
References to it from: docs/installation.md

[2020-03-16 16:24] mvilanova commented on #107
@MihaiMoldovanu it's in the dispatch-docker repo [here](https://github.com/Netflix/dispatch-docker/blob/master/install.sh).

[2020-03-16 16:24] #107 closed

[2020-03-17 08:06] ayush-sharma commented on #55
We're facing more issues. We have been unable to get this thing up and running in over a week.

Our latest error is:

ValueError: Could not deserialize key data.
ERROR:    Unable to import dispatch.plugins.dispatch_google.groups.plugin.GoogleGroupParticipantGroupPlugin. Reason: Could not deserialize key data.
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/dispatc

[2020-03-17 19:53] kevgliss opened #113 "We're facing more issues. We have been unable to get this thing up and running in over a week."
We're facing more issues. We have been unable to get this thing up and running in over a week.

Our latest error is:

ValueError: Could not deserialize key data.
ERROR:    Unable to import dispatch.plugins.dispatch_google.groups.plugin.GoogleGroupParticipantGroupPlugin. Reason: Could not deserialize key data.
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/dispatc

[2020-03-17 19:58] kevgliss commented on #113
@ayush-sharma If you take a look at:

https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_google/common.py#L29

We're not doing anything particularly special with those credentials, you *should* be able to copy whatever string google gives you for a PEM and be on your way. Essentially the above code simply re-writes the google service account json file dynamically based

[2020-03-18 06:12] vikassinha2019 opened #120 "DB migration running before DB init"
I am running the installation in a fresh Ubuntu VM with docker support. After running the ./install.sh for the first time, it is failing with following error:

`Successfully built 2d9cad6cd203
Successfully tagged dispatch-local:latest

Docker images built.
Creating network "dispatch_default" with the default driver
Creating dispatch_postgres_1 ... done

Setting up database...
Starting dispatch_pos

[2020-03-19 21:41] mogindi opened #126 "Typo in config read: Should be DISPATCH instead of DISPACH"
https://github.com/Netflix/dispatch/blob/eabd95bd205462fe1ae66ea8d4946af151dcaef8/src/dispatch/config.py#L50

Opinion: Would be a bit nicer if the python vars had same name as the env vars.
i.e. env var also be DISPATCH_AUTH_HEADER_KEY, or vice versa.

[2020-03-20 04:29] #126 closed

[2020-03-20 04:30] mvilanova commented on #126
@mogindi nice catch! Bonus points if you send us a PR next time ;) Thanks!

[2020-03-20 09:21] mogindi commented on #126
Will do. Thanks :)

[2020-03-20 16:47] #104 closed

[2020-03-20 21:25] mindfunk opened #135 "still getting errors for install.sh"
Is there better forum for questions?

I'm sure there is an issue in my .env file, but I am not sure what setting causes this:

INFO  [alembic.runtime.migration] Will assume transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> e75e103693f2, Initial migration
INFO  [alembic.runtime.migration] Running upgrade e75e103693f2 -> d0501fc6be89, empty message
Traceback (most recent call

[2020-03-20 21:40] kevgliss commented on #135
Are you running the install script from:

https://github.com/Netflix/dispatch-docker/blob/master/install.sh#L113 ?

This doesn't seem like it would be an env issue, more likely that the database is in a weird state. Have you had to run the install multiple times?

[2020-03-20 21:41] kevgliss commented on #135
Actually this looks like a duplicate of #120

[2020-03-20 21:41] #135 closed

[2020-03-20 21:53] kevgliss commented on #120
Thanks for reporting, this should be fixed in #136

[2020-03-20 23:30] #90 closed

[2020-03-21 04:17] abinmn commented on #95
Can I take up this issue? I mean the backend part.

[2020-03-21 23:19] kevgliss commented on #95
That would be great, I just put together #139 that introduces the concept of authentication plugins. It would be great if you could take that system for a spin and see if I missed anything.

Fast api also has some great starting points if you're looking for inspiration:
https://fastapi.tiangolo.com/tutorial/security/get-current-user/

[2020-03-22 12:03] B3lak0r commented on #120
Hi @kevgliss, I'm just having the same problem, could this be a random bug or it will persist without the appropriate fix?

[2020-03-22 21:39] kevgliss commented on #120
@B3lak0r it's not random, #136 should have fixed this issue. Have you pulled in those changes (they are still currently only on the `develop` branch).

[2020-03-22 21:45] B3lak0r commented on #120
No, I didn't, I was just trying the to deploy it using the docker's install script

[2020-03-23 11:34] mogindi commented on #113
had the same issue. Got it working by setting it like this in .env file:

GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEv........hCK2K8g==\n-----END PRIVATE KEY-----

key points:
- no quotation marks
- pasted as one line with all the \n's
- removed last \n (not sure if that really helps, but not gonna touch it :) )

[2020-03-23 11:38] mogindi opened #144 "'pkce_auth' always set to 'true'"
https://github.com/Netflix/dispatch/blob/4057b8e9860c28cd224b0bb461ff0ffc44063488/src/dispatch/static/dispatch/src/router/index.js#L25

setting default value not working like that for booleans. https://stackoverflow.com/questions/15464169/how-to-set-default-boolean-values-in-javascript

[2020-03-23 20:06] B3lak0r commented on #120
@kevgliss, any chances to get this solved or maybe a workaround?

[2020-03-23 20:56] kevgliss commented on #120
@B3lak0r I haven't been able to re-create this after #136 was put in place. Could you provide any more details?

[2020-03-23 21:45] B3lak0r commented on #120
Thanks in advance @kevgliss:

Fresh and updated ubuntu 18.04 LTS VM:
 8 GB RAM
Docker version 19.03.8, build afacb8b7f0
docker-compose version 1.25.4, build 8d51620a
cloned dispatch-docker git
cd dispatch-docker
Edit docker-compose.yml adding lines to expose ports for web and dispatcher.
Filled my .env with the appropiatade data / credentials
Run ./install.sh

-------------------------------------

[2020-03-23 21:51] kevgliss commented on #120
What commit are you on?

[2020-03-23 23:06] B3lak0r commented on #120
@kevgliss I just recreated the issue with the latest docker-dispatch repo, having the same result:

Successfully built 48822d77cc50
Successfully tagged dispatch-local:latest

Docker images built.
Creating network "dispatch_default" with the default driver
Creating dispatch_postgres_1 ... done
Setting up database...
Starting dispatch_postgres_1 ... done

[2020-03-24 11:24] B3lak0r commented on #120
@kevgliss I know that you guys dont run dispatch on docker internally, so could it be possible to know how to do it that way?

[2020-03-24 14:21] #144 closed

[2020-03-24 18:34] #113 closed

[2020-03-24 18:48] kevgliss commented on #120
Okay, so I think I know what _may_ be happening:

The initial issue was fixed, but you likely already had a database created in your postgres docker image. I would drop that imagine entirely (including data and re-running the script).

I've also put together, #155 which removes the intermediate migrations for applications. We recently removed the applications table (in favor of tags), and here whe

[2020-03-24 20:22] crspeller commented on #120
@kevgliss Working though this as well. Using your #155 branch I run into this now:

[code]

[2020-03-24 20:41] kevgliss commented on #120
@crspeller do you have your database running? Can you login and show me the existing tables?

[2020-03-24 20:51] crspeller commented on #120
@kevgliss Yup no tables:
[code]

Is it possible the install script is just missing the `docker-compose run web database init` command? After running that I get:
[code]

[2020-03-24 21:01] crspeller commented on #120
@kevgliss Can confirm the installation script finishes after running that command. Still can't get the UI accessible, but it looks like a separate issue.

Is there a more appropriate place to ask for setup assistance or should I file another issue if it comes to that?

[2020-03-24 22:02] kevgliss commented on #120
@crspeller that's interesting, I was hoping #136 would essentially do just that (create, everything, as needed) perhaps something is creating that database, but not the tables... will look.

For other issues, please feel free to open an issue here for help.

[2020-03-26 14:24] B3lak0r commented on #120
Guys, finally got it working, check out the solution https://github.com/Netflix/dispatch-docker/issues/32#issuecomment-604447519

[2020-03-27 13:53] sarahcthekey commented on #95
@kevgliss Sorry if I'm asking a silly question, I can see from various PR's and discussions it's possible to set up without authentication for a POC. Is that set up out of the box now or do I need to make changes, if so is this just an enable/disable env variable?

I was actually working with the dispatch-docker repo but came across here when struggling to add things to the admin UI, I'm getting t

[2020-03-27 17:20] kevgliss commented on #95
@sarahcthekey the default is with PKCE authentication... but it can easily be disabled by setting `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=""`. Apologies, the documentation for this needs to be updated.

[2020-03-28 04:08] vagharsh opened #180 "Feature : initiating incident from slack via slack commands"
**i would like to start implementing this feature if no one is already working on it.**
starting an incident from slack and invite people from previously configured to the channel and then push all the chat history to JIRA or to **dispatch** also once the incident is created the ONCALL personal in  **pagerduty** will get notified about it as well ( will get a page as well )

Slack should be config

[2020-03-30 09:43] sarahcthekey commented on #95
@kevgliss OK thanks, I have added this, unfortunately now receiving a different error when I try to add a new service (or other inputs):

`IncidentType not created. Reason: undefined
`

[2020-03-30 13:28] sarahcthekey opened #181 "'undefined' error when trying to add data to UI"
I'm in the dashboard UI now and trying to input some test incident types/services etc to populate the info for testing. As far as I know I've set up all the integrations via .env.

I'm now getting an 'undefined' error (screenshot attached) when trying to add anything into the UI. Are there any logs I can view to get to more info why it's failing? Worth mentioning I'm running as a docker container

[2020-03-30 14:25] ceej21 opened #182 "Installing and Running Dispatch with Docker"
So I have installed everything (I am following the installation guide) https://hawkins.gitbook.io/dispatch/installation. After running ./install.sh, how do you actually run the Dispatch environment using docker?

[2020-03-30 14:40] mogindi commented on #181
Having the same issue : undefined error.

Looking in the javascript console seems its getting a 500 in a couple of requests

![image](https://user-images.githubusercontent.com/44147714/77924459-f7bfcf80-72a3-11ea-93a2-13154c86b802.png)

docker logs of dispatch_web_1 show
[code]

It looks to me the source of it is missing database entries, so UI has null values for these, and then its giving a vali

[2020-03-30 15:09] sarahcthekey commented on #181
@mogindi please can you let me know where abouts the docker logs are on dispatch_web_1 container?

Also I'm no postgres expert but I have installed pgadmin and allowed my IP to connect to the DB (in test). I can't see any relevant data/tables at all.

[2020-03-30 15:23] mogindi commented on #181
Hi @sarahcthekey

just `docker logs dispatch_web_1` outside container should do the trick. Adding '-f' and/or '--tail 50' with that would be helpful.

I have tables created, but no data in them. This part is not very well documented, but inside one of the dispatch containers you need to run `dispatch database init` to create the tables.
https://hawkins.gitbook.io/dispatch/cli#init

[2020-03-30 16:52] mvilanova commented on #182
@ceej21 you run `docker-compose up -d`. Please, post docker-related questions, feedback, issues to the https://github.com/Netflix/dispatch-docker repo. Thanks

[2020-03-30 16:52] #182 closed

[2020-03-30 17:56] mvilanova commented on #180
@vagharsh no one is currently working on it, all yours! Here's how I would approach it:
1. Add the new command in the plugin config [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_slack/config.py).
2. Make this command present a dialog with the same fields in the intake form (screenshot below). Example on how to create a dialog [here](https://github.com/Netfli

[2020-03-30 18:58] kevgliss opened #183 "@kevgliss OK thanks, I have added this, unfortunately now receiving a different error when I try to add a new service (or other inputs):"
@kevgliss OK thanks, I have added this, unfortunately now receiving a different error when I try to add a new service (or other inputs):

`IncidentType not created. Reason: undefined
`

_Originally posted by @sarahcthekey in https://github.com/Netflix/dispatch/issues/95#issuecomment-605896124_

[2020-03-30 18:59] kevgliss commented on #183
@sarahcthekey can you provide any other logs (server, browser)? Likely the server threw a 500 (meaning JS couldn't display the actual error).

[2020-03-30 19:00] sarahcthekey commented on #183
@kevgliss I opened a new issue earlier after I posted this apologies.
Someone else has posted logs and chrome dev tools output :

https://github.com/Netflix/dispatch/issues/181#issue-590290407

[2020-03-30 19:16] vagharsh commented on #180
That's somehow funny, and nice to see that all the functionalities that i had implemented are done here. I will see through the slack app requirements and let you know

[2020-03-30 19:20] sarahcthekey commented on #181
@kevgliss logs attached for you from docker logs, I also had the same 500 errors as @mogindi describes above.

[docker-logs.txt](https://github.com/Netflix/dispatch/files/4404991/docker-logs.txt)

[2020-03-30 19:23] sarahcthekey commented on #181
Some more errors I didn't capture in the txt above:

[code]

[2020-03-30 20:42] mogindi commented on #181
@sarahcthekey I can also help with that issue

if your using no authentication like me, i've set in my .env file:

[code]

for some reason quotation marks get passed over as characters. So looks to me you have set `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=""` that's throwing this error

[2020-03-30 21:00] sarahcthekey commented on #181
@mogindi brilliant thank you!

Is the general rule not to include quotation marks on the end variables?

[2020-03-30 21:04] mogindi commented on #181
no problem :)

yes seems so. Not that its documented anywhere - just learnt the hard way.

[2020-03-30 22:23] kevgliss commented on #181
Added a hint to the docs: https://hawkins.gitbook.io/dispatch/configuration/app

[2020-03-30 22:30] mogindi commented on #181
Hey @kevgliss the original issue is still not resolved. Its not why we were getting 'undefined error'.

I have these correct configs and still getting undefined error. It was just a comment/fix to the latest error logs posted by @sarahcthekey.

[2020-03-30 22:41] kevgliss commented on #181
Apologies for the premature closure. The current population of data is... bad. In general, you need to create (in order) a document, a service, an incident_type (with a template document, and service associated) and a priority.

Let me open a PR to `database init` with some values (they can all be changed later). Initially, I was too focused on the fact that there weren't "good" defaults for these

[2020-03-31 06:58] B3lak0r commented on #181
![image](https://user-images.githubusercontent.com/54198281/77996025-c3d8be80-7324-11ea-905a-3ce1257c5350.png)

@kevgliss  I suppose this is insn't available yet, so right now every other screens / set up are functional (including savings) except for the incidents, btw there is any way to set up priority by the UI ? 'cause it's the only fiedl / value I cannot add anywhere...

![image](https://user

[2020-03-31 18:47] kevgliss commented on #181
@B3lak0r there isn't a way to currently set priority via the UI, we used Enums (which are then added to the database...). What is your appetite for custom priorities? Is low, medium, high enough?

[2020-03-31 19:05] B3lak0r commented on #181
@kevgliss ok, now I get it, and yes I was thinking in something like that... btw  do you think this 422 error could be related to that?

[2020-03-31 19:10] sarahcthekey commented on #181
@kevgliss if you have time are you able to look at the 422 error, as @B3lak0r mentioned?

There’s a related issue about this over on the dispatch-docker repo too which you’ve been tagged in and may want to read.

Thanks :)

https://github.com/Netflix/dispatch-docker/issues/34

[2020-03-31 21:05] B3lak0r commented on #181
@sarahcthekey I'll testing with the g suite credentials on the .env file in order to figure it out which one then could be causing this, I think maybe is how I added GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY and GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID :

[code]
you did it that way too?

[2020-03-31 21:23] mogindi commented on #181
@B3lak0r i did it that way as well

except my `GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY` had `-----BEGIN PRIVATE KEY-----` and `-----END PRIVATE KEY-----`. Although there are spaces and no quotation marks.. seems to work
Unless its actually broken and I'm getting no error.

running `dispatch plugins list` should give you an indication if the plugins are authenticated or not

[2020-04-01 08:05] Hash8395 opened #188 "Installation its done but no right to create incident or manage the apps"
The application web it's done !
but now i can't use the web ui because i don't have create account or login web page
can you help me ?

thx
![image](https://user-images.githubusercontent.com/46268206/78113652-5732f200-7400-11ea-9de5-2bd76f1f53b3.png)
![image](https://user-images.githubusercontent.com/46268206/78113684-60bc5a00-7400-11ea-9ef1-718245eb6d75.png)

[2020-04-01 15:18] mogindi opened #190 "Cannot load sample data in database with `dispatch database restore --dump-file dispatch-sample-data.dump`"
[code]

[2020-04-01 17:34] mvilanova commented on #188
@Extazer583 can you elaborate a little bit more, please? You don't need to create any accounts and there's no login page. Also, please take a look at the docs about auth [here](https://hawkins.gitbook.io/dispatch/configuration/app#authentication).

[2020-04-02 04:46] diogomatsubara commented on #190
@mogindi Do you get this when you run the container using the Dockerfile or with docker-dispatch?
I opened PR https://github.com/Netflix/dispatch/pull/195 to add the postgresql-client to the Dockerfile so it gets installed in the main dispatch server container. When you use docker-compose.yaml from docker-dispatch  I believe this dependency comes through the installation of the database.

The PR f

[2020-04-02 08:57] mogindi commented on #190
hey @diogomatsubara ! Thanks for you help

so yes I am using dispatch-docker, and database commands were already running from dispatch container. for example `dispatch database init` creates database and tables.

I'll try to install the package manually and give it a shot.

Also just running `import sh` in python3.8 is having issues even when the right packages are installed, but works flawlessly

[2020-04-02 09:39] diogomatsubara commented on #190
I think `database init` uses python libs to access the database, while `database {dump|restore}` uses the command line utility `psql` to do the work. So once `psql` is installed you should be able to use the `dump|restore` commands.

I'm using the default that is installed by dispatch-docker. This is what I have from my dispatch container:

[code]

[2020-04-02 10:37] mogindi commented on #190
okay seems to have worked after installing `postgresql-client`, but still not getting any data in my tables.

[code]

but the tables are still empty in the database

(Command to see row entries in each table)

[code]

[2020-04-02 10:46] diogomatsubara commented on #190
@mogindi Do you have the logs from your database container? `docker logs <db-container-id>`

In my local environment the current dump is triggering database constraints so I think I'll need to update the dump file with data that matches the latest schema from the `develop` branch.

[2020-04-02 11:15] mogindi commented on #190
[code]

[2020-04-02 17:29] B3lak0r opened #196 "Unable to import fbprophet, some metrics will not be usable."
1.- Required plugins added.
2.- Dispatch built with success.
3.-  UI accesible.
4.- Documents, Service, Incident types available to be created by the UI.

But no able to save incidents, getting some 500 and 422 error codes.

Tracking the container logs for those errors I've got:

[code]

Recreating the error / bug when saving the incident using the UI:

[code]

and as explained here:

https://gith

[2020-04-02 18:13] mogindi commented on #190
btw I ran the above after running `dispatch database init`, so looks like the tables were already there

[2020-04-02 18:29] kevgliss commented on #196
Yes, fbprohet is actually quite a pain to install/deploy (we were/are having trouble getting it deployed internally). Initially, we thought we could make it optional and just not have those metrics. But because the math is relatively straightforward and we had a data scientist on our team willing to do the work we're planning on replacing it with a pure python version (instead of all the C that fb

[2020-04-03 08:57] sarahcthekey commented on #196
OK thanks @kevgliss

Can I ask if you have more detailed documentation on how the incident conversation data flow happens? I.e. once an incident is opened, what happens in slack? I have configured an app in our Slack workspace and configured slash commands which work, but each time I test it mentions that I need to do them in an incident conversation.

I'm still having an issue with errors (same a

[2020-04-03 09:35] diogomatsubara commented on #190
Hi @mogindi, I think I found the issue. I just made PR https://github.com/Netflix/dispatch/pull/199 with a fix. When you drop the database, using `dispatch database drop`, dispatch uses sqlalchemy and drops the database configured by `DATABASE_NAME`. When we use restore without the patch above, psql correctly checks that the `DATABASE_NAME` exists but then it restores to the default database  `pos

[2020-04-03 10:18] sychev-a-k opened #200 "Problems with create Tag"
Hello!
I have problems with create tags.

When i run all containers via docker-compose.
I run those commands:
dispatch database init
dispatch database upgrade
dispatch database restore --dump-file /dispatch-sample-data.dump

After those I cannot add some tags in UI
![image](https://user-images.githubusercontent.com/29555052/78349965-11675c80-75ad-11ea-9e49-745a4fa3ab25.png)
In logs I see this
![im

[2020-04-03 10:28] sychev-a-k opened #201 "Problems with create Incident"
Hello!
I have two questions. I cannot add Commander to incident when i create an incident.
![image](https://user-images.githubusercontent.com/29555052/78350517-0660fc00-75ae-11ea-997b-2d22272f3d54.png)
In my .env file I set INCIDENT_PLUGIN_CONTACT_SLUG to default. But i don't create some slack channel to converstaion. And i see in log this.
![image](https://user-images.githubusercontent.com/295550

[2020-04-03 11:46] ricey99 opened #202 "Support Google Chat and Meet"
Any plans, or ways we can use Gsuite Chat and Meet instead of Slack and Zoom?

[2020-04-03 14:46] kevgliss commented on #196
Hi @sarahcthekey we should probably build out our [user guides](https://hawkins.gitbook.io/dispatch/user-guide) a bit more. Essentially, when you create an incident you could see a new incident channel created that the reporter and commander are invited to. You should also see a notification message in the [notification channels](https://hawkins.gitbook.io/dispatch/configuration/app#incident_notif

[2020-04-03 14:49] kevgliss commented on #200
Please make sure you have pulled the lastest code, that error should have been fixed in: #157

[2020-04-03 14:51] kevgliss commented on #202
We don't currently have support for google chat in the work, but the google plugins already support google meet, in fact, its the default conference type.

We're open to having Gsuit chat added, but currently don't have an internal use case as we've chosen to centralize on Slack.

[2020-04-03 15:09] mogindi commented on #190
Hey! appreciate your help :)

I saw the PR(s) are merged so now I'm rebuilding and redeploying.

Would I still need run `dispatch database upgrade` ?

[2020-04-03 15:29] diogomatsubara commented on #190
Yes, because then the `upgrade` will run the migrations to keep the schema up to date with the new changes. I didn't test with the latest changes on develop but if it breaks let me know and I'll try to fix.

[2020-04-04 06:03] diogomatsubara commented on #190
I'm unable to reproduce this. Could you share the exact steps? I also noticed that @kevgliss merged in `cc47103b223838a30dc3d5ab22da33300fea2bdf`  a fix for multiple revision heads which might be related. I'm not super familiar with alembic so I'm not sure how to help out further.

[2020-04-05 12:05] sychev-a-k commented on #200
I use latest code and i have problems with create Tag (in tag/views.py), not in cli.py

[2020-04-05 14:21] sychev-a-k commented on #201
When I create Incident i Have this error when i try to set INCIDENT_PLUGIN_CONTACT_SLUG=
![image](https://user-images.githubusercontent.com/29555052/78500892-d0647900-7761-11ea-9cb2-685a58815925.png)
How I can resolve this?

[2020-04-06 03:17] kevgliss commented on #190
@mogindi the issue with multiple heads issue was fixed in: https://github.com/Netflix/dispatch/commit/cc47103b223838a30dc3d5ab22da33300fea2bdf

[2020-04-06 10:08] mogindi commented on #190
I just tried to rebuild (just now) with `./install.sh`
and when getting to the `dispatch database upgrade` command I still got
`alembic.util.exc.CommandError: Requested revision b12f7a59ced9 overlaps with other requested revisions 343bc4e6aa79`

[2020-04-06 14:32] sarahcthekey commented on #196
Thanks for the info @kevgliss. We've decided to put this POD project on hold now, ideally we'd like to spend time removing Pager Duty as a hard coded dependency and I think this is still a little too new to implement in our own environment. It's great what you've done so far though, keep it up and I'll definitely check back in a few months once the project has matured some more.

[2020-04-06 16:54] mvilanova commented on #201
@sychev-a-k what value are you specifying in env var `INCIDENT_PLUGIN_CONTACT_SLUG`? You should use `slack-contact`. Until we have another plugin for conversations, Slack is the only option available.

Regarding to your question about tasks, right now the only way to create them is by assigning a comment in the investigation document to one of the incident participants. We will probably add a butt

[2020-04-06 19:38] mogindi commented on #190
@kevgliss any idea?
I could try to file a new bug report for it

fresh build after doing git pull of dispatch-docker results in:
`alembic.util.exc.CommandError: Requested revision b12f7a59ced9 overlaps with other requested revisions 343bc4e6aa79
`

[2020-04-06 20:01] kevgliss commented on #200
Ah sorry about that, you're right. I will put together a PR that fixes those.

[2020-04-07 06:01] diogomatsubara commented on #190
Looks like your database is not being cleared. I just tried `./install.sh` from `dispatch-docker` and didn't run into this issue. Could you paste the full logs? Another thing you might wanna try is to run `dispatch database drop` and then run `dispatch database upgrade`

[2020-04-07 09:04] mogindi commented on #190
Okay i think i found the issue. Forgot to clear docker volumes (whoops)

Rebuilding now
@diogomatsubara  Will try what u advised again and let you know

[2020-04-07 14:35] mogindi commented on #190
So database population seems to be working now!

However still getting some errors.

if I don't run `database init` before, I get lots of:
[code]

If I do, I get (excluding 'already exists' and 'not allowed' errors):
[code]

[2020-04-07 18:15] B3lak0r commented on #196
Hi, been out for a while and I see it's been some changes, but now even having the incident priority in the UI, it seems @kevgliss  something is still missing:

`sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedColumn) column incident_priority.page_commander does not exist
LINE 2: ...incident_priority.name AS incident_priority_name, incident_p...`

[2020-04-07 20:08] stefanm8 commented on #95
Hello @kevgliss,

Is anybody still working on this? if not I would like to take this one.

if we would implement basic authentication would this make the app work without setting up google accounts or any other ENV variables besides the necessary ones such as PSQL connection?

[2020-04-07 20:37] stefanm8 commented on #55
Hello I would like to contribute to this, I will give my 2 cents on this. What do you think if all plugins would be disabled by default, and enable them if required fields are present in env vars such as authentication fields, urls etc...

From what I read in other issues is that core functionality resides within some plugins, wouldn't be a good idea to move that code in the core and provide a def

[2020-04-07 21:09] kevgliss commented on #55
I think we can make the core CRUD app run more smoothly with a limited set of configurations, and exposing those settings via the UI.

However, I don't believe we can move most plugin functionality into the core application, without greatly increasing the scope of the application.

One of the Dispatch's strengths is relying on tools you already have within your organization to handle incidents, th

[2020-04-07 21:10] kevgliss commented on #95
@stefanm8 you will still require google credentials if you wish to use the Google related plugins.

[2020-04-07 21:22] stefanm8 commented on #95
Thank you for fast reply.

I intend to develop plugins to replace google suite without having to configure google account.

[2020-04-07 22:16] AlexaKelley opened #213 "Possible typo in cli.py (clean_incident_artifacts function)"
Hello, I am working on setting up a dispatch instance and I have come across the following error.

`Starting dispatch_postgres_1 ... done
Traceback (most recent call last):
  File "/usr/local/bin/dispatch", line 8, in <module>
    sys.exit(entrypoint())
  File "/usr/local/lib/python3.8/site-packages/dispatch/cli.py", line 845, in entrypoint
    dispatch_cli()
  File "/usr/local/lib/python3.8/site-

[2020-04-07 22:48] mvilanova commented on #213
Yep, that's a bug. The import should be `from dispatch.plugins.dispatch_google.config import GOOGLE_DOMAIN`. We will get it fixed. Thanks for letting us know!

[2020-04-07 22:51] mvilanova commented on #213
Fixed in #214. Thanks again.

[2020-04-07 22:51] #213 closed

[2020-04-08 11:42] diogomatsubara commented on #190
@mogindi You have to `database drop` before you try the `init` or the `restore`. What are you using as the`POSTGRES_USER`? The user needs to match the user used in the `DATABASE_CREDENTIALS`

[2020-04-09 11:52] mogindi commented on #190
okay all working now.

I was dropping the database before, but the issue was my postgres user and database credentials were not set to 'dispatch' as the database code was assuming in 'data/dispatch-sample-data.dump', even though they were matching. I had my own .env file from before .env.example was updated, so didn't use defaults in .env.example

so this is really handy but i think if we can inco

[2020-04-10 12:33] stefanm8 commented on #95
Hello been working on this and currently I have setup:
- Default JWT auth
- User table
- Login/register endpoints

I've seen that you also implement a plugin base for providing auth plugin.

https://github.com/stefanm8/dispatch

you may see the code at src/dispatch/auth/*

[2020-04-14 15:00] tomarv2 commented on #201
@mvilanova try this, looks like duplicate of : https://github.com/Netflix/dispatch-docker/issues/34

[2020-04-14 22:25] kevgliss commented on #55
After having thought about this more, I think there is value in having the ability to enable plugins incrementally. I will be working on several PRs decoupling incident creation from creation of resources (and thus plugins).

In the end, I hope to essentially provide a bare dispatch install that works without configuring any plugins. Letting the plugins be "value" adds.

Thank you all for the feed

[2020-04-15 15:16] gazzerman2 opened #224 "Web errors"
Unable to submit an incident, web container is throwing this, any help much appreciated.

[code]
What's the keyerror?

[2020-04-15 16:15] mvilanova commented on #224
@gazzerman2 Dispatch's plugin manager is trying to find the plugin for metrics using a slug, but it can't because it's not defined and the default is `""` (see https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L100). We don't have an open source one yet. We will add a test one as soon as we can to get you going. Or if you have time, you can submit a PR for it. Examples here:

[2020-04-15 16:15] mvilanova commented on #224
Also, looks like you haven't set a value for `ZOOM_API_USER_ID`.

[2020-04-15 16:22] mvilanova commented on #224
Will #223 allow people to disable the metric plugin, @kevgliss?

[2020-04-15 19:29] kevgliss commented on #224
Eventually yes, but with metrics specifically it should be an issue today:

https://github.com/Netflix/dispatch/blob/develop/src/dispatch/metrics.py#L14

@gazzerman2 do you have anything in your config for `METRIC_PROVIDERS`? If so I would remove it and try again.

[2020-04-16 08:18] gazzerman2 commented on #224
Thanks guys, I didn't have `METRIC_PROVIDERS` in my config, let me try that and rebuild, appreciate the help here.

[2020-04-16 10:25] gazzerman2 commented on #224
Added in `METRIC_PROVIDERS` to my config, rebuilt and its still throwing. the KeyError?

[code]

[2020-04-16 11:16] gazzerman2 commented on #224
The Web is also throwing a 500 against this API
`http://MYSERVERNAME/api/v1/incidents/?itemsPerPage=-1&sortBy[]=reported_at&fields[]=reported_at&fields[]=reported_at&ops[]=%3C%3D&ops[]=%3E%3D&values[]=2020-04-16T10:56:09%2B01:00&values[]=2019-10-16T10:56:09%2B01:00&descending[]=true`

![Screenshot 2020-04-16 at 12 15 20](https://user-images.githubusercontent.com/56310190/79449999-247e2180-7fdc-11e

[2020-04-16 21:18] kevgliss commented on #224
Ah, forecast metric won't work unless you have fbprophet dependency installed (we're working on removing it as its terrible to install).

Regarding the first error, I wouldn't expect you to set anything for `METRIC_PROVIDERS`

I would ask you add a print here:
https://github.com/Netflix/dispatch/blob/develop/src/dispatch/metrics.py#L14
To see the value of `METRIC_PROVIDERS` it should be `[]` if no

[2020-04-17 09:54] gazzerman2 commented on #224
If I exec into the web container and run a `set` this is what its set to, not sure why its single and double quoted?
[code]

[2020-04-17 13:21] gazzerman2 opened #229 "Can we get sample data to load in?"
https://github.com/Netflix/dispatch/tree/develop/data

This is not data, this is a "restore" schema for the tables and such, who ever made the dump said schema only rather than schema & data.

[2020-04-17 16:47] mvilanova commented on #224
@gazzerman2 I set the value to `""` in my `.env` file and the server started fine. You should see the following message in the console: `No metric providers specified metrics will not be sent.`.

[2020-04-17 18:23] tomarv2 commented on #113
error 403:

[code]

[2020-04-17 19:33] kevgliss commented on #224
@gazzerman2 I would try to unset that envvar entirely, my guess is thatsince you have double quoting that the value is being set to `[' "" ']`.

[2020-04-17 19:36] kevgliss commented on #229
It does contain data:

https://github.com/Netflix/dispatch/blob/develop/data/dispatch-sample-data.dump#L1831

How are you restoring the database?

[2020-04-17 19:37] #200 closed

[2020-04-20 16:54] gazzerman2 commented on #229
Ah I missed that line, will try again, I was following the steps in the other issue on loading data. Thanks.

[2020-04-20 16:55] gazzerman2 commented on #224
Will try that and get back, thanks for the help @kevgliss

[2020-04-20 23:06] #229 closed

[2020-04-21 15:20] gazzerman2 commented on #224
OK these are now fixed, now onto my next web issue

Incidents won't load due to a 401 auth issue

![Screenshot 2020-04-21 at 16 17 44](https://user-images.githubusercontent.com/56310190/79883418-cf7f4880-83eb-11ea-91d7-2005310b8c43.png)

Data is present
[code]

Do I need to have Authentication enabled just to look at incidents?

How does the whole slack thing work, can I see a demo by any chance?

[2020-04-21 16:13] gazzerman2 opened #239 "Please provide more details on Slack Integration"
How does the whole slack thing work, can I see a demo by any chance as its not clear at all by the documentation. Thanks!
I have a bot, I have all the info in the `.env`. Can I start incidents from Slack?
![Screenshot 2020-04-21 at 17 07 06](https://user-images.githubusercontent.com/56310190/79887483-d5c4f300-83f2-11ea-97a7-90594ae37150.png)

[2020-04-21 17:44] mvilanova commented on #239
Basically, we use Slack for real-time communications. The Dispatch Slack plugin uses the Slack app's bot token to send requests to a variety of API methods to create the channel, etc. The app is added to the channel, so we can process events such as when a member is added or a message is posted. The app also exposes a set of slash commands to allow the incident commander to manage the life cycle o

[2020-04-22 04:05] tsekine354 opened #243 "[feature request] Print all config items in server config command, instead of showing .env file contents"
`dispatch server config` command, or `show_config()` in https://github.com/Netflix/dispatch/blob/develop/src/dispatch/cli.py#L804, shows no configs when dispatch is brought up via docker-compose, as all configs are read from system environment variables, not local `.env` file.

Additionally, `starlette.config.Config.get()` can take default value, but `show_config()` ignores that, or it prints only

[2020-04-22 09:03] stefanm8 commented on #188
Hello!

This should be fixed, now you have register/login endpoints.

[2020-04-22 11:52] sychev-a-k opened #244 "Problems with authentication after last upgrade"
Hello!
I have problems with auth after upgrade dispatch.
![image](https://user-images.githubusercontent.com/29555052/79978542-c3a58c00-84a8-11ea-89b0-f840f696bc53.png)
My .env config this
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=
DISPATCH_AUTHENTICATION_PROVIDER=
#DISPATCH_AUTHENTICATION_PROVIDER=""
#DISPATCH_AUTHENTICATION_PROVIDER_SLUG=
DISPATCH_AUTHENTICATION_PROVIDER_PKCE_JWKS=

# Frontend
#VUE_A

[2020-04-22 15:39] gazzerman2 commented on #244
I am stuck on auhentication now, where did you put in  the following?

"authorization_endpoint":
"token_endpoint":

[2020-04-22 15:55] gazzerman2 commented on #224
@mvilanova have you any idea on the above? Thanks!

[2020-04-22 16:18] gazzerman2 commented on #239
Thanks can you walk me through a day in the life scenario with slack in the mix is it like this:

1. I open an incident in the webUI
2. This opening of the Incident sends API calls to Slack to create a channel
3. The channel gets a name and the person (who is authorized and logged into the web) gets added to the slack channel
4. During an incident we use Slack to discuss next steps...
etc etc

[2020-04-22 16:32] mvilanova commented on #239
Yes, pretty much. The incident commander and the rest of participants that get added to the incident channel do not necessarily need to be logged in into the Web interface. You define which oncall service needs to be resolved based on incident type and who needs to be added based on incident type, priority, terms, etc. in the Web interface. Once on the channel, the incident commander can use the s

[2020-04-22 16:36] mvilanova commented on #224
@gazzerman2 you can disable auth by setting `DISPATCH_AUTHENTICATION_PROVIDER=""`. See auth docs here: https://hawkins.gitbook.io/dispatch/configuration/app#authentication. Try again and let us know!

[2020-04-22 16:41] gazzerman2 commented on #239
Thanks a lot, that really helps!

[2020-04-22 16:41] #239 closed

[2020-04-22 16:58] gazzerman2 commented on #224
Same with `DISPATCH_AUTHENTICATION_PROVIDER=""` @mvilanova

![Screenshot 2020-04-22 at 17 55 28](https://user-images.githubusercontent.com/56310190/80010730-beedd180-84c2-11ea-9870-24746bbb56a6.png)

[2020-04-22 18:03] mvilanova commented on #244
@kevgliss can confirm, but I think his ongoing PR (https://github.com/Netflix/dispatch/pull/241/) should fix these problems.

[2020-04-22 18:04] mvilanova commented on #224
@kevgliss can confirm, but I think his ongoing PR (https://github.com/Netflix/dispatch/pull/241/) should fix these problems.

[2020-04-22 18:32] sychev-a-k commented on #244
I create account via /register, but i have same error.
Ho can I create this ?
"authorization_endpoint":
"token_endpoint":

i didn't find anything about this in docs?

[2020-04-22 19:46] omgbox opened #247 "--- please delete, wrong repo"
please delete wrong repo

[2020-04-22 19:48] kevgliss commented on #247
I think you may have the wrong repository.

[2020-04-22 19:52] omgbox commented on #247
my apologize, i just wanted to know if dispatch supports XDCC

[2020-04-22 19:56] #247 closed

[2020-04-22 22:08] kevgliss commented on #244
@sychev-a-k #250 should fix your immediate problem. Please try it out.

[2020-04-22 22:10] kevgliss commented on #243
Interesting. We typically only use .env files for configuration show we haven't come across this issue. Under the hood we just use starlette config, which does read from the envvars but perhaps not in this context?

https://www.starlette.io/config/

[2020-04-22 22:11] #190 closed

[2020-04-22 22:13] #244 closed

[2020-04-22 22:23] kevgliss commented on #224
@gazzerman2 I think this should be fixed by #250

[2020-04-23 07:58] sychev-a-k commented on #244
Today i have problems with build dispatch web after upgrade
![image](https://user-images.githubusercontent.com/29555052/80074094-5863c480-8551-11ea-859c-9031641350c4.png)

[2020-04-23 10:08] sychev-a-k opened #254 "STATIC DIR error after last upgrade"
After auth error and upgrade i found this error
![image](https://user-images.githubusercontent.com/29555052/80087140-628ebe80-8563-11ea-82ab-040518a50ece.png)

[2020-04-23 12:57] gazzerman2 commented on #224
Unfortunately not `POST /api/v1/incidents/ HTTP/1.1" 401 Unauthorizedz`
Also I had to hack/modify ./lib/python3.8/site-packages/dispatch/api.py and change it to use unauthenticated routes to remove the 401 from them which is not right
[code]

[2020-04-23 17:08] mvilanova commented on #254
@sychev-a-k can you create the `dist` directory manually and try again? I was able to start the server after removing the `dist` directory from my local install.

[2020-04-23 17:12] kevgliss commented on #254
If you do a `pip install -e .` locally it should create a dist directory with all the required JS. Please let us know if that is not happening.

[2020-04-23 18:52] mvilanova opened #255 "Unable to browse to the Incident Types and Priorities sections in the Web UI"
The `/incidents/:name` path in https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/src/router/config.js#L98 conflicts and takes precedence over the `/incidents/types` and `/incidents/priorities` paths in the same `config.js` file.

[2020-04-23 19:10] sychev-a-k commented on #254
I add in my Dockerfile this command
RUN cd /usr/src/dispatch && pip install -e .
And it is not helping me(
i cannot run this command locally, because my docker container was exited with this error.

[2020-04-23 20:04] kevgliss commented on #254
Are you using your own docker imagine or the official dispatch docker?

[2020-04-23 20:17] #255 closed

[2020-04-23 20:51] mvilanova opened #257 "Uvicorn returns 404 Not Found for all plugin events-related API routes"
[code]

[2020-04-24 02:23] tsekine354 commented on #243
When dispatch is brought up via docker-compose,  `.env` environment file is parsed by docker-compose
https://github.com/Netflix/dispatch-docker/blob/master/docker-compose.yml#L24
then those variables are given to each docker container as environment variables.

Those environment variables are stored in `config.environ`
https://github.com/encode/starlette/blob/master/starlette/config.py#L55
while .

[2020-04-24 09:48] gazzerman2 commented on #224
@kevgliss and @mvilanova
I pulled the latest code this morning thinking since https://github.com/Netflix/dispatch/issues/224 was merged now it would fix my issue:

Steps done:
1. Removed all containers, volumes and images
2. Ran ./insatll.sh again
3. Dropped the DB
4. Ran the `dispatch database restore --dump-file dispatch-sample-data.dump`
5.  Ran `dispatch database init`
6. Ran `dispatch databas

[2020-04-24 17:29] #257 closed

[2020-04-24 19:27] kevgliss commented on #224
I think you are setting the wrong var in your env.

You have:
`DISPATCH_AUTHENTICATION_PROVIDER`

It should be:
`DISPATCH_AUTHENTICATION_PROVIDER_SLUG`

See here:
https://hawkins.gitbook.io/dispatch/configuration/app#dispatch_authentication_provider_slug-default-dispatch-auth-provider-basic

If you found the other string somewhere in the documentation let us know and we'll get that fixed.

[2020-04-24 19:46] gazzerman2 commented on #224
Thanks a lot, I got it from @mvilanova ;-)

[2020-04-24 21:09] kevgliss commented on #243
I've put together #264... I think it's kind of hacky but it's not terrible. Please let me know if that satisfies your use case.

[2020-04-27 06:12] sychev-a-k commented on #254
I am using official dispatch docker

[2020-04-27 13:38] gazzerman2 commented on #224
OK so I modified the .env file today to fix `DISPATCH_AUTHENTICATION_PROVIDER_SLUG`

1. I replaced `DISPATCH_AUTHENTICATION_PROVIDER` with `DISPATCH_AUTHENTICATION_PROVIDER_SLUG` and set it to = ""
2. Rebuilt and tested it
[code]
Having seen that I then said, OK it didn't like nothing set so I will set it to the default from here https://github.com/Netflix/dispatch/blob/deadf8661aa08762c5a47ffa430

[2020-04-27 16:00] kevgliss commented on #224
When is the last time you ran pip install on the project?

It can't find the basic auth plugin:

`ERROR:    Unable to find slug: dispatch-auth-provider-basic in self.all version 1: <generator object PluginManager.all at 0x7f534c234900> or version 2: <generator object PluginManager.all at 0x7f534c234900>`

I would make sure you re-install the application every time there is new code (which on the d

[2020-04-27 16:57] gazzerman2 commented on #224
Hi @kevgliss

I was under the impression the install.sh pulls and builds the latest docker images, I  assumed the dockerfile would do any pip installs of packages it needed?

Daily, I clear all containers, volumes and images, and run the `install.sh`
https://github.com/Netflix/dispatch-docker/blob/master/install.sh

I also git pull dispatch-docker when it changes.

So are you saying I need to then

[2020-04-27 21:51] kevgliss commented on #224
It will automatically pull from the master branch, but the master branch does not have the basic `dispatch-auth-provider-basic` plugin merged in yet.

I'm not sure how you might've gotten that code, I would suggest deleting all of your containers and try building them again. I'm not super familure with docker caching but it's quite possible that it's attempting to pull some other code.

I just wal

[2020-04-27 22:04] kevgliss commented on #254
Can you be more specific about the steps you took?

I'd suggest:
- Deleting all containers/images
- run git pull on https://github.com/Netflix/dispatch-docker
- run `./install.sh`
- run `docker-compose`

I was not able to recreate your issue doing the above.

[2020-04-27 22:30] #243 closed

[2020-04-27 22:31] #120 closed

[2020-04-28 14:14] gazzerman2 commented on #224
Thanks @kevgliss I checked that line and I was set to `master` branch so unsure too why.
Anyway, today its looking better. I can manually create `Individuals` `Teams` and `Services`

It fails to manually create `Incident Types` with
[code]
Also `Create Incident` fails with a 422, the web container logs only throws
`INFO:     9.145.69.146:51530 - "POST /api/v1/incidents/ HTTP/1.1" 422 Unprocessable

[2020-04-28 14:16] darrenhaken opened #271 "Roadmap for Dispatch"
Hi there,

First of all, I am really thrilled you've open-sourced this project.
It looks exactly like the sort of thing we've been looking for to improve our approach to incident management.

To this end, I was wondering if you had a roadmap for features you'll be adding?
I was also keen to add some further integrations but I wanted to check you're happy to receive support and contributions?

[2020-04-28 18:25] mvilanova commented on #224
@gazzerman2 can you first create a document and then link it to the incident type when you create the incident type, and let us know if you still see the error? We may need to make some code changes, as it seems like things need to be created in a very specific order in order to work.

I think the second error is related to the first one, because you're not providing an incident type when you crea

[2020-04-28 19:52] mvilanova commented on #180
@vagharsh we would like to add this feature to Dispatch soon. Before we do, I wanted to check with you to see if you have made any progress.

[2020-04-28 19:54] gazzerman2 commented on #224
Thanks @mvilanova
I tried creating a document and get a 500 for that too
![Screenshot 2020-04-28 at 20 50 19](https://user-images.githubusercontent.com/56310190/80531385-763a8a80-8992-11ea-9abd-a6e4f91eb471.png)

[code]

[2020-04-28 19:56] vagharsh commented on #180
I had medical issues the past couple of weeks and my work got interrupted. I need a week to wrap things up and will send a commit.. let me know how to proceed

[2020-04-28 20:18] mvilanova commented on #180
Sorry to hear that. Hope you're feeling better. No rush. Looking forward to
reviewing your PR.

Marc

On Tue, Apr 28, 2020 at 12:56 PM Vagharsh Kandilian <
notifications@github.com> wrote:

[2020-04-28 20:22] mvilanova commented on #224
@gazzerman2 do you have documents with empty names and weblinks? If so, can you delete them?

[2020-04-28 20:29] kevgliss commented on #271
Hi, @darrenhaken first off we're definitely open to contributions in whatever capacity. As far as roadmaps go, we've got our own internal roadmap but nothing public at this point.

In very general terms I would say our near-term road map has the following themes:

**Maturity for OSS**
- Decoupling plugins and allowing them to be a value add instead of a requirement to use Dispatch at all. See #55

[2020-04-28 20:30] gazzerman2 commented on #224
Nope it was a fresh install so no other documents.
While creating a document I couldn't fill in `Incident priorities` or `Incident Types` as none existed as I had issues creating `Incident Types` too.

[2020-04-29 17:09] mvilanova commented on #224
Hmm, ok. I'll try to see if I can repro it locally and get back to you.

[2020-04-30 17:37] mvilanova commented on #224
@gazzerman2 I wasn't able to repro locally. Here's what I did:

1. Created a service w/o specifying terms, incident types or priorities.
2. Created a document w/o specifying terms, incident types or priorities.
3. Created an incident type specifying the service and document created.
4. Created an incident priority.

Please, try again and let me know!

[2020-04-30 18:43] gazzerman2 commented on #224
1. Service created fine.
2. Document creation failed with
[code]
![image](https://user-images.githubusercontent.com/56310190/80746694-3bfbf500-8b1a-11ea-8809-51a6acb14dd1.png)
3. Incident types fails as it doesn't have a document I suspect.
4. Incident Priority creates fine but console throws
![image](https://user-images.githubusercontent.com/56310190/80747071-c17fa500-8b1a-11ea-97e2-d7b13390a664.

[2020-05-01 07:46] rachten opened #283 "request for info: openness to changes to accommodate for somewhat different workflow"
Hey guys,

First off, thanks for open-sourcing Dispatch!

At my company we're increasing the level of automation in our incident management process. Dispatch is being considered as one of the candidates to support this. To better understand its current feature-set and its viability in our context, we got it up-and-running using most of the currently mandatory plugins (merely disabled Zoom) and pla

[2020-05-01 17:49] mvilanova commented on #224
I'm not able to reproduce number 2 locally. The error means that both the weblink and name for one of the documents in the database are `None`. Can you try with a clean database? Make sure you specify the name, description, weblink, id, and type (e.g. `google-docs-investigation-document`) when you create the document.

[2020-05-01 19:48] kevgliss commented on #283
Hi @rachten see the response below... Let me know if I missed anything!

Allow for customization of (Slack) messages. Guess it would be good to use a (potentially logic-less) template engine for the messages and extract them from the Python code. That should make customization easier as well.

Agreed, the current Jira plugin contains too many netflixism. Making it generic would be welcome (and is

[2020-05-01 22:45] mvilanova commented on #283
Hey @rachten, thanks for considering Dispatch! Answers inline below:

Agree, but not a priority for us at the moment. If you have spare cycles and want to send a PR, we will be happy to take a look at it. Out of curiosity, what would you change about the current messages?

It's doable, but it would require a considerable amount of refactoring. Would "some specific subject" be used to help others u

[2020-05-02 04:41] rachten commented on #283
Thanks for the quick and elaborate responses, @kevgliss and @mvilanova! Good to hear that you’re mostly open to such changes. I’ll add a more in-depth reply when back in the virtual office :)

[2020-05-02 10:59] vagharsh commented on #180
hey @mvilanova is there a way we can chat somewhere ? i have couple of questions

[2020-05-03 08:59] vagharsh commented on #180
anyone here can help me on how to test my code as a whole ? i have implemented all the requirements i can think of. i just need to run the application from my local.

[2020-05-04 07:28] rachten commented on #283
Again, thnx for your feedback. Very helpful! I went through things in a bit more detail. Please find some comments (including a few remaining questions):

**Regarding incident notification conversations**

Cool, missed that. Will play around with it to see if that suits our needs.

**Regarding adding metadata to an incident**

I guess neither Tags nor Terms seem fit for purpose then (or I yet fail

[2020-05-04 18:30] mvilanova commented on #180
@vagharsh in order to test your code locally, you need to do the following:
1. Download and start [ngrok](https://ngrok.com/) by running `./ngrok http 8000`
2. Create and configure your Slack app. Instructions [here](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack). Make the Request URLs in the Slack app point to your ngrok hostname (e.g. `https://<RANDOM_HOSTNAME>.ngro

[2020-05-04 20:13] kevgliss commented on #283
I don't have a strong opinion against adding such a column, how do you envision we would get that data into and out of Dispatch though? Some type of enrichment plugin?

It makes sense that you would want to change these strings, generally speaking, most of the strings are decoupled nicely from the actual code base and could be modifed to be set as configuration variables. See: [here](https://githu

[2020-05-04 22:01] #95 closed

[2020-05-05 11:52] gazzerman2 commented on #224
Pulled a new version, deleted everything and testing now.

[2020-05-05 12:24] gazzerman2 commented on #224
So definitely looking better.
1. On load it does throw a 500 but its not impacting.
![image](https://user-images.githubusercontent.com/56310190/81064888-60692000-8ed2-11ea-82b7-3ea832df7779.png)

Env: New everything, docker-dispach also, no DB dump added this time.
Tests:
1. Created a service w/o specifying terms, incident types or priorities.
- Works successfully
2. Created a document w/o specify

[2020-05-05 16:27] mvilanova commented on #224
@gazzerman2 nice, almost there! Can you try setting the env var without wrapping the value with `"` (`INCIDENT_PLUGIN_CONTACT_SLUG=slack-contact`) and try again?

[2020-05-05 16:56] gazzerman2 commented on #224
Will do, Thanks a lot, yeah I just spotted it now with single and doubles.

[2020-05-05 17:29] gazzerman2 commented on #224
@mvilanova  All above works as before but still create Incident fails on a 500

![image](https://user-images.githubusercontent.com/56310190/81096399-36c5ee00-8efe-11ea-9df6-a2163cdcd4e4.png)

[code]
I wonder do it need to have auth enabled to create an incident?

[2020-05-05 17:36] mvilanova commented on #224
Dispatch uses the `dispatch-auth-provider-basic` auth plugin, if you don't specify one (see https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L77). Your issue is with Slack: `slack.errors.SlackApiError: The request to the Slack API failed`. Have you configured the Slack plugin as described [here](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack)? Pl

[2020-05-05 17:52] gazzerman2 commented on #224
Thanks @mvilanova I have `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=` so it using `dispatch-auth-provider-basic` then.

I followed the doc for Slack and have bot which I added in the info below for.
I have removed my secrets but this is the values, I have also removed my workspaces name.

[code]

[2020-05-05 17:58] mvilanova commented on #224
Does the Slack app have the scopes listed [here](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack#scopes)? Try setting the env vars without `"`s.

[2020-05-05 19:09] kevgliss commented on #224
Yes, removing the quotes may help.

[2020-05-05 19:43] gazzerman2 commented on #224
@mvilanova I did run through that and set all the scopes but will double check it again tomorrow.
Thanks @kevgliss too, I will also remove the quotes from all env variables and see if that helps.

[2020-05-05 20:36] #271 closed

[2020-05-05 20:36] #196 closed

[2020-05-05 20:38] #254 closed

[2020-05-05 20:38] #183 closed

[2020-05-05 20:39] #181 closed

[2020-05-05 20:40] #201 closed

[2020-05-05 20:47] vagharsh commented on #180
i have configured my slack , and brought the PSQL up and configured the .env ./ but it's not coming up it's asking for the UI  and then throwing exception about `botocore.exceptions.NoRegionError: You must specify a region.`

[2020-05-05 20:58] vagharsh commented on #180
@mvilanova i have invited you to my slack workspace please accept the invitation and let's work together and deliver this.. looking forward to contribute further

[2020-05-05 21:05] mvilanova commented on #283
I may have misinterpreted your ask. If all you want is to be able to add different types of roles and be able to customize them a little bit by adding metadata, then I don't think it would be too much work. We could expose that in the Web UI and make the roles that we already have to be required, so we don't have to make a lot of code changes. Dispatch relies on the `Incident Commander` and `Repor

[2020-05-05 21:31] mvilanova commented on #180
Thanks, will do as soon as I can.

[2020-05-06 01:12] kwent opened #295 "gpg --batch --verify /usr/local/bin/gosu.asc /usr/local/bin/gosu fails."
While attempting to build the web image:

[code]

[2020-05-06 06:36] rachten commented on #283
Thanks again for your elaborate responses! I'll leave this ticket open for a little while in case there's more comments from your side. From our side, things are clear enough and thus this ticket can be closed; there don't seem to be any major roadblocks to make Dispatch fit our incident management workflow.

I guess being able to provide this metadata upon creation of an incident could just work

[2020-05-06 16:21] gazzerman2 commented on #224
I have some config work to do on Slack but given the web issues are now all resolved I will close this out and open a fresh one on Slack related issues as I find them. Thanks

[2020-05-06 16:21] #224 closed

[2020-05-06 17:35] mvilanova commented on #295
I was able to repro locally. Working on a fix.

[2020-05-06 18:21] mvilanova commented on #295
@kwent I merged #296. Can you try again?

[2020-05-06 19:07] #283 closed

[2020-05-06 19:14] kwent commented on #295
That fixed it ! Thank you

[2020-05-06 19:14] #295 closed

[2020-05-07 22:29] #188 closed

[2020-05-11 14:24] #71 closed

[2020-05-11 22:44] tomarv2 opened #303 "Basic Authentication setup"
@kevgliss

I need to set up some sort of authentication. Looking for some ideas?

I know you talked about basic auth. How do I set it up?

[2020-05-12 15:05] kevgliss commented on #303
The default auth flow is basic auth, once you get the app running you should be presented with a /login form. It has a link to /register once you register you will be authenticated (today we don't limit registration or confirm it).

[2020-05-12 22:56] kevgliss commented on #180
This was merged in #294

[2020-05-12 22:57] #180 closed

[2020-05-13 10:47] darrenhaken opened #311 "Running ./install.sh generates an error with Sed"
When cloning the repo and running the `install.sh` the following error occurs:

[code]

It looks like L72 is the cause of this

[2020-05-13 12:05] darrenhaken opened #312 "Docs for the dashboard UI URL location"
I've started trying out Dispatch locally and kicking the tyres. I struggled to find the dashboard, the root URL takes you to the incident report.

I have managed to find its at `/dashboard` by looking in the source code.
It would be good if this could be signposted in the docs.

[2020-05-13 16:57] kevgliss commented on #312
I've adjusted the default landing page to be the dashboard instead of the incident report page. See: #313

[2020-05-13 16:57] #312 closed

[2020-05-13 17:58] mvilanova commented on #311
Hey @darrenhaken what OS are you running `install.sh` on? The script should be able to handle both `sed` in GNU/Linux and macOS systems.

[2020-05-13 18:33] darrenhaken commented on #311
I'm running MacOS with ZSH. Could it be ZSH?

On Wed, 13 May 2020, 18:59 Marc Vilanova, <notifications@github.com> wrote:

[2020-05-13 18:33] darrenhaken commented on #311
I'm running MacOS with ZSH, could it be the shell?

[2020-05-13 19:11] mvilanova commented on #311
Hmm weird... I'm also on macOS + ZSH and it's working for me. Here's what happens when I run `bash -x install.sh`:

[code]
Here's what gets written in the `.env` file:
[code]

[2020-05-13 19:13] mvilanova commented on #311
Can you paste the output of `bash -x install.sh`?

[2020-05-13 19:35] darrenhaken commented on #311
I've put the command below. It looks like that worked so I terminated the command before the rest of the Docker installation started.

However if I run `./install.sh` on its own I get the error

[code]

It looks to me like it works with that command

[2020-05-13 19:38] mvilanova commented on #311
I don't see `+ [[ darwin19 == \d\a\r\w\i\n* ]]` in your output. Is your local `dispatch-docker` repo up to date?

[2020-05-14 07:49] darrenhaken commented on #311
Ah no, it wasn't, I was a week behind. It's all fixed now!
Thanks for resolving it, I'll close the ticket.

[2020-05-14 07:49] #311 closed

[2020-05-14 07:56] darrenhaken commented on #312
That's great thanks!

[2020-05-14 15:24] alexandrosgkesos commented on #303
Hello all,
I have as well some trouble configuring the authentication.
When i install with the default .env.example
( empty: DISPATCH_AUTHENTICATION_PROVIDER_SLUG= )
then i can't create some "items", like the Incident Types, getting " IncidentType not created. Reason: undefined "

Also, if that's the "Basic auth"..when i enter the Dispatch server IP, i go directly to the Incident Report page, not

[2020-05-14 15:26] tomarv2 commented on #303
I am also getting 404 what am I missing?

[2020-05-14 19:07] kevgliss commented on #303
If you're setting `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=` you're actually _disabling_ authentication entirely.

If you want to use basic auth you can either do so explicitly via:

`DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic`

or you can simply not set it at all (as `dispatch-auth-provider-basic`) is the default.

The default .env.example is typically used within a docker c

[2020-05-15 06:36] tomarv2 commented on #303
@kevgliss :

[code]

getting below error:

[code]

[2020-05-15 08:57] alexandrosgkesos opened #319 ""IncidentPriority not created. Reason: undefined" when creating some "Items""
Testing DIspatch's Authentication system installed with your Docker script and i get "Reason: undefined in few cases"

DISPATCH_AUTHENTICATION_PROVIDER_SLUG=""
![dispatchNoAuth](https://user-images.githubusercontent.com/62295151/82031527-4f6e9a80-969a-11ea-85c4-b639274ef777.jpg)

In the past, Priorities were being created, but not the "IncidentType"

DISPATCH_AUTHENTICATION_PROVIDER_SLUG= The whol

[2020-05-15 08:57] alexandrosgkesos commented on #319
Let me know if that should be filed against the dispatch-docker repo

[2020-05-15 19:12] kevgliss commented on #303
Do you have the latest code?

[2020-05-15 19:59] tomarv2 commented on #303
i am using the one from the master branch, which I think was 17days ago..

[2020-05-15 21:29] kevgliss commented on #303
Ah, basic authentication has not yet made it into master. We are planning to release it to master next week.

[2020-05-16 19:55] kevgliss commented on #319
Do you have any logs for these errors?

[2020-05-18 08:42] alexandrosgkesos commented on #319
@kevgliss Where are the logs being kept?
I don't see anything in /var/log/ or in documentation

[2020-05-18 18:56] stefanm8 commented on #202
If nobody is working on this I could take it.

[2020-05-18 19:09] mvilanova commented on #202
Go for it @stefanm8!

[2020-05-18 19:43] kevgliss commented on #319
It depends on your setup, typically they will just go to stdout if you're using that standard docker image I would try the `docker log`. See [here](https://docs.docker.com/config/containers/logging/)

[2020-05-18 23:32] tomarv2 opened #332 "Rename from Security Incident Tool to Incident Tool"
@kevgliss  @mvilanova I want to see if you have any plans on renaming the tool from Security Incident Tool to just Incident Tool, I have other teams like support and outage who would like to use it.

[2020-05-18 23:41] kevgliss commented on #332
Hi @tomarv2, you're not the only one thinking about using Dispatch for non-security related incidents. I believe @willbengtson has other SRE type teams interested as well. Is the name/description a big hang-up? Or just a point of clarification?

To be clear, we will generally support non-security use cases within Dispatch so I wouldn't be worried about that.

[2020-05-19 00:16] tomarv2 commented on #332
thanks for the comments, it's more on clarification side for other teams, just to ensure they understand it's not related to security only.

[2020-05-19 06:56] jackblip opened #337 "Issues with Dockerfile"
Hi, I tried running newest release with dispatch-docker, however there seems to be some issues with Dockerfile after running install.sh

[code]

When **\** is added at the end of line 45

`&& dpkgArch="$(dpkg --print-architecture | awk -F- '{ print $NF }')" \`

[code]

any ideas how to fix it ?

[2020-05-19 07:43] jffz opened #338 "Issue with INCIDENT_PLUGIN_TASK_SLUG"
I followed the doc and created the oauth and api tokens for Gsuite but having an error on incident creation, I might be missing something.

[code]

[2020-05-19 11:14] #337 closed

[2020-05-19 11:27] lukas-monkevicius opened #339 "building web from master branch"
Hello,

I ran in to some issues while trying to build **web** part of dispatch (scheduler builds fine with docker build)

However it fails because it can't determine dispatch version or build.

logs from ./install.sh

[code]

Any ideas how to fix it ?

Thanks.

[2020-05-19 13:42] bsundsrud commented on #339
I just ran into this as well, the problem occurs in [setup.py](https://github.com/Netflix/dispatch/blob/develop/setup.py#L239) because the import fails, whereas this used to work in the previous master version.  The newest version in master has [`__init__.py`](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/__init__.py#L10-L35) import the models, and somewhere tries to import `pydant

[2020-05-19 13:47] bsundsrud opened #340 "Dockerfile issues"
The dockerfile in master/develop is broken, it has invalid syntax.

Beyond the syntax fix, there are also some issues building due to some GPG keys seemingly not being available on the chosen keyserver.

[2020-05-19 15:25] #340 closed

[2020-05-19 15:35] kevgliss commented on #339
I've been able to reproduce this locally, will take a look to see if I can avoid the circular dependency.

[2020-05-19 16:07] lukas-monkevicius commented on #339
I was able to build it successfully after using assets.json file, however not sure if that is related, but after starting service, it throws exception that **Directory '/usr/local/lib/python3.8/site-packages/dispatch/static/dispatch/dist' does not exist**

[code]

[2020-05-19 17:13] mvilanova commented on #332
@tomarv2 we're planning to allow you to customize some of the strings in messages in the future (e.g. intake form title, description, etc.), which I think it will help non-security teams feel more included.

[2020-05-19 17:17] willbengtson commented on #332
@tomarv2 we will be using dispatch at my company for all teams. Ops, SRE, Security IR, Vuln Management, etc. Example being that soon you will be able to specify different Jira projects based on the incident type: https://github.com/Netflix/dispatch/pull/336

[2020-05-19 17:19] mvilanova commented on #338
@jffz did you set INCIDENT_PLUGIN_TASK_SLUG to `"google-drive-task"` in your `.env` file by any chance?

[2020-05-19 19:11] kevgliss commented on #339
The issue with just making an assets.json file is that it indicates that the assets don't need to be built, but for the docker images they do need to be built (and you're effectively skipping that step).

[2020-05-19 19:41] kevgliss commented on #339
Please try again, #345 should resolve the issue.

[2020-05-19 21:25] lukas-monkevicius commented on #339
Hi, this resolves the issue for building the container, when:

1. you use Dockerfile from the develop branch, since the one from master fails( #341 + #344 fixes that in develop branch ).
2. add 9b4a5ff08170_.py file by dispatch/src/dispatch/alembic/versions/ (it was complaining that it does not exist 💁

However, I am still having same issues when container starts
** I disabled zoom plugin in setup

[2020-05-20 00:47] tomarv2 opened #347 "Bypass Jira"
@kevgliss how do I bypass Jira, for example, its having issue authenticating, I want it to continue but right now it fails.

[2020-05-20 05:52] Osipion opened #348 "Plans To Support Enterprise SSO (e.g. OpenID Connect/SAML)?"
Great project, thanks for sharing. I want to understand if there are any plans to support authentication flows via an external IdP (e.g. AD, Okta, OneLogin etc.)? If not, is the project open to PRs that add an OIDC or SAML authentication flow and has any thoughts on which would be preferred? Think a feature like this could really help adoption in corp environments.

[2020-05-20 07:00] jffz commented on #338
Yes that is what it is set to (let it to default)

[2020-05-20 16:00] kevgliss commented on #347
@tomarv2 you can disable jira by enabling the dispatch-ticket-plugin and disabling the jira plugin in the plugin UI.

[2020-05-20 16:11] tomarv2 commented on #347
Thanks @kevgliss .. I think this is not possible with the master branch as yet. Will keep an eye on it.

[2020-05-20 16:12] #347 closed

[2020-05-20 16:14] kevgliss commented on #348
Today, we support the PKCE auth flow (which I believe is supported by Okta, maybe others?).
We're open to PRs for other providers/flows. This would be accomplished by writing a new AuthenticationProviderPlugin for those providers. As an example:

https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_core/plugin.py#L61

[2020-05-20 16:15] kevgliss commented on #303
Basic auth is now in master.

[2020-05-20 16:15] #303 closed

[2020-05-20 16:21] kevgliss commented on #347
It is possible with master, we just release a new version yesterday with the required changes.

[2020-05-20 16:21] mvilanova commented on #338
@jffz you don't need to set it, as it's the default value (see [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L158)), but if you choose to do so, set it without quotes: `INCIDENT_PLUGIN_TASK_SLUG=google-drive-task`.

[2020-05-20 16:24] #332 closed

[2020-05-20 20:53] kevgliss commented on #339
Please pull the latest dispatch-docker build I believe https://github.com/Netflix/dispatch-docker/pull/54 should fix your issue.

[2020-05-21 14:37] lukas-monkevicius commented on #339
yes this fixes it.

[2020-05-21 14:37] #339 closed

[2020-05-21 20:57] #348 closed

[2020-05-25 10:55] bsundsrud opened #360 "Issues with Basic Auth"
I'm trying to get basic auth set up and I have a few issues.  I'm not using the dispatch-docker project as I'm trying to deploy to kubernetes.

1) I've set `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic`, I was running into issues with the Vue app not redirecting to /login until I realized I had to set `VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_SLUG` at container build time, as

[2020-05-25 14:49] jackblip opened #362 "Unable to load slack_contact and slack-conversations plugins on default install"
Hello, I am having some issues on running slack conversation and slack contact on dispatch with default configuration (nothing changed on .env file)
**Steps to reproduce:**
1. Clone dispatch-docker
2. rename .env.example to .env
2. Use default master branch or local path for docker develop branch  in docker-compose file
3. build image
4. run docker-compose
5. dispatch is unable to load slack_conve

[2020-05-25 15:37] jackblip commented on #362
managed to fixit by specifiying slackclient version in dispatch/requirements.base file to use 2.5.0

`slackclient==2.5.0`

[2020-05-25 20:06] kevgliss commented on #362
I've open up a PR to explicitly pass string objects to the slack client instead of secret objects. This should allow us to use newer slackclient versions. Thanks for the report.

[2020-05-25 20:10] #362 closed

[2020-05-26 19:41] mvilanova commented on #338
@jffz are you still having this issue, or were you able to fix it after my suggestion above?

[2020-05-28 16:52] kevgliss commented on #360
I've haven't been able to reproduce locally and will take a look.

I have been able to reproduce this and will take a look.

We used to have the default route be /incidents/report but at the end of the day we don't really know why a user is hitting the UI (if they don't specify a route). Internally we use a URL shortener to help with guide users (something like `go/securityincident` so folks don't

[2020-05-28 18:33] bsundsrud commented on #360
I added a `console.log` to the interceptor in api.js that looks like it should intercept fetch requests and add the auth header, but it never fired on the /incidents/report page (first load, get types, get priorities seem like they should all have it?). Dashboard routes did trigger the logging/interceptor.

[2020-05-28 18:35] kevgliss commented on #360
Can you see if https://github.com/Netflix/dispatch/pull/371 fixes your redirect issue?

[2020-06-01 06:46] varunachar opened #384 "Use of Google admin SDK"
We are doing a PoC for dispatch and would like to understand the need for using the Google Admin SDK? Wasn't clear from the documentation. The admin sdk has a lot of privileges and hence raising alarms internally.

[2020-06-01 14:55] kevgliss commented on #384
As part of the incident creation process, we create several different resources to help us manage the incident.

By default, this includes creating Google Docs for the incident collaboration a Google Team Drive for artifact management, a Google Meet for video conferencing, and a Google Group to manage permissions and notifications to the aforementioned Google resources.

You specifically mentioned

[2020-06-01 17:16] #338 closed

[2020-06-02 20:29] #384 closed

[2020-06-03 16:47] tomarv2 opened #401 "Error: Unable to find slug: slack-contact"
SO, my old checkout is working, I did a pull from master this morning and it's broken:

The old order that I was using was:

- Create priority
- Create Service
- Create Document
- Create Incident type

today it is not creating Document, it's erroring:

<img width="493" alt="Screen Shot 2020-06-03 at 9 46 46 AM" src="https://user-images.githubusercontent.com/11890959/83664690-2ba6c200-a57f-11ea-9cf

[2020-06-03 16:47] tomarv2 commented on #401
[code]

[2020-06-03 16:49] tomarv2 commented on #401
My doc is not just a demo page:

<img width="1101" alt="Screen Shot 2020-06-03 at 9 48 45 AM" src="https://user-images.githubusercontent.com/11890959/83664865-7294b780-a57f-11ea-83f1-8fa8757b3dbc.png">

and it saying pedantic error

[2020-06-03 19:52] tomarv2 commented on #401
passed the document creation, by restarting, I added my own jira plugin, so I have two: one come default and one that I created, now showing this:

[code]

[2020-06-03 19:55] mvilanova commented on #401
@tomarv2 the error is telling you that there are more than one `contact` plugins enabled. Disable all except the one you want to use and you should be good.

[2020-06-03 23:37] tomarv2 commented on #401
@mvilanova :

getting below errror:

[code]

[code]

<img width="1184" alt="Screen Shot 2020-06-03 at 4 36 02 PM" src="https://user-images.githubusercontent.com/11890959/83699266-6f69ed80-a5b8-11ea-9d7f-399829a9e07d.png">

<img width="1189" alt="Screen Shot 2020-06-03 at 4 35 55 PM" src="https://user-images.githubusercontent.com/11890959/83699247-66791c00-a5b8-11ea-8490-a185ad2220c1.png">

[2020-06-04 03:32] tomarv2 commented on #401
tried to debug, added this, looks like its not reaching it:

[code]

[2020-06-04 18:38] Martin1196155 opened #406 "Getting Internal server error 500 for many api calls"
I run the ./install.sh and i refer develop branch of the dispatch. When i am loading web UI i am getting below error
![image](https://user-images.githubusercontent.com/46367679/83797359-2735f280-a6c0-11ea-8318-98b3a9adda67.png)

In ngrok console i found few api call got internal server error 500.

![image](https://user-images.githubusercontent.com/46367679/83797426-403ea380-a6c0-11ea-95b2-d9c2ec9b

[2020-06-05 17:44] mvilanova commented on #401
@tomarv2 last release broke master. We just fixed it. Try again and let us know.

[2020-06-05 18:14] mvilanova commented on #406
@Martin1196155 the error in the first screen is expected when there's no data in the database. @kevgliss we may want to provide a less scary, more informative message here.

[2020-06-05 18:23] kevgliss commented on #406
The errors could be lack of data or something else entirely, we would need the error logs from the server to know. @Martin1196155 could you provide those logs?

[2020-06-05 18:55] Martin1196155 commented on #406
@mvilanova @kevgliss Please find the attachment contains the docker logs for the dispatch web container.
[Logs.txt](https://github.com/Netflix/dispatch/files/4737910/Logs.txt)

[2020-06-05 19:13] tomarv2 commented on #401
@mvilanova now getting this:

[code]

[2020-06-05 19:35] yeshwanth1312 opened #416 "Getting Error with database setup"
**Describe the bug**
Error loading plugins

**To Reproduce**
Steps to reproduce the behavior:
when reloading UI , We always see below
Something has gone very wrong, please retry or let your admin know that you recieved this error.

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Run

[2020-06-05 19:47] kevgliss commented on #416
Are you running this directly or via `dispatch-docker` file? This usually means that your database is not up to date. Please run `dispatch database upgrade`

[2020-06-05 19:49] kevgliss commented on #406
I don't see the server startup in those logs, but based on `2020-06-05T15:26:58.800406049Z KeyError: 'dispatch-auth-provider-basic'` it's likely that your database is not up to date. Please try and run `dispatch database upgrade`

[2020-06-05 20:03] yeshwanth1312 commented on #416
`dispatch database upgrade
No JWT secret specified, this is required if you are using basic authentication.
No metric providers specified metrics will not be sent.
ERROR:dispatch.common.utils.cli:Something went wrong with creating plugin rows, is the database setup correctly?
ERROR:dispatch.common.utils.cli:Something went wrong with creating plugin rows, is the database setup correctly?
ERROR:disp

[2020-06-05 21:09] kevgliss commented on #416
Do you only see that error on the dashboard? Also, how are you loading that sample data into the database?

[2020-06-06 00:51] kstringlo opened #421 "Not able to create an incident"
I have created my first incident and is not loading in
http://0.0.0.0/incidents web page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Incidents and create a new incident.'
I have previously created a Document, and Incident Type, Definition & Priority. But when I try to create the Incident I'm getting an error in the console

**Screenshots**
![image](https://user-images.githubuserco

[2020-06-06 00:52] kstringlo commented on #421
Attaching the har file for the Post on Incident API
[test.txt](https://github.com/Netflix/dispatch/files/4739116/test.txt)

[2020-06-08 16:15] mvilanova commented on #421
@kstringlo can you attach the server logs? Did you create an oncall service in /services?

[2020-06-08 16:16] mvilanova commented on #401
@tomarv2 the following error is telling you that you're missing the Slack `users.profile:read` bot scope: `ERROR: SlackError. Response: {'ok': False, 'error': 'missing_scope', 'needed': 'users.profile:read', 'provided': 'incoming-webhook,channels:read,groups:read,groups:history,reactions:read,commands,chat:write,files:read,groups:write,im:history,im:write,mpim:history,mpim:read,mpim:write,pins:wri

[2020-06-08 16:46] tomarv2 commented on #401
@mvilanova it moved bit further, this error:

[code]

[2020-06-08 18:00] kstringlo commented on #421
@mvilanova I have created an on-call service.
[dispatch_logs.txt](https://github.com/Netflix/dispatch/files/4747639/dispatch_logs.txt)

I notice that the API is able to call the service without problems `"GET /api/v1/services/?q=Pagerduty-POC HTTP/1.1" 200 OK`

But every time that I create an incident I'm getting assigned to this user with the reporter role. And I guess that due that reason I'm no

[2020-06-08 18:03] mvilanova commented on #401
@tomarv2 IIRC you said you had your own Jira plugin? Is it taking a different amount of arguments that the ones passed to `plugin.instance.create()` in incident/flows.py line 130?

[2020-06-08 18:06] tomarv2 commented on #401
thanks @mvilanova it was working in the previous deployment, let me see what changed..

[2020-06-08 18:23] yeshwanth1312 commented on #416
I am using psql
`psql dispatch < dis.dump`

[2020-06-08 22:01] tomarv2 commented on #401
started getting this, may be I am doing something wrong:

[code]

[2020-06-08 22:22] mvilanova commented on #421
I think they unrelated. `dispatch@example.com` is the default user when authentication is disabled: https://hawkins.gitbook.io/dispatch/configuration/app#dispatch_authentication_default_user-default-dispatch-example-com. You may want to set `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic` in your `.env` to use basic email/ password login. Then, Dispatch will use the email you'r

[2020-06-08 22:28] mvilanova commented on #401
`ERROR:    SlackError. Response: {'ok': False, 'error': 'users_not_found'} Endpoint: users.lookupByEmail kwargs: {'email': 'dispatch@example.com'}`

`dispatch@example.com` is the default user when authentication is disabled: https://hawkins.gitbook.io/dispatch/configuration/app#dispatch_authentication_default_user-default-dispatch-example-com. Unless there's a user in your Slack workspace with thi

[2020-06-08 22:29] kevgliss commented on #416
Do you see any other errors in the logs or when you import the data? I believe your command should work, however, to be on the safe side can you try with the dispatch restore command?

Rename your dump file to `dispatch-backup.dump` and then run `dispatch database drop` and `dispatch database restore`

[2020-06-08 23:13] kstringlo commented on #421
@mvilanova  the `XXXXXX` service was redacted. Like you mentioned **dispatch** was expecting a schedule in the Pagerduty service. In my previous setup, I only have one person assigned on the on-call to this service without a schedule;  Seem like for that I was receiving the error
[code]
After fixing the above in Pagerduty configuration. Dispatch now is trying to create the issue in Jira.
[dispatch

[2020-06-08 23:22] tomarv2 commented on #401
these are the 3 lines are added:

[code]

[code]

[2020-06-09 02:18] tomarv2 commented on #401
@mvilanova few issues I noticed:

- Every time I move away from the dispatch window I have to go back to the login page to make it work and it does not say I am logged out, it stops working. I checked the token timeout is set to 24hrs.

- Also,  I noticed the plugins are not getting loaded fast, in my old deployment, they were quick.

[2020-06-09 04:54] tomarv2 commented on #401
When an incident is opened for the 1st time:

The jira description looks like this and it is assigned to the incident commander:

<img width="336" alt="Screen Shot 2020-06-08 at 9 52 22 PM" src="https://user-images.githubusercontent.com/11890959/84107431-6e7af680-a9d2-11ea-8c89-1500fc36c1d5.png">

After I updated it, it adds google drive docs and its goes unassgined:

<img width="369" alt="Screen

[2020-06-09 07:23] tomarv2 commented on #401
One last thing, I am seeing this is logs:

[code]

[2020-06-09 15:58] yeshwanth1312 commented on #416
Hi @kevgliss , Still not able to get this working , Did `dispatch database restore` , Restore says success , I am attaching logs here , Please have a look
[Log.txt](https://github.com/Netflix/dispatch/files/4753279/Log.txt)

[2020-06-09 16:35] kevgliss commented on #416
Please run `dispatch database upgrade` after you do the restore, I think the example data is a bit old and we still need to update it to the latest release, if that works I'll work on updating the example data.

[2020-06-09 16:50] mvilanova commented on #401
@tomarv2 hmm looks like the `email` key does not exist inside `profile` in your workspace. Could you paste the result of running `(await get_user_info_by_id_async(client, user_id))["profile"]` here please?

[2020-06-09 17:41] mvilanova commented on #421
@kstringlo looks like the Jira plugin still has some Netflix specific custom fields (priority, cost). I'll cut a PR to get ride of them.

Can you paste the error mentioned in `Table.vue?76f9:5`?

[2020-06-09 18:32] yeshwanth1312 commented on #416
@kevgliss No luck .. Still not seeing data in UI

[2020-06-09 19:32] tomarv2 commented on #401
Stuck on this, i was not seeing it before, any pointers:

[code]

[2020-06-09 19:47] mvilanova commented on #421
@kstringlo https://github.com/Netflix/dispatch/pull/430 should fix your Jira issues.

[2020-06-10 01:16] kstringlo commented on #421
@mvilanova  This is the error that I'm getting.
[code]
I think could be related to https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/src/incident/Table.vue#L45

While I'm loading the http://xxx.xxx.xxx.xxx/incidents. Please let me know if you require any Json
for any of the below endpoints that is calling dispatch
I'm getting this logs from the server
[code]

[2020-06-10 10:35] tomarv2 commented on #401
I looked at the logs, I think this might be the cause:

[code]

[2020-06-10 22:58] tomarv2 commented on #401
So, If I am updating slack channel for the event its failing, so I am guessing something connecting to slack is having issue <img width="533" alt="Screen Shot 2020-06-10 at 3 57 20 PM" src="https://user-images.githubusercontent.com/11890959/84327019-27584700-ab33-11ea-9e03-2218f3aacc3b.png">

[2020-06-11 16:41] gargrag commented on #76
Hi, is there any documentation about how to configure google auth for dispatch?

[2020-06-11 17:04] mvilanova commented on #76
@gargrag you can find it here: https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-g-suite

[2020-06-11 17:14] mvilanova commented on #421
@kstringlo what would your ideal setup be, Twilio for oncall and Dispatch for ticket management? If so, you could contribute an oncall plugin for Twilio and use the Dispatch ticket plugin instead of the Jira one. You can enable/ disable plugins at http://www.example.com/plugins.  You can find the PagerDuty plugin [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch

[2020-06-11 21:36] tomarv2 commented on #401
so, even with `basic auth` disabled. I am getting this error:

[code]

[2020-06-12 14:25] tomarv2 opened #438 "Duplicate entries in Documents"
Hi Team,

I am seeing duplicate entries in docs for two items:

- Incident Conversation Reference Command Doc
- Incident FAQs

I was expecting they would begin Jira ticket name as other Docs.

<img width="563" alt="Screen Shot 2020-06-12 at 7 15 02 AM" src="https://user-images.githubusercontent.com/11890959/84512999-a9548700-ac7d-11ea-9f2f-b2e52c03e7eb.png">

[2020-06-12 18:19] mvilanova commented on #401
@tomarv2 does your service account's Client ID have access to all the necessary OAuth scopes, and more specifically the ones required by the docs [plugin](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_google/docs/plugin.py#L102)?

See https://developers.google.com/identity/protocols/oauth2/service-account#delegatingauthority and https://developers.google.com/identi

[2020-06-12 18:24] mvilanova commented on #438
@tomarv2 we are not prefixing them with the incident's name, because they're not specific to any incident. We create an object for them every time an incident is created, that's why you see duplicated entries for them. We're aware of it and will fix it. Thanks

[2020-06-12 18:41] tomarv2 commented on #401
I reverted to the old version from couple of weeks ago and I am not seeing that error, so I guess something in the flow is different.

Let me do some more debugging(print statements).

[2020-06-12 20:03] tomarv2 commented on #401
added few print statement:

`incident/flows.py` -> `def update_document` and I see its getting all variables

[code]

[2020-06-12 21:50] gargrag commented on #406
Hi I'm having the same error on a fresh install, I did run the `dispatch database upgrade`

![image](https://user-images.githubusercontent.com/967311/84549126-1424b300-acbc-11ea-80f5-ecc8c41de64e.png)

I'm still debugging to see if I can find something else.

[2020-06-12 22:10] gargrag commented on #406
@Martin1196155  OK! got it, you DO NEED to set `DISPATCH_JWT_SECRET=something` if you want to get rid of the error.

[2020-06-12 23:30] gargrag commented on #76
@mvilanova Thanks! I promess I will update the docs after this, but.... After I set all the google G suite configuration, how do I configure dispatch so that every user will login through google? Thanks!!!

[2020-06-14 12:05] Martin1196155 commented on #406
I think the new update in the dispatch-docker works. I registering by using https://XXXXXX:8000/register. Now i am not getting this issue.

[2020-06-15 14:55] Martin1196155 commented on #406
But still i am getting error while creating incident.
![image](https://user-images.githubusercontent.com/46367679/84672471-37fb2980-af46-11ea-9759-15c699209585.png)
![image](https://user-images.githubusercontent.com/46367679/84672558-506b4400-af46-11ea-9d7b-580e90f17e49.png)

[2020-06-15 16:14] kevgliss commented on #406
@Martin1196155 we still require that all plugins are set up correctly before we can create an incident, we're working on making them optional (#55) but you're likely running into an issue where one of the required plugins is not setup correctly.

You'll likely to take a look at the server logs to see which plugin is not setup correctly.

[2020-06-15 17:42] tomarv2 commented on #401
@mvilanova finally it worked, i sent a PR, if you feel its right, please merge: https://github.com/Netflix/dispatch/pull/441/files

[2020-06-16 16:49] mvilanova commented on #76
@kevgliss can you answer @gargrag question above?

[2020-06-16 17:26] kevgliss commented on #76
@gargrag the TLDR, is that Dispatch should work with any provider that supports the PKCE authentication flow. Unfortunately, this means there are multiple ways to accomplish your goal;

Depending on what is already available in your organization some possible options:
- https://developer.okta.com/blog/2019/08/22/okta-authjs-pkce
- https://www.oauth.com/oauth2-servers/signing-in-with-google/
- http

[2020-06-16 23:36] kstringlo commented on #421
Hi @mvilanova  After changing the code for the Jira plugin https://github.com/Netflix/dispatch/pull/447 I was able to create an incident visible in the GUI. However, I got some errors on adding the participants.
[code]
I think I'm getting the error on `INCIDENT_PLUGIN_GROUP_SLUG` because I have not set up the GSuite plugin yet.
https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-

[2020-06-17 00:06] mvilanova commented on #421
@kstringlo yeah, G Suite is currently required for Dispatch to work.

[2020-06-17 02:44] kstringlo commented on #421
Hi @mvilanova I have added to the `.env` all the G Gsuite configuration and I got the error.
After reviewing the database
[code]
I notice that the current value for the slug is ` google-group-participant-group`
This is not showing in the https://github.com/Netflix/dispatch-docker/blob/4ea3793d073b5c2e0bb136f76eec9e8e5e95bfe4/.env.example#L53

After modifying it seems that it is working (I will rev

[2020-06-17 18:00] mvilanova commented on #421
@kstringlo `google-group-participant-group` is the default value, if you don't specify one in the `.env` file (see https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L143). Looks like we made a mistake in the example `.env`. I'll get it fixed. Nice catch!

If you use the `dispatch-auth-provider-basic` auth plugin, Dispatch should resolve and use the email you used to register

[2020-06-19 06:55] bobmorane83 commented on #416
Exact same problem here.

[2020-06-19 16:45] kevgliss commented on #416
@bobmorane83 is your problem that you aren't seeing example data or that you  get the error: `No JWT secret specified, this is required if you are using basic authentication.`?

[2020-06-19 17:09] bobmorane83 commented on #416
Setting DISPATCH_JWT_SECRET=something did the trick. Thanks.
I'am now stuck in Javascript error to display incidents : TypeError: Cannot read property 'weblink' of null
Seems that the sample database is missing some fields : "href":item.commander.weblink

[2020-06-19 18:29] kevgliss commented on #416
So, I think the example data was pretty old. @bobmorane83 would you mind seeing if this dump resolves your issue? It's based on the `master` codebase branch: https://github.com/Netflix/dispatch/pull/455

The established user is:
`joe@example.com:test`

[2020-06-19 21:22] bobmorane83 commented on #416
Much better ;)
After : `dispatch database drop` and `dispatch database restore`, I could login, not with `joe@example.com:test` but with your real email address. May be you want to change that.
Thanks for the support.

[2020-06-19 21:36] #416 closed

[2020-06-22 08:38] sebigavril opened #458 "Can't create incident: "Multiple rows were found for one_or_none""
**Describe the bug**
I am have setup dispatch using docker. When i click on the button to create an incident i get the following stack-trace.

[code]

**System**
 - OS: macOS Catalina10.15.5
 - Docker: 19.03.8
 - Docker compose: 1.25.5
 - dispatch-docker commit: 4ea3793d073b5c2e0bb136f76eec9e8e5e95bfe4

Note: i have tried both with an empty db and after restoring the [dump](https://github.com/Netf

[2020-06-23 04:44] chapmanjacobd opened #459 "Installation instructions outside of docker ?"
**Is your feature request related to a problem? Please describe.**
I would like to install this on AppEngine Standard but I'm not too familiar with python

**Describe the solution you'd like**
I think this should be possible. I've already pre-built the Vue static files so I won't need to run node in AppEngine

[code]

I'm pretty sure connecting to CloudSQL is like this:

[code]

I'm using this ent

[2020-06-23 12:02] batisteo opened #460 "Lifecycle of an incident managed within Slack actions"
**Is your feature request related to a problem? Please describe.**
We are evaluating Dispatch to replace our in-house solution based on a Slack bot.

**Describe the solution you'd like**
I wonder if it would be possible to control the workflow/lifecycle of an incident directly in Slack with buttons.
I’m not sure how is it done right now, and I would be curious to see if you would be interested in

[2020-06-23 16:14] kevgliss commented on #460
Hi @batisteo, Dispatch does allow you to manage the entire lifecycle of an incident from Slack using a combination of buttons, modals, dialogs, and commands.

This includes things like:

- Assigning incident roles
- Updating incident information (status, description, type, etc.,)
- Creating status reports
- Listing incident resources
- Creating a new incident
- Many more

There are a few features

[2020-06-23 16:16] kevgliss commented on #459
Perhaps you need the `wheel` package?

See: https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci

[2020-06-23 16:22] kevgliss commented on #458
It looks like you have multiple plugins enabled for `contact` you could try disabling one in the UI. Alternatively, I'm not sure when you got your dump file but I created a new one a few days ago that might resolve your issue see:  #455

[2020-06-23 16:42] #401 closed

[2020-06-23 16:44] #406 closed

[2020-06-23 16:45] #421 closed

[2020-06-24 10:31] chapmanjacobd commented on #459
Do you think it is possible to run this without `sudo` being a requirement? It looks like system-level packages are not supported on AppEngine either. Maybe I will need to modify setup.py to make it more stateless...

if you were setting this up outside of docker what would the steps be ?

[code]

[2020-06-24 16:14] kevgliss commented on #459
On a macro level it's just a python app, so any tutorials on installing python apps would be relevant, I haven't deployed to app engine before so I'm not sure if its particular quirks. I think you're on the right path, for example to run on my local Linux machine the steps are basically:

`git clone git@github.com:Netflix/dispatch.git`
`cd dispatch`
`pip install -e .`

and then to run the server:

[2020-06-25 12:27] chapmanjacobd commented on #459
[code]

If I use this as my entrypoint `python setup.py install && dispatch server start` on AppEngine then I get

[code]

It looks like AppEngine will only support installing via `requirements.txt` so I added `./` to requirements.txt (copied from requirements-base.txt:

I get this error message:

[code]

I think I'm pretty close to getting it working. I removed `self._setup_js_deps()` from `setup

[2020-06-25 12:27] #459 closed

[2020-06-25 16:33] #460 closed

[2020-06-26 19:34] kevgliss commented on #438
Going forward this should be fixed by #461. Currently, I do no plan to create a migration to cleanup existing duplicates.

[2020-06-26 19:34] #438 closed

[2020-06-26 19:36] #319 closed

[2020-06-30 00:09] #55 closed

[2020-06-30 13:14] nitzango commented on #360
@mvilanova @kevgliss  - I got to a point that no matter what I do, even when starting from a fresh install I get this errors. Steps I did:

1. Clone the repo
2. Created .env and filled in all necessary details (GSuite, Slack and Jira)
3. Added `DISPATCH_JWT_SECRET` and `VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic` based on what the guys wrote
4. Ran `./install`
5. Ac

[2020-06-30 17:09] kevgliss commented on #360
Try setting:
 `DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic`

instead of:
`VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic`.

You don't actually need to set the `VUE_APP_` as they just need to match:
https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L79

Was there some documentation that made you think it needed to be set? If s

[2020-07-02 14:17] nitzango commented on #360
Thanks @kevgliss. I tried it and result is the same.
When I'm logging in, I can see the dashboards filled with data (on homepage), but then after refresh it seems empty (like I was logged out) and then I get this error.

[2020-07-02 17:54] kevgliss commented on #360
Okay, that helps, let me see if I can repo locally.

[2020-07-08 22:32] gargrag opened #492 "Improve documentation about PKCE"
Hi, we are trying to adopt the tool, and we are struggling trying to configure PKCE with google auth, PKCE it's kind of new, we may not be fully getting it. But is it possible that you guys can help us configure that, so that we can contribute to the docs?

The issue now, is that without an auth provider, the app is not usable. We also detected that may be an inconsistency between the docs and the

[2020-07-09 13:53] johnbuhay commented on #492
Is anyone successfully using the PKCE plugin? We are getting 401 responses but no redirect or log detailing why. Here is what we have tried so far and what we have learned:

I have not confirmed yet what `Authorized redirect URIs` to list on the IDP side of things. Can you point us to this? What I have found is https://github.com/Netflix/dispatch/blob/355eb650c0cc47e6e7f451fe313e383da8d182e2/src/d

[2020-07-09 16:34] kevgliss commented on #492
Unfortunately, I believe every IDP will be a little bit different. I haven't personally tried to integrate with the Google IDP itself (we have an internal IDP based on Ping) so I don't have _explicit_ directions however our hope is that in choosing PKCE as a standard we should be able to support any IDP that supports PKCE.

A few thoughts:

@gargrag @johnbuhay -- Yes, you're correct, the docs shou

[2020-07-09 18:02] johnbuhay commented on #492
No, we do not get redirected to the IDP

I have verified the IDP configuration successfully using the `/implicit/callback`authorized_uri and https://github.com/aaronpk/pkce-vanilla-js

*Note: wildcard substitution for paths are not supported by Google OAuth clients

<img width="1430" alt="Screen Shot 2020-07-09 at 1 47 59 PM" src="https://user-images.githubusercontent.com/6697003/87074294-a604da80

[2020-07-09 18:24] kevgliss commented on #492
Can you set a breakpoint here:
https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/src/router/index.js#L27

And verify that you're entering the PKCE auth flow?

[2020-07-09 18:29] kevgliss commented on #492
If you're building the JS app separately (i.e. not having the dispatch install do it for you). There are a few things you will have to do to get the var set correctly. Essentially you will need a `.env` available _at build time_ for the frontend (it needs to exist in that dir). See: https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/.env.example_vue_app

It could be we a

[2020-07-09 19:20] willbengtson commented on #492
`VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-pkce` is needed and verified we use the `dispatch-auth-provider-pkce` plugin here

[2020-07-09 21:22] johnbuhay commented on #492
We are building using the provided Dockerfile. Adding the `.env` and updating the vars solved our issue where the PKCE flow was not being initiated. I missed that.

We now have a new issue where [process.env.VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_PKCE_OPEN_ID_CONNECT_URL](https://github.com/Netflix/dispatch/blob/3b17bffbacdb44be2220303574ad4c1848404a71/src/dispatch/static/dispatch/src/auth/pkceA

[2020-07-09 21:29] alexa-kelley-vim opened #495 "Slack Returning Error on Command"
**Describe the bug**
When attempting to us a / command in slack associated with Dispatch I receive an error.

for example
`/dispatch-assign-role failed with the error "http_client_error"`

on the backend I get the following log error:
`web_1        | INFO:     <scrubbed IP>:55234 - "POST /api/v1/events/slack/dispatch-update-incident HTTP/1.1" 404 Not Found
web_1        | INFO:     <scrubbed IP>:64

[2020-07-09 21:33] johnbuhay commented on #492
So it seems we have an issue where at build time, [`process.env.VAR` is not being interpolated](https://cli.vuejs.org/guide/mode-and-env.html#using-env-variables-in-client-side-code).

Looking into
https://github.com/Netflix/dispatch/blob/develop/docker/Dockerfile#L92
https://github.com/Netflix/dispatch/blob/develop/setup.py

[2020-07-09 21:36] mvilanova commented on #495
Hi @alexa-kelley-vim, we use the same endpoint for all commands `/api/v1/events/slack/command`. Can you update the request url in all your commands and try again?

[2020-07-09 21:58] kevgliss commented on #492
I wonder if we're missing a COPY for the ENV file at some point. I would have thought this would be enough:

https://github.com/Netflix/dispatch/blob/develop/docker/Dockerfile#L89

[2020-07-09 22:11] alexa-kelley-vim commented on #495
Thank you that seems to have done the trick for the /commands. Although now I'm noticing the following in the logs.

web_1        | Traceback (most recent call last):
web_1        |   File "/usr/local/lib/python3.8/site-packages/dispatch/decorators.py", line 35, in wrapper
web_1        |     result = func(*args, **kwargs)
web_1        |   File "/usr/local/lib/python3.8/site-packages/dispatch/incid

[2020-07-09 22:13] alexa-kelley-vim commented on #495
actually it looks like that is part of a separate issue. I'm going to test further and create a separate issue on it. The core issue with the / slack commands has been resolved. Thank you.

[2020-07-09 22:13] #495 closed

[2020-07-09 22:43] johnbuhay commented on #492
I have discovered this [VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_PKCE_OPEN_ID_CONNECT](https://github.com/Netflix/dispatch/search?q=VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_PKCE_OPEN_ID_CONNECT&unscoped_q=VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_PKCE_OPEN_ID_CONNECT) is unused.

It should be: [VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_PKCE_OPEN_ID_CONNECT_URL](https://github.com/Netflix/dispatch/se

[2020-07-09 22:48] johnbuhay commented on #492
It is and to verify I added `RUN ls -lah /usr/src/dispatch/ && ls -lah /usr/src/dispatch/src/dispatch/static/dispatch/ && exit 1` to look for the `.env` during the build

[2020-07-09 23:44] anm322 commented on #202
@stefanm8 I am also interested in helping with this, if any additional help is needed.

[2020-07-10 15:20] alexa-kelley-vim opened #496 "Scheduler error after creating new incident"
After creating an incident in Dispatch I get the following error in the logs. This seems related to the incident creation process itself. Do you have any suggestions on what may be the cause?

scheduler_1  | ERROR:dispatch.incident.scheduled:unsupported operand type(s) for -: 'NoneType' and 'datetime.datetime'

For context I am running a fresh copy of the development branch through docker.

[2020-07-10 16:49] mvilanova commented on #496
@alexa-kelley-vim can you share the server logs? My gut tells me it could be [this](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/incident/service.py#L321), but I need to see the server logs to be sure.

[2020-07-10 16:52] alexa-kelley-vim commented on #496
I'm in the process of rebuilding the DB at the moment to ensure that there weren't any problems there. However I'll see if I can recreate after that. Was there a specific log that you were wanting?

[2020-07-10 16:57] johnbuhay commented on #492
Status update:

After baking the client_id and oidc_url into a new container we are triggering the pkce plugin and redirect to the IDP for login.
We now get stuck on the `/implicit/callback?...&prompt=consent`.

Furthermore it seems the [Google token retrieval requires client_secret](https://developers.google.com/identity/protocols/oauth2/native-app#exchange-authorization-code), and I do not see a

[2020-07-10 16:58] mvilanova commented on #496
The error logs from the server. Try running [docker logs](https://docs.docker.com/config/containers/logging/) and see if they're there.

[2020-07-10 17:11] kevgliss commented on #492
We could add the ability to set the `client_secret` easily enough, according to the library we use to handle this flow (AppAuth) that "secret" isn't really a secret: https://github.com/openid/AppAuth-JS/issues/46

Again, each IDP is a bit different. If you do wish to go down the road of having a different auth flow, I would be happy to merge something in if it makes it easier for folks to use the

[2020-07-10 18:37] alexa-kelley-vim commented on #496
Here is a copy of the log after attempting to create an incident. I am attempting to create incidents without the calendar scope as mentioned in the documentation is possible. I have disabled the calendar plugin in dispatch through the UI and the service account does not have calendar scope.

[code]

[2020-07-13 16:00] johnbuhay commented on #492
A few things to note

1 - I will try to get a PR merged in the [openid/appauth](https://github.com/openid/AppAuth-JS/blob/49a73540b915d45c0dac20afc9e5ef8db49bbe5c/src/token_request.ts#L27) library, that will probably take some time as other PR's seem to have stalled on the project. Currently, it is missing support for passing the optional `client_secret` to requests. I can understand why as the [R

[2020-07-13 17:35] mvilanova commented on #496
@alexa-kelley-vim, there needs to be a conference plugin always enabled, as it's required. If you use the Google Calendar plugin, then you need to add the calendar scope to your client ID. Alternatively, you can use the [Zoom plugin](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-zoom).

Did you not get `Plugin not updated. Reason: Cannot disable plugin: Google Calendar Plug

[2020-07-13 19:41] alexa-kelley-vim commented on #496
That's the unusual thing. I actually have the plugin configured with zoom. Here is the relevant section from my .env

# Plugin configuration
INCIDENT_PLUGIN_CONFERENCE_PLUGIN=zoom-conference
INCIDENT_PLUGIN_CONTACT_SLUG=slack-contact
INCIDENT_PLUGIN_CONVERSATION_SLUG=slack-conversation
INCIDENT_PLUGIN_DOCUMENT_RESOLVER_SLUG=dispatch-document-resolver
INCIDENT_PLUGIN_DOCUMENT_SLUG=google-docs-docum

[2020-07-13 19:44] mvilanova commented on #496
@alexa-kelley-vim , the env var is `INCIDENT_PLUGIN_CONFERENCE_SLUG` not `INCIDENT_PLUGIN_CONFERENCE_PLUGIN `. Can you fix it and try again?

[2020-07-13 19:47] alexa-kelley-vim commented on #496
That would certainly explain why it wasn't taking properly. I've adjusting the .env and restarting now to test.

[2020-07-13 19:49] alexa-kelley-vim commented on #496
looks like it took successfully this time in the config.

`INCIDENT_PLUGIN_CONFERENCE_SLUG                                    zoom-conference
`

I'll do some testing to see if the error with the scheduler continues.

[2020-07-13 20:00] alexa-kelley-vim commented on #496
@mvilanova
Alright that got me farther along.

Now I seem to be running into an issue with the slack plugin. Best I can tell it's not able to enumerate the email properly from the directory. I'm going to double check my settings to see if I missed something. (However the slack plugin _was_ able to create a channel with myself and our current person in pagerduty. However some functionality such as

[2020-07-13 20:08] mvilanova commented on #496
Nice! We recently renamed `/dispatch-status-report` to `/dispatch-tactical-report`. See the complete list of commands [here](https://github.com/Netflix/dispatch/blob/develop/docs/configuration/plugins/configuring-slack.md#commands) or in the code [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_slack/config.py). Apologies for the inconvenience.

[2020-07-13 20:17] alexa-kelley-vim commented on #496
@mvilanova
Ah! ok I'll adjust that in the app.
I also noticed I hadn't configured "SLACK_PROFILE_WEBLINK_FIELD_ID=" or "SLACK_PROFILE_TEAM_FIELD_ID=". I've found the "SLACK_PROFILE_TEAM_FIELD_ID=" alright. but could you explain what or where I could find "SLACK_PROFILE_WEBLINK_FIELD_ID=" ?

[2020-07-13 20:25] mvilanova commented on #496
@alexa-kelley-vim these env vars are optional (see [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_slack/config.py#L7)) and might be different across organizations. We don't use them here at Netflix.

[2020-07-13 20:41] alexa-kelley-vim commented on #496
@mvilanova
Ah ok. It looks like I may be a few updates behind so I'm going to update to most recent and rebuild and see how it does.

Hopefully it will also start using the behavior in https://github.com/Netflix/dispatch/pull/205 as well instead of using folders.

[2020-07-13 20:57] alexa-kelley-vim commented on #496
that's odd. I'm still getting the following error. Although I'm also getting the scheduler error as well. I'm going to go through the DB and remove any hanging incidents to see if that resolves it.
[code]

[2020-07-13 21:07] mvilanova commented on #496
Does the `email` field exist in the user's Slack profile? If not, is it defined in another place?

[2020-07-13 21:12] mvilanova commented on #496
Wait, do you have `SLACK_APP_USER_SLUG` set to the Slack app's user id? We use this id to ignore any events generated by the app.

[2020-07-13 21:12] alexa-kelley-vim commented on #496
it does, but the field is labeled as "Email address" instead of "*Email"*

On Mon, Jul 13, 2020 at 5:08 PM Marc Vilanova <notifications@github.com>
wrote:

--
*Alexa Kelley*
Infrastructure Security Engineer
[image: Image result for vimeo]

[2020-07-13 21:14] alexa-kelley-vim commented on #496
I do have SLACK_APP_USER_SLUG assigned to the app's user id. Sounds like that is the cause.

[2020-07-14 14:50] alexa-kelley-vim commented on #496
@mvilanova To clarify is there an extra step that you would recommend as far as configuration for the app or the slack bot to remedy the error?

[2020-07-14 17:52] mvilanova commented on #496
@alexa-kelley-vim , no extra step. The only env vars that you need to set are: `SLACK_API_BOT_TOKEN`, `SLACK_SIGNING_SECRET`, `SLACK_WORKSPACE_NAME`, and `SLACK_APP_USER_SLUG`. Make sure that the `SLACK_APP_USER_SLUG` is set to the right id. The app/ bot has three ids IIRC (app, bot, and user). The user one starts with `U`. You may want to use [this](https://api.slack.com/methods/bots.info) endpoi

[2020-07-14 20:06] alexa-kelley-vim commented on #496
@mvilanova
Finally got it. I had to go through the `auth.test` endpoint as there wasn't another clear listing for the bot_id or user_id. I'll confirm how things work in some tests for today.

As a suggestion you may want to call out in your documentation for the plugins which fields are explicitly required. Either in a section or with a flag of some sort.

[2020-07-14 20:27] mccannm1 opened #501 "Cannot see dispatch views being populated with data, after configuring database correctly!"
**Describe the bug**
   This similar to issue:  https://github.com/Netflix/dispatch/issues/416

   Problem:  I start the dispatch server:    docker-compose up -d
   When I hit the URL http://server1.fyre.ibm.com:8000/dashboard    I do see the page rendering
		  but the views/dashboards are not getting populated and a message appears saying
		  "Something has gone very wrong please retry or inform

[2020-07-14 20:39] mccannm1 commented on #501
[Install_Dispatch.txt](https://github.com/Netflix/dispatch/files/4921201/Install_Dispatch.txt)

[install_postgres.txt](https://github.com/Netflix/dispatch/files/4921265/install_postgres.txt)
[install_2_end.txt](https://github.com/Netflix/dispatch/files/4921273/install_2_end.txt)
[install_2_start.txt](https://github.com/Netflix/dispatch/files/4921274/install_2_start.txt)

[2020-07-14 20:40] mccannm1 commented on #501
Closed in error, re-opened

[2020-07-14 20:42] mccannm1 commented on #501
To connect to the database I need to make these changes on the database server
https://stackoverflow.com/questions/38466190/cant-connect-to-postgresql-on-port-5432

[2020-07-14 20:43] mccannm1 commented on #501
To establish a connection to the database I needed to make these config changes on the database side
https://stackoverflow.com/questions/38466190/cant-connect-to-postgresql-on-port-5432

[2020-07-14 21:07] mvilanova commented on #496
@alexa-kelley-vim, cool, let me know. Good suggestion, we'll update the docs.

[2020-07-15 15:50] alexa-kelley-vim commented on #496
So good news the scheduler error seems to be resolved now after I rebuilt the DB and doesn't seem to be coming back. I'm still getting some issues with slack and pagerduty. However this does not seem related to the scheduler problem I was having. I am going to go ahead and close out this issue as resolved since the specific problem is sorted. Thank you again for your time and help. :)

[2020-07-15 19:16] mvilanova commented on #496
Great. I updated the docs (https://github.com/Netflix/dispatch/pull/504). Let me know if it's less confusing now.

[2020-07-15 19:40] mvilanova commented on #501
@mccannm1 is the database running on port 5433 and `DATABASE_PORT=` in the `.env` file set to `5433`? Are they still on the same server or separate? If you drop into the server, can you login into the database? Is the database schema up to date? Can run `dispatch database upgrade` in the server and then start the server again to see if the error goes away? The other messages are warnings, not erro

[2020-07-15 19:43] kevgliss commented on #501
Note that `5433` is not the default postgres port (`5432`)

[2020-07-15 19:49] alexa-kelley-vim commented on #496
@mvilanova
Sorry to re-open the issue but I may have been able to track down what caused this original error to begin with. Specifically:

`scheduler_1  | ERROR:dispatch.incident.scheduled:unsupported operand type(s) for -: 'NoneType' and 'datetime.datetime'`

Previously when I managed to remove the error I had commented out both. This was during some earlier troubleshooting, but the underlying ha

[2020-07-15 19:58] kevgliss commented on #501
Also note, that default there will not be any data in the database, if you'd like to use some example data you would have to restore the sample dataset. Located here: https://github.com/Netflix/dispatch/blob/develop/data/dispatch-sample-data.dump

Once downloaded into the root application directory you can restore this data by issuing:

`mv dispatch-sample-data.dump dispatch-backup.dump`
`dispatch

[2020-07-15 20:13] mccannm1 commented on #501
Hi @mvilanova
I have the Postgres database installed on two servers server1 and server2.  Dispatch is installed on server1.
On server2 Postgres was using port 5432.  As I couldn't see data coming across in the UI I installed Postgres
on server1... It seemed I had to use port 5433 on this occasion... I modified the postgresql.conf , changed the port to 5432
(to keep things consistent)  and restarte

[2020-07-15 20:16] mccannm1 commented on #501
I imported the data using the dump file...like so
sudo -u postgres -i psql -h 127.0.0.1 -U postgres -p 5432 dispatch_db < /root/dispatch-sample-data.dump
This is on server2 , the .dump file from the repository
Does this not mean the database has data within it?     or have I misunderstood?

[2020-07-15 20:18] mccannm1 commented on #501
.env file
======
# General
COMPOSE_PROJECT_NAME=dispatch
DISPATCH_HELP_EMAIL=help@example.com
DISPATCH_HELP_SLACK_CHANNEL=#general
DISPATCH_UI_URL=https://example.com
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic
SECRET_KEY="wYOMpOU<(f%f?Rxt.%x;ARM38HMuZ5i,+2S_):=a9cy_tQiY@F"

# Database
# NOTE: Ensure that DATABASE_CREDENTIALS match the values passed to POSTGRES_USER and POST

[2020-07-15 20:20] mccannm1 commented on #501
COMPOSE_PROJECT_NAME=dispatch
DISPATCH_HELP_EMAIL=help@example.com
DISPATCH_HELP_SLACK_CHANNEL=#general
DISPATCH_UI_URL=https://example.com
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic
SECRET_KEY="wYOMpOU<(f%f?Rxt.%x;ARM38HMuZ5i,+2S_):=a9cy_tQiY@F"

Database
NOTE: Ensure that DATABASE_CREDENTIALS match the values passed to POSTGRES_USER and POSTGRES_PASSWORD

DATABASE_CREDENT

[2020-07-15 20:22] mccannm1 commented on #501
COMPOSE_PROJECT_NAME=dispatch
DISPATCH_HELP_EMAIL=help@example.com
DISPATCH_HELP_SLACK_CHANNEL=#general
DISPATCH_UI_URL=https://example.com
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-basic
SECRET_KEY="_key_here_"

Database
NOTE: Ensure that DATABASE_CREDENTIALS match the values passed to POSTGRES_USER and POSTGRES_PASSWORD

DATABASE_CREDENTIALS=postgres:_postgres_password_here_
D

[2020-07-15 20:24] mccannm1 commented on #501
_I can talk to the database on server2 from server1:_
root@pluck1:~/temp# java -cp ./postgresql-42.2.14.jre7.jar:. Testantic //antic1.fyre.ibm.com:5432/dispatch_db postgres <pasword_for_postgres>
**** Loaded the JDBC driver
**** Created a JDBC connection to the data source
**** Created JDBC Statement object
**** Created JDBC ResultSet object
**ID: 1	NAME: High	DESCRIPTION: Incidents of this priori

[2020-07-15 20:26] mccannm1 commented on #501
ava -cp ./postgresql-42.2.14.jre7.jar:. Testantic //antic1.fyre.ibm.com:5432/dispatch_db postgres _postgres_password_
**** Loaded the JDBC driver
**** Created a JDBC connection to the data source
**** Created JDBC Statement object
**** Created JDBC ResultSet object
**ID: 1	NAME: High	DESCRIPTION: Incidents of this priority need to be remediated immediately
ID: 2	NAME: Medium	DESCRIPTION: Incidents

[2020-07-15 20:27] mccannm1 commented on #501
I can talk to the DB on server2 from server1 (running query)

java -cp ./postgresql-42.2.14.jre7.jar:. Testantic //antic1.fyre.ibm.com:5432/dispatch_db postgres All4p1e1
**** Loaded the JDBC driver
**** Created a JDBC connection to the data source
**** Created JDBC Statement object
**** Created JDBC ResultSet object
**ID: 1	NAME: High	DESCRIPTION: Incidents of this priority need to be remediated i

[2020-07-15 20:28] mccannm1 commented on #501
I can talk to the DB on server2 from server1 (running query)

java -cp ./postgresql-42.2.14.jre7.jar:. Testantic //antic1.fyre.ibm.com:5432/dispatch_db postgres postgres_password
**** Loaded the JDBC driver
**** Created a JDBC connection to the data source
**** Created JDBC Statement object
**** Created JDBC ResultSet object
ID: 1	NAME: High	DESCRIPTION: Incidents of this priority need to be remed

[2020-07-15 20:40] johnbuhay commented on #492
Status update...

I have updated a private copy of the PKCEAuthPlugin to include the clientSecret option as an item in `extras:{client_secret: xyz}` and now does retrieve tokens from Google using the implicit grant flow

This now stands out as not being a JWT for jwt-decode https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/src/auth/pkceAuthProvider.js#L76

as this throw

[2020-07-15 20:47] mvilanova commented on #496
How often do you see the scheduler error? We have a couple of jobs (`calculate-incidents-cost` and `incident-status-reminder`) in the `dispatch.incident.scheduled` module that subtract date objects. If it's every 5 mins, then it's the `calculate-incidents-cost` one.

I suspect the reason why it's failing it's because the incident and its resources did not get created correctly in the db. Could you

[2020-07-15 20:54] mccannm1 commented on #501
sorry for poor formatting in previous posts:

dispatch: command not found

dispatch/dispatch-docker# docker-compose run dispatch server config
ERROR: No such service: dispatch

dispatch/dispatch-docker# docker-compose run dispatch database upgrade
ERROR: No such service: dispatch

[2020-07-15 21:32] mvilanova commented on #501
Looks like you're missing the service name after run (see https://docs.docker.com/compose/reference/run/). The command should be `docker-compose run *web* dispatch database upgrade`.

[2020-07-16 09:52] mccannm1 commented on #501
HI @mvilanova @kevgliss
I have run the commands using docker compose you had both suggested...but commands such as dispatch, and bash are
not recognised.. Please see attachment... docker_compose_run_failures.txt
Thanks
/Martin

[2020-07-16 10:11] mccannm1 commented on #501
[docker_compose_run_failures.txt](https://github.com/Netflix/dispatch/files/4930692/docker_compose_run_failures.txt)

[2020-07-16 15:05] alexa-kelley-vim commented on #496
Unfortunately I don't have an exact timestamp, but it looks like the error was hitting at least as often as once every 12 minutes based off some very rough math. It's entirely possible too that it is often as every 5 minutes.

I have dropped the database successfully, although I am having some difficulty with the restore using sample data. I was able to get the data into the container alright, and

[2020-07-16 16:20] alexa-kelley-vim commented on #496
So I ended up being able to successfully restore from one of my own earlier backups.

I did a timing test to see 1) if the scheduler error pops back up, and 2) if it does, how often it's occurring.

I can confirm definitively that it's at a 5 minute interval. So it looks like it is calculate-incidents-cost. I am going to attempt to clear out the incidents from the restore and restart the scheduler

[2020-07-16 16:34] kevgliss commented on #501
When using the docker compose, do not include `dispatch`.

e.g.

`docker-compose run web server config`

[2020-07-16 17:07] kevgliss commented on #496
@alexa-kelley-vim We do have an open issue to make the code more resilient to missing data in general. But we're not quite sure about our approach just yet. Unfortunately, I don't have a good solution to that particular error (except to add some additional error handling for this particular error).

[2020-07-16 17:40] alexa-kelley-vim commented on #496
So good news, my solution worked for removing the incident that had the missing data, and then restarting the scheduler. I'll put the approximate steps below in case others need to recreate the process.

As a suggestion, you may want to create a field or ID that is tracked against the incident(and related tables) during creation, and in the event of a critical failure (TBD, but probably along the

[2020-07-16 18:20] mccannm1 commented on #501
HI @kevgliss
Thanks , got that command working above as well as....  docker-compose run web database upgrade
Please see the attachment    docker-compose_run_web_database_restore.txt

I executed     **docker-compose run web database restore**
as you instructed earlier

mv dispatch-sample-data.dump dispatch-backup.dump
dispatch database restore

=> it says it is looking for the file
    dispatch-bac

[2020-07-16 18:21] mccannm1 commented on #501
[docker-compose_run_web_database_restore.txt](https://github.com/Netflix/dispatch/files/4933388/docker-compose_run_web_database_restore.txt)

[2020-07-16 18:30] kevgliss commented on #501
If you're attempting to use docker to do the restore you have to make the file available to the container. It looks like you would want:

https://docs.docker.com/engine/reference/commandline/cp/

[2020-07-16 18:59] mvilanova commented on #496
Yeah, good suggestion, we will look into it. Glad to hear you were able to find the issue and that the scheduler is not throwing errors anymore.

[2020-07-16 18:59] #496 closed

[2020-07-16 21:39] mccannm1 commented on #501
Hi @kevgliss  Thanks
So the .dump has to be copied to the containers file system.  dispatch_postgres_1 is the container as I understand it.
Where will it look for the .dump file ( the container ).....I copied to /root.... but it doesn't find it.....

root@pluck1:~/dispatch/dispatch-docker# docker ps
CONTAINER ID        IMAGE                      COMMAND                  CREATED             STATUS

[2020-07-16 21:41] mccannm1 commented on #501
Hi @kevgliss Thanks
So the .dump has to be copied to the containers file system. dispatch_postgres_1 is the container as I understand it.
Where will it look for the .dump file ( the container ).....I copied to /root.... but it doesn't find it.....

docker ps
CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES
1eecf6352b4d dispatch-local-web "dispatch database..." 11 minutes ago Up 6 seconds 8000

[2020-07-16 21:44] kevgliss commented on #501
The file will need to be copied to: `/usr/src/dispatch/`

[2020-07-17 08:51] mccannm1 commented on #501
docker cp dispatch-backup.dump dispatch_postgres_1:/usr/src/dispatch

From the Linux installation directory:  /root/dispatch/dispatch-docker

I see the same result... (in previous post above)

Continuing to investigate the problem..

[2020-07-17 08:54] mccannm1 commented on #501
docker cp dispatch-backup.dump dispatch_postgres_1:/usr/src/dispatch

From installation folder: /root/dispatch/dispatch-docker ran
docker-compose run web database restore

See the sdame output I saw from previous post, No such file or directory

Continuing to investigate the problem

[2020-07-17 08:54] mccannm1 commented on #501
docker cp dispatch-backup.dump dispatch_postgres_1:/usr/src/dispatch

From installation folder: /root/dispatch/dispatch-docker ran
docker-compose run web database restore

See the same output I saw from previous post, No such file or directory
Continuing to investigate the problem

[2020-07-17 09:34] mccannm1 commented on #501
dispatch I see is a file in this case?  now containing the content of the .dump file
is this correct?

dispatch/dispatch-docker# docker exec dispatch_postgres_1 ls -l /usr/src
total 136
-rwxr-xr-x 1 root root 135423 Jul 16 16:45 dispatch
/dispatch/dispatch-docker#

[2020-07-17 16:53] kevgliss commented on #501
Sorry, I haven't done this _within_ a container before. I think it would be easiest to copy your file to `/` and then directly specify it with the `--dump-file` arg.

Like so:
`docker-compose run web database restore --dump-file /dispatch-backup.dump`

[2020-07-20 13:25] mccannm1 commented on #501
HI @kevgliss  I see same result...
Can you inform _what log files I can look for on the file system which may provide more information as to what is causing the error?_
1. Is it possibly a licensing isssue?
2. In my installation folder (or project folder) I see these files..
   dispatch-backup.dump
   docker-compose.yml
   install.sh
   Makefile
   README.md
   requirements.txt
   requirements.txt

[2020-07-20 13:26] mccannm1 commented on #501
HI @kevgliss I see same result...
Can you inform what log files I can look for on the file system which may provide more information as to what is causing the error?

    Is it possibly a licensing isssue?

    In my installation folder (or project folder) I see these files..
    dispatch-backup.dump
    docker-compose.yml
    install.sh
    Makefile
    README.md
    requirements.txt
    requirem

[2020-07-20 18:02] mvilanova commented on #458
@sebigavril are you still experiencing this issue or were you able to resolve it?

[2020-07-21 15:54] alexa-kelley-vim opened #515 "Beta: Google Drive Folders "Sharing folders that are inside a shared drive is not supported.""
I am getting the following error when attempting to using the shared folder functionality within the develop branch in Dispatch. Could you please share instructions on the expected drive configuration so that I can recreate that on my end?

`web_1        | /usr/local/lib/python3.8/site-packages/sqlalchemy/orm/collections.py:628: SAWarning: This collection has been invalidated.
web_1        |   uti

[2020-07-21 16:23] kevgliss commented on #515
Have you enrolled in the beta?

https://support.google.com/a/answer/9890318?hl=en#:~:text=Help%20CenterCommunity-,Folder%20sharing%20in%20shared%20drives%20(beta),folders%20within%20a%20shared%20drive.

To signup:
https://docs.google.com/forms/d/e/1FAIpQLSfrILe0_bPkkI7pxfr-4rHk0qcajrUOHTcmrWPOVLo0SKNF7A/viewform

[2020-07-21 16:26] alexa-kelley-vim commented on #515
Ah no I haven't. I wasn't aware it was a pre-requisite to that functionality. I'll need to raise internally on if it's a direction we want to go with our GSuite administration or not.

[2020-07-21 16:30] kevgliss commented on #515
Yes, we can always backport the existing google shared drive functionality. But we think now that google is enabling shared folders it's a much better solution for a few reasons:

- Creating shared drives took longer and was more error-prone than creating folders
- Shared drives tend to clutter a users sidebar in google drive
- Archiving files meant moving files from one shared drive to another (w

[2020-07-21 18:34] kylie-sre commented on #360
@nitzango check that you're correctly sending the CORS headers to the Vue app. I encountered the same error as you and determined that the server wasn't sending the CORS headers I had configured with the `CORSMiddleware`. This was because the frontend code wasn't sending an `Origin` header with it's requests. By running the Vue app in one process with `npm run serve` and dispatch in another and ac

[2020-07-22 07:25] kamina-zzz opened #516 "GSuite User Registration"
Do you have any plans to register using Google SOO?

[2020-07-22 12:25] mccannm1 commented on #501
Hi @kevgliss
Not experience myself with docker and docker-compose. Perhaps this doesn't help. I had a look at some tutorials
on docker and docker-compose.  I am a little stumped on the last comment..

You mention I was copying a file to a container that isn't being used.
The docker ps output however shows three containers:  _dispatch_scheduler_1, dispatch_web_1 & dispatch_postgres_1_
that are up a

[2020-07-22 12:26] mccannm1 commented on #501
Not experience myself with docker and docker-compose. Perhaps this doesn't help. I had a look at some tutorials
on docker and docker-compose. I am a little stumped on the last comment..

You mention I was copying a file to a container that isn't being used.
The docker ps output however shows three containers: dispatch_scheduler_1, dispatch_web_1 & dispatch_postgres_1
that are up and running..based

[2020-07-22 16:43] mccannm1 commented on #501
How does the application read the database? from the defined DB properties in .env ?

[2020-07-22 19:13] mvilanova commented on #501
@mccannm1 correct, from the env vars in `.env` and the defaults in the [config.py](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/config.py#L122) module.

[2020-07-23 15:15] mccannm1 commented on #501
@mvilanova After install of docker, docker-compose and the installation of dispatch itself (using install.sh)
Can you tell me why dispatch as a command is not recognised?
e.g. **dispatch** database init, dispatch database upgrade etc

seem to have a problem figuring how to get the data to the UI.. Will data _restore_ do the trick?
I have dispatch installed on one server and postgres installed on t

[2020-07-23 15:15] mccannm1 commented on #501
@mvilanova After install of docker, docker-compose and the installation of dispatch itself (using install.sh)
Can you tell me why dispatch as a command is not recognised?
e.g. **dispatch** database init, dispatch database upgrade etc

seem to have a problem figuring how to get the data to the UI.. Will data _restore_ do the trick?
I have dispatch installed on one server and postgres installed on t

[2020-07-23 16:13] mccannm1 commented on #501
Trying docker-compose build...

[2020-07-23 19:04] mvilanova commented on #501
@mccannm1 I installed Dispatch using the `./install.sh` bash script and ran into some issues restoring from the `dispatch-backup.dump` file and getting the database into a health state. I'll update the dump file and get back to you with a step by step process soon. Stay tuned

[2020-07-23 21:23] mccannm1 commented on #501
Thank you @mvilanova

[2020-07-24 22:18] mvilanova commented on #501
Ok, sorry for the delay. It took way longer than I expected.

I've updated the sample data (https://github.com/Netflix/dispatch/pull/518) and bumped the Postgres version on the Dispatch docker side from 9.6 to latest (https://github.com/Netflix/dispatch-docker/pull/65) to make sure the dumps we create are compatible with the postgres version.

Here are the steps to get Dispatch up and running with

[2020-07-25 19:37] kevgliss commented on #516
We currently don't currently have a use case for this functionality, but would merge a pull request adding that functionality.

[2020-07-27 15:38] mccannm1 commented on #501
Hi @mvilanova
I ran the commands according to your instructions...and they seemed to have worked:   but I do not see data in the UI
Please see the attachments I had added..

I have included the docker-compose.yml and .env
Thank you
/Martin

[2020-07-27 15:52] mccannm1 commented on #501
[Command_Log.txt](https://github.com/Netflix/dispatch/files/4982927/Command_Log.txt)
<img width="1680" alt="Incidents_Page" src="https://user-images.githubusercontent.com/67747571/88562190-4437d380-d028-11ea-833a-c7308a170a95.png">
[env.txt](https://github.com/Netflix/dispatch/files/4982971/env.txt)

[docker-compose.yml.txt](https://github.com/Netflix/dispatch/files/4982985/docker-compose.yml.txt)

[2020-07-27 15:54] mccannm1 commented on #501
In the docker-compose.yml file please note I updated the volume  to the data location .... this is where the data is stored on the database server (antic) I specified.....however this didn't to make any difference.. to the UI data being populated..
dispatch-postgres:/var/lib/postgresql/12/main"

[2020-07-27 15:57] mccannm1 commented on #501
is the data visible to the application through  a direct connection (port 5432) to a server with Postgres that has been manually
installed, and .dump file imported to that database?
OR
through the web container..... dispatch_web_1

[2020-07-27 16:09] kevgliss commented on #501
I'm not quite sure what you mean here... it looks like you aren't using the included version of postgres at all:

e.g. you have `DATABASE_HOSTNAME=antic1.fyre.ibm.com` in you `.env` so you could theortically disable all the postgres parts of the docker-compose.yml like this:

[code]

As I mentioned earlier in the thread I would just us the native psql tools for your particular setup:

`/usr/bin/ps

[2020-07-27 17:05] mccannm1 commented on #501
HI @kevgliss
I disabled Postgres in the YAML file.. when I start with .... docker-compose up -d ...

# docker ps
CONTAINER ID        IMAGE                      COMMAND                  CREATED              STATUS              PORTS                    NAMES
c348dc4d3b9c        dispatch-local-scheduler   "dispatch schedule..."   About a minute ago   Up About a minute   8000/tcp                 dispa

[2020-07-27 17:07] kevgliss commented on #501
Do those tables have any items?

[2020-07-27 17:08] kevgliss commented on #515
Updated the documentation with reference to the beta, will hopefully be able to remove once the feature goes GA in the next month or so.

[2020-07-27 17:08] #515 closed

[2020-07-27 17:54] mccannm1 commented on #501
I executed the plsql as shown

[plsql_execution.txt](https://github.com/Netflix/dispatch/files/4983607/plsql_execution.txt)

On antic1 some of the tables have rows...

[Select_stataments.txt](https://github.com/Netflix/dispatch/files/4983617/Select_stataments.txt)

on antic1 before I populated the database like this:
root@antic1# sudo -u postgres -i psql -h 127.0.0.1 -U postgres -p 5432 dispatch <

[2020-07-27 17:54] mccannm1 commented on #501
The dump file was taken from the repository...

[2020-07-27 21:02] mccannm1 commented on #501
This file shows the output data (all select statements for all 54 tables...

[Dispatch_Data.txt](https://github.com/Netflix/dispatch/files/4984374/Dispatch_Data.txt)

There is some data.... I presume the .dump file contains sample data to populate the various views/ dashboards
in the User Interface?

[2020-07-27 21:13] kevgliss commented on #501
the `dispatch_data.txt` looks reasonable, what application error are you getting?

[2020-07-28 08:43] mccannm1 commented on #501
<img width="1680" alt="application_error" src="https://user-images.githubusercontent.com/67747571/88640903-65470580-d0b6-11ea-9ca4-02d411b3151c.png">

[2020-07-28 08:45] mccannm1 commented on #501
I am seeing that error in the UI when I access the dispatch server URL...
Is there logging information elsewhere I can look for ?   that may be more useful for you

[2020-07-28 14:59] mclueppers commented on #492
@johnbuhay I'm trying to get Google OAuth2 working as well. Thanks for the advice so far. I got past successful login by changing `access_token` to ìd_token` in the application:
https://github.com/Netflix/dispatch/blob/develop/src/dispatch/static/dispatch/src/auth/pkceAuthProvider.js#L76 becomes `response.idToken`

But now backend is failing authorisation with a valid JWT (verified signature etc.

[2020-07-28 16:01] mccannm1 commented on #501
HI @mvilanova
I retried the steps 1-9 above ...  For step 3 (cleaning out the old images, volumes)
I applied https://www.digitalocean.com/community/tutorials/how-to-remove-docker-images-containers-and-volumes

The other commands worked:  e.g. in steps 5-8

Hit http://pluck1.fyre.ibm.com:8000/dashboard/incidents   "No data available"
Logged onto the machine using VNC..
http://0.0.0.0:8000/incidents

[2020-07-28 16:03] mccannm1 commented on #501
HI @mvilanova
I retried the steps 1-9 above ... For step 3 (cleaning out the old images, volumes)
I applied https://www.digitalocean.com/community/tutorials/how-to-remove-docker-images-containers-and-volumes

The other commands worked: e.g. in steps 5-8

Hit http://pluck1.fyre.ibm.com:8000/dashboard/incidents "No data available"
Logged onto the machine using VNC..
http://0.0.0.0:8000/incidents "No

[2020-07-28 16:05] mccannm1 commented on #501
HI @mvilanova
I retried the steps 1-9 above ... For step 3 (cleaning out the old images, volumes)
I applied https://www.digitalocean.com/community/tutorials/how-to-remove-docker-images-containers-and-volumes

The other commands worked: e.g. in steps 5-8

Hit http://pluck1.fyre.ibm.com:8000/dashboard/incidents "No data available"
Logged onto the machine using VNC..
http://0.0.0.0:8000/incidents "No

[2020-07-28 16:06] mccannm1 commented on #501
The install.sh showed this at the end.... is this a problem?
:

Setting up database...
Starting dispatch_postgres_1 ... done
No JWT secret specified, this is required if you are using basic authentication.
No metric providers specified metrics will not be sent.
WARNING:dispatch.common.utils.cli:Failed to load plugin: opsgenie_oncall Reason: "Config 'OPSGENIE_API_KEY' is missing, and has no default

[2020-07-28 16:22] mclueppers commented on #492
Alright, I finally got Google auth working after setting `DISPATCH_JWT_AUDIENCE` and disabling `verify_at_hash` JWT decode option. By the looks of it Google is adding `at_hash` in the response. I'm now trying to store somehow `access_token` that's required to verify `at_hash`. Cookie seems the best approach so far.

[2020-07-28 19:28] mccannm1 commented on #501
Please comment on this error during the early phase of the install.sh...
I ran git pull origin master to update the repository in Step1  @mvilanova

[2020-07-28 19:29] mccannm1 commented on #501
<img width="938" alt="install_sh_postgres" src="https://user-images.githubusercontent.com/67747571/88712023-fc40ab80-d110-11ea-9ed1-73743ec20a2a.png">

[2020-07-28 19:33] mccannm1 commented on #501
Please comment on the above error in the starting phase of the execution of install.sh
@mvilanova I updated the repository in Step 1 using:   _git pull origin master_
and that was successful

@kevgliss where do you see I am using the wrong version of postgres... On antic1 it is

postgres=# SELECT version();
                                                          version
-------------------------

[2020-07-28 19:33] mccannm1 commented on #501
Please comment on the above error in the starting phase of the execution of install.sh
@mvilanova I updated the repository in Step 1 using: git pull origin master
and that was successful

@kevgliss where do you see I am using the wrong version of postgres... On antic1 it is

version

PostgreSQL 12.3 (Ubuntu 12.3-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0,

[2020-07-28 19:35] mccannm1 commented on #501
Please comment on the above error in the starting phase of the execution of install.sh
@mvilanova I updated the repository in Step 1 using: git pull origin master
and that was successful

@kevgliss where do you see I am using the wrong version of postgres... On antic1 it is
 SELECT version();
  version
  PostgreSQL 12.3 (Ubuntu 12.3-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.

[2020-07-29 05:44] #516 closed

[2020-07-29 11:37] mccannm1 commented on #501
@kevgliss @mvilanova
I managed to get a dispatch database upgrade to execute as shown here
[dispatch_database_upgrade_success.txt](https://github.com/Netflix/dispatch/files/4994590/dispatch_database_upgrade_success.txt)

But again I cannot see the data being populated in the UI,  same error "Something has gone very wrong....etc"
Is there a fault in the repository?  Are you experiencing any similar

[2020-07-29 14:10] mccannm1 commented on #501
I see HTTP 500's for GET requests when I hit the URL..    i.e. for individuals, terms, tags, incidents etc
Is there a log location to get more about the error?

<img width="1680" alt="HTTP_500" src="https://user-images.githubusercontent.com/67747571/88810574-7292eb80-d1ad-11ea-9b39-707fbb6f2085.png">

[2020-07-29 15:53] mccannm1 commented on #501
Here is a log from the console :  docker-compose up
[Log1.txt](https://github.com/Netflix/dispatch/files/4995910/Log1.txt)

[2020-07-29 22:15] willbengtson opened #523 "Creating new Incident Type without Document results in unavailable service"
If you try to create an incident type without specifying a document, it results in an entry in the `incident_type` table and `document` table that are invalid and cause the rest of the UI to stop working and manual database manipulation

**To Reproduce**
Steps to reproduce the behavior:
1. Login to dispatch
2. Click on `Incident Types`
3. Click `New`
4. Fill out `Name`, `Description`, `Visibility`

[2020-07-30 17:50] #523 closed

[2020-07-31 10:11] mccannm1 commented on #501
Hi @kevgliss @mvilanova
Can you provide some guidance on what may be the issue as to why I cannot see data in the UI and see the error above?
How to proceed?
I understand you may be working on a new release?  I have the docker-compose.yml set to _develop_ to avail of the latest releases and fixes and I have updated the repository and run  the install.sh again from scratch...but no luck..Please adv

[2020-08-01 01:41] bored-engineer opened #528 "Alternate database backend support (ex: MySQL)?"
The docs seem to indicate a PostgreSQL DB is required, however (at first glance) most of the codebase seems to be using SQLAlchemy which can be backend agnostic.

Are there any specific datatypes or features that are actually Postgres specific? Are you aware of anyone using dispatch with an alternate DB?

[2020-08-01 01:48] bored-engineer commented on #528
To answer my own question partially (would still love an official answer), the usage of TSVectorType is PostgreSQL specific

[2020-08-03 16:41] kevgliss commented on #528
Yes, we do use some PostgreSQL specific functionality. I don't know of anyone using a non-postgres database for Dispatch.

[2020-08-03 16:56] #528 closed

[2020-08-03 17:07] mccannm1 commented on #501
Are there any known issues after running install.sh?
I have tried bypassing the containers entirely by removing the postgres service (in .yml) and ran /usr/bin/psql
I retried the steps @mvilanova mentioned above  using develop in the .env

I still see the error "Something has gone .... no data populated... is it working ok in the latest release?
I recloned the repositpory, and did a fresh install.

[2020-08-04 16:06] r1ckyb0nd opened #529 "Office 365 support"
Is it possible to replace Gsuite with Office 365?
Is Gsuite only used for document storage?

[2020-08-04 16:29] kevgliss commented on #529
It is possible to switch out GSuite with Office356, we use GSuite for a variety of things:

- Document Storage (Google Docs)
- Artifact Storage (Google Drive)
- Permissions (Google Groups)
- Video Conference (Google Meet)

Each of the above has its own plugin, such that new services can be integrated. Additionally, as of #507 you _should_ be able to pick and choose which plugin types you want to u

[2020-08-05 17:00] kevgliss commented on #501
@mccannm1

We think at this point we've exhausted our resources in helping troubleshooting your specific issues. Generally, our stance is to help folks as much as possible and answer _specific_ questions or issues. But I think this has become largely a troubleshooting exercise for your deployment setup, which we can't and don't intend to provide support for. If during your investigation, you find

[2020-08-05 17:12] #501 closed

[2020-08-05 17:25] mccannm1 commented on #501
ok thanks @kevgliss @mvilanova ..
will re-review deployment setup

[2020-08-05 18:51] #360 closed

[2020-08-05 18:52] #458 closed

[2020-08-05 18:52] #529 closed

[2020-08-16 11:20] francbartoli opened #533 "Error creating documentation PDF with gitbook cli"
**Describe the bug**
A pdf version of the docs cannot be created due to an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install gitbook cli: `npm install -g gitbook-cli`
2. Clone the repo
3. Run the pdf generation: `gitbook pdf .`

**Expected behavior**
A pdf version of the docs is generated.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**D

[2020-08-17 17:21] mvilanova commented on #533
The gitbook CLI is no longer supported (see deprecation warning in https://github.com/GitbookIO/gitbook). You can access the docs [here](https://hawkins.gitbook.io/dispatch/).

[2020-08-17 17:21] #533 closed

[2020-08-19 15:56] tomarv2 opened #534 "Question: Every incident creates a new Google shared drive"
Hi,

I have a version of dispatch which I think is 2-3 months old. It has been running great. New some assistance on two things:

Everytime there is an incident it creates a new Google shared drive and I have to manually add new users to it. I want to see if this is right. Is it possible to create one shared drive and every new Incident gets dropped into it?

Also, we have Slack integration but Sl

[2020-08-19 18:45] kevgliss commented on #534
Hi @tomarv2,

The latest versions of Dispatch support this but you have to be in a Google Drive beta (not sure if it's GA yet). See [here](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-g-suite#enable-required-apis). Also note that with this change we have added a new envvar that will need to be set [INCIDENT_STORAGE_FOLDER_ID](https://hawkins.gitbook.io/dispatch/configurati

[2020-08-19 19:37] gargrag commented on #492
@mclueppers Can you please describe the steps you took to make google auth work?

[2020-08-20 13:54] mclueppers commented on #492
@gargrag I've opened a PR #535 with the changes I had to make inside the application.

[2020-08-21 06:08] #534 closed

[2020-08-24 15:12] mccannm1 opened #537 "Netflix Dispatch Authentication using SAML SSO."
Hello  @kevgliss @mvilanova

May I ask a short question please?  How does login to Netflix Dispatch work on a high level? How may I add users?
Specifically if I want to use SAML Authentication to login corporate users to Dispatch who would be using it as a
solution for incident management, is it possible to point Netflix Dispatch to a corporate Identity provider IdP for login
using SAML?

 authent

[2020-08-24 17:07] kevgliss commented on #537
We don't currently support SAML as an authentication provider (we _do_ support PKCE). In order to add regular SAML you would need to add a new `AuthenticationProviderPlugin`, e.g:

https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_core/plugin.py#L66

We don't currently have a timeframe to add that functionality ourselves but would be more than willing to merge in PRs w

[2020-08-25 13:46] mccannm1 commented on #537
Thank you @kevgliss

[2020-08-25 13:46] #537 closed

[2020-08-25 14:00] mccannm1 opened #538 "Netflix Dispatch Slack Integration Query"
Hi @mvilanova

Just a short question on the Slack Integration for Dispatch.
This is the procedure that we are required to follow:
- https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack

I have dispatch installed and started on Ubuntu on a machine:  e.g  server1.aaa.bbb.com
and a HAProxy put in front of it. It is configured to support a secure connection using SSL.
- so dispa

[2020-08-25 16:26] mvilanova commented on #538
Yes, all the example URLs you provided are correct. Let me know if something is not clear when you're reading the docs.

[2020-08-25 18:57] mccannm1 commented on #538
Last question  curl -I https://server1.aaa.bbb.com/api/v1/events/slack/event
what will the application return from this ?

[2020-08-25 19:08] mvilanova commented on #538
This endpoint will return an HTTP 200 with an `ok` in the message body, if the timestamp and signature in the request headers is valid. You can found the code [here](https://github.com/Netflix/dispatch/blob/develop/src/dispatch/plugins/dispatch_slack/views.py#L77).

[2020-08-25 21:29] mccannm1 commented on #538
Thank you @mvilanova
Closing.

[2020-08-25 21:29] #538 closed

[2020-08-31 17:35] gargrag commented on #492
Thanks! @mclueppers It's working for me now. I think I'm going to implement this as a separate auth provider on our fork.

[2020-09-01 22:48] gargrag opened #541 "Pagerduty plugin works only if your escalation policy has a schedule."
**Describe the bug**
The Pagerduty plugin expects your escalation policy to be tied to a schedule, while there are other options.
**To Reproduce**
Steps to reproduce the behavior:
1. configure the escalation policy associated with the Pagerduty service integrated with dispatch, to directly notify a person instead of a schedule.
2. Try creating a new incident

**Expected behavior**
Please let me kn

[2020-09-03 17:28] mvilanova commented on #541
Hi @gargrag, that's correct. The current implementation expects a schedule to be associated with the escalation policy, because that's how we use it internally, but it's not the only option like you said. We'll try to carve time to work on a patch, or if you want to cut a PR for it, we will be happy to review it.

We should also migrate to https://github.com/PagerDuty/pdpyras in the near future, a

[2020-09-04 14:00] mccannm1 opened #542 "Dispatch: Cannot create a New Incident through UI"
**Describe the bug**
Dispatch: Cannot create a New Incident through UI

**To Reproduce**
Hello
I am having a probem creating a new incident through the dispatch UI.
Steps to reproduce the behavior:
1. Enter the incident details and click disk (save) icon.
   It spins and seems to hang indefinitely, with an error "Something has gone wrong...."

**Expected behavior**
New Incident created and visible

[2020-09-04 14:05] mccannm1 commented on #542
[dispatch_web_1_logs.txt](https://github.com/Netflix/dispatch/files/5175247/dispatch_web_1_logs.txt)
![New_Test_Incident2](https://user-images.githubusercontent.com/67747571/92248064-04ce9380-eec0-11ea-915f-bb5da6503ef5.png)

[2020-09-04 14:15] mccannm1 commented on #542
# Incident configuration
#INCIDENT_CONVERSATION_COMMANDS_REFERENCE_DOCUMENT_ID=INCIDENT_CONVERSATION_COMMANDS_REFERENCE_DOCUMENT_ID
#INCIDENT_ONCALL_SERVICE_ID=None
#INCIDENT_DOCUMENT_INVESTIGATION_SHEET_ID=INCIDENT_DOCUMENT_INVESTIGATION_SHEET_ID
#INCIDENT_FAQ_DOCUMENT_ID=INCIDENT_FAQ_DOCUMENT_ID
#INCIDENT_NOTIFICATION_CONVERSATIONS=incidents
#INCIDENT_NOTIFICATION_DISTRIBUTION_LISTS=incidents@ex

[2020-09-05 19:21] mccannm1 opened #543 "Netflix Dispatch RTM API compatability for Slack integration"
Hello
This is a short question. I am working on the Slack Integration defining the Events Subscriptions as per procedure:
https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack

There is a Request URL that is required to be specified and according to the document the endpoiunt does need to be a public URL where Slack can send HTTP post requests, i.e. publicly accessible.

I ho

[2020-09-07 11:21] mclueppers commented on #492
Great news. I'm waiting for the separate adapter, sounds like the best implementation approach.

[2020-09-08 16:35] #202 closed

[2020-09-08 16:44] kevgliss commented on #543
RTM API is not currently implemented in Dispatch. Additionally, the RTM API also has some limitations regarding slack dialogs and interactivity which Dispatch uses heavily.

If you don't want to expose the Dispatch API directly you could look into proxying the traffic. For instance, we have an organization-wide proxy that handles all of our slack traffic. Unfortunately, this is organization specif

[2020-09-08 16:47] kevgliss commented on #542
It looks like the the request to pagerduty is unauthorized, `pypd.errors.BadRequest: BadRequest (401)`. I would double check that that your pagerduty schedule ID and API credentials are correct.

[2020-09-08 17:09] mvilanova commented on #542
I think Kevin meant the service id, not the schedule id. If you give it a schedule id, `pypd` will segfault.

[2020-09-11 14:40] mccannm1 commented on #543
Thank you @kevgliss
A final question please.  I have installed Dispatch on a VM inside my corporate network (company A)
Currently working on integrating Slack/PagerDuty

1. Slack cannot reach the VM (endpoints) as it is internal, and I have been informed that it is not possible to
    proxy traffic to that VM because the VM that I would be proxying traffic to has full access to the internal networ

[2020-09-11 14:43] mccannm1 commented on #543
Company A's users can login to things outside of Company A of course

[2020-09-11 14:46] mccannm1 commented on #543
@kevgliss I understand this may be a question more related to the environment setup that specific individual bugs/fixes.
Apologies for that, just hit this sticking point..
After your response I will close the case

[2020-09-11 16:26] kevgliss commented on #543
It's really a limitation of how Slack works. Slack requires an endpoint available to it in order to send events.

Some things to consider:
- Allowing the endpoint to be publically routable but only accessible from Slack IPs
- Limiting the access the VM has to the internal network unless you are using custom plugins; most of the functionality uses external resources (e.g. pagerduty) and would not n

[2020-09-11 17:17] mccannm1 commented on #543
Thank you @kevgliss

[2020-09-11 17:32] mccannm1 commented on #543
@kevgliss
Do the endpoints have to be on specific ports?  (443 SSL)

https://<appserver.domain.com>/api/v1/events/slack/event (receive events in Slack, e.g. member joined/left channel)
https://<appserver.domain.com>/api/v1/events/slack/command (enable Dispatch's slash commands)
https://<appserver.domain.com>/api/v1/events/slack/action (generate interactive components such as dialogs and modals

[2020-09-11 22:09] kevgliss commented on #543
If you are using an https endpoint then 443 is the default. Slack might require https but I'm not sure.

[2020-09-12 19:53] mccannm1 commented on #543
Thanks @kevgliss

[2020-09-12 19:53] #543 closed

[2020-09-18 15:47] 0x4c6565 opened #570 "Viewing incidents in web UI results in JS error: TypeError: n.commander is null"
**Describe the bug**
When attempting to view incidents in the web UI (Created either via slack or web ui), the following JS error is logged with no incidents returned:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create incident
2. Attempt to view incidents in web UI

**Expected behavior**
Incidents returned

**Screenshots**
![image](https://user-images.githubusercontent.com/74762

[2020-09-18 16:01] mvilanova commented on #570
Thanks for the report. Can you share your `.env` file (redact sensitive info) and server logs? Are any of the oncall plugins enabled?

[2020-09-21 08:31] 0x4c6565 commented on #570
Please find .env below:

[code]

We imported the example data, which allowed for the incidents page to be viewed, however this issue started when reporting a new incident via slack.
There aren't any error-level logs when browsing to the incidents page, just the mentioned js error.

One error that did catch my eye was the following:

[code]

[2020-09-21 16:27] mvilanova commented on #570
Hi @0x4c6565,

Here are a few things that I've noticed after taking a look at your `.env` file:

1. You only need to provide the workspace name in `SLACK_WORKSPACE_NAME` var. (see https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack#slack_workspace_name-required-secret-true). Remove `.slack.com` and try again.
2. Do not add inline comments like in `DISPATCH_AUTHENTICATION_PR

[2020-09-22 07:15] 0x4c6565 commented on #570
Hi @mvilanova,

Thanks for your reply - I've now made the suggested changes.

From looking at the database, I can see that the new incident is created without a participant with the `Incident Commander` role. How is an incident commander allocated for an incident?

[2020-09-22 16:18] kevgliss commented on #570
What commit are you running? The incident commander is allocated depending on the `oncall` plugin that is currently enabled. There is a recent change (still on the develop branch) where we default to the reporter if there is no `oncall` plugin enabled.

[2020-09-22 16:47] mvilanova commented on #542
Bumping this one. @mccannm1 still having issues or can we close?

[2020-09-22 16:50] mvilanova commented on #541
@gargrag good to close here?

[2020-09-22 19:23] mccannm1 commented on #542
Hi
@mvilanova

In .env file
# PagerDuty
PAGERDUTY_API_KEY=<CORRECT_KEY>
PAGERDUTY_API_FROM_EMAIL=<MY_CORP_EMAIL_ADDRESS>

**Where is _Service ID_ defined in this context?**

The Service I have defined in PagerDuty is called 'Netflix Dispatch Service'

and within it an integration called 'netflix-dispatch-incident-monitoring'
of Type "Events API v2", with the Integration Key (above in .env)

I can

[2020-09-22 19:25] mccannm1 commented on #542
[curl_to_pagerduty.txt](https://github.com/Netflix/dispatch/files/5263554/curl_to_pagerduty.txt)

[2020-09-22 19:27] mccannm1 commented on #542
I had followed:
https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-pagerduty

[2020-09-22 19:35] mvilanova commented on #542
@mccannm1 you specify the PagerDuty service id in the external id field in the service (see screenshot below).

<img width="2023" alt="Screen Shot 2020-09-22 at 12 33 31 PM" src="https://user-images.githubusercontent.com/39573146/93928878-dcbc9e00-fccf-11ea-9522-9caaf141eb35.png">

[2020-09-22 21:48] mvilanova commented on #542
@mccannm1 https://github.com/Netflix/dispatch/pull/578

[2020-09-23 15:12] alexa-kelley-vim opened #579 "Request for sample google templates - documentation update"
**Is your feature request related to a problem? Please describe.**
There are multiple references within the code that point to google docs templates, but there seems to be little indication on the expected structure/syntax that the code will work best with.

**Describe the solution you'd like**
Can you provide a sanitized version or example document of the expected template structure? Or alternati

[2020-09-23 16:18] kevgliss commented on #579
Yes, we had been planning to do a blog post regarding these templates but ran out of time this quarter.

Here is a list of reference documents that can be copied and used. We typically have a document for each incident type that is the generic template but with questions pertaining to the specific incident type.

I will also add a task to document the variables available to documents.

Incident Do

[2020-09-23 16:22] alexa-kelley-vim commented on #579
Wonderful! Thank you very much for the swift response! I look forward to incorporating these.

@kevgliss By chance do you have a similar reference for the investigation sheet template?

[2020-09-23 16:29] kevgliss commented on #579
We do, although at least in our experience this doesn't get used quite as much (so it doesn't really have any interesting templating abilities).

Incident Tracking Sheet:
https://docs.google.com/spreadsheets/d/1Odk4KlL7uMF_yd7OvTOCaPWmtTA_WzFBIA4lMeU5cGY

[2020-09-23 16:31] alexa-kelley-vim commented on #579
Thank you again :)

[2020-09-23 16:34] kevgliss commented on #579
No problem, we also have internal documents for Incident FAQs and Incident Command Reference cheatsheet. These are not templated and have some internal nflx-isms in them. If there is interest, I can clean them and release them as well.

[2020-09-23 16:45] alexa-kelley-vim commented on #579
Sure, that wouldn't hurt to have as well. I appreciate you being willing to share. :)

[2020-09-23 17:55] santhoshparepu commented on #360
@kevgliss I see this issue is closed. I am also encountering the same issue as @nitzango. What is the resolution ?

[2020-09-23 17:57] kevgliss commented on #360
@santhoshparepu a few things have changed since this was first reported, please open a new issue and we can debug there.

[2020-09-23 19:30] Akaori opened #582 "Image Installation Error"
**Describe the bug**
Hi, I am trying to install dispatch using docker-compose:

I first clone `git clone https://github.com/Netflix/dispatch-docker.git`

When I run `./install.sh`, I got two error:

First:
[code]

Second:

[code]

**Desktop (please complete the following information):**
 - OS:Ubuntu 18.04

[2020-09-23 19:35] kevgliss commented on #582
I believe this is an intermittent error (we've seen this when processing gpg keys before). I would try again in a little while.

[2020-09-23 19:59] mvilanova commented on #582
@Akaori it's usually DNS related (see https://github.com/Netflix/dispatch-docker/issues/69#issuecomment-689022788). You can report Dispatch Docker related issues here: https://github.com/Netflix/dispatch-docker/issues

[2020-09-23 20:25] Akaori commented on #582
Thank you guys.
Yes, it seems an intermittent error. After waiting one hour, it worked.

[2020-09-23 20:25] #582 closed

[2020-09-24 14:47] 0x4c6565 commented on #570
See below:

[code]

I'll have a play with pagerduty, see if I can get it to play ball :)

[2020-09-24 15:00] 0x4c6565 commented on #570
I've configured the external ID correctly on the service now, however the reported js error is still occurring when an incident isn't created correctly. We received the following error when reporting an incident:

[code]

[2020-09-24 15:02] santhoshparepu opened #584 "Not able to report new incident (/incident/report) with basic auth"
**Describe the bug**
Issue with basic authentication

**To Reproduce**
Steps to reproduce the behavior:
1. Install dispatch with basic authentication - dispatch-auth-provider-basic
2. When you go to dispatch URL, we are not being redirected to register/login endpoint. (This needs to be looked at).
3. After manually going to /register endpoint and registering yourself, you will be directed to dashb

[2020-09-24 15:03] santhoshparepu commented on #360
Thanks @kevgliss, I have opened https://github.com/Netflix/dispatch/issues/584.

[2020-09-24 16:30] mvilanova commented on #570
@0x4c6565 did you set the `PAGERDUTY_API_FROM_EMAIL` var in your `.env`? Does a user with that email exist in your PagerDuty organization?

[code]

[2020-09-24 16:44] kevgliss commented on #584
@santhoshparepu thanks for the detailed report. I just ran through your steps on the lastest master branch and wasn't able to reproduce, specifically:

1) When I was unauthenticated I was redirect to /login
2) Upon registering I was redirected to the dashboard
3) I was able to navigate to other pages as well
4) I was still able to use the app have a refresh

Some more questions:

- Which browser a

[2020-09-24 17:35] kevgliss commented on #579
Cool, will put that on the todo.

[2020-09-24 17:35] #579 closed

[2020-09-24 18:12] santhoshparepu commented on #584
@kevgliss Here is the .env file I am using. Just to confirm, I am cloning dispatch-docker, modifying .env file and running ./install.sh.

[code]
1. Which browser are you using?
I am seeing this in both safari, chrome and Firefox.
2. Is this running locally or deployed behind an ELB/Proxy?
It is running on ubuntu VM and I am accessing this from my laptop.
3. Is there any other interesting console e

[2020-09-25 11:35] santhoshparepu commented on #584
@kevgliss What OS did you install dispatch on?

[2020-09-25 15:50] grplyler opened #586 "Feature: Discord Bot Integration Plugin"
Hi There! For my Hacktoberfest 2020 contribution, I would like to suggest a Discord Bot Integration Plugin and
offer myself to develop it.

**Rationale**

With Discord's recent marketing strategy shift from being geared towards gamers to opening up their platform to communities of all types, Discord has seen a fairly large boost in usage. I use it for team communication and collaboration, even in

[2020-09-25 16:14] kevgliss commented on #584
Okay, I think I might understand what is happening... talking this through.

It seems that you are running the VM behind a DNS name, e.g. `DISPATCH_UI_URL=https://xxx.yyyy.xxx` for testing purposes I would access it directly via `localhost` and see if that resolves the issue. I believe that the frontend code is attempting to make a cross-origin request although we don't allow it (the server doesn'

[2020-09-25 17:06] mvilanova commented on #586
Hi @grplyler, thanks for reaching out. Sounds like an interesting idea. Can you elaborate a little bit more and provide a few examples on how the the plugin would enhance the Incident Commander and participant's experience during an incident and if you foresee any conflicts with the current features that Dispatch and its Slack plugin provides?

[2020-09-25 17:51] grplyler commented on #586
Hi @mvilanova ! Certainly. Give me a day or so to read the code and to provide those examples. At this point I can't see how it would conflict if the plugin architecture is truely plugable. And to answer your other question, this would merely add a Discord Bot plugin as a _option_ for notification of incidents. So as I see it, yes it could be an alternative to Slack, or used into addition to Slack

[2020-09-25 17:59] mvilanova commented on #586
Sounds good. There might be a few Dispatch features that are tightly coupled with the Slack plugin code, but nothing we can't fix with some refactoring.

[2020-09-25 20:43] forestmonster commented on #586
Hi @grplyler , I think this is a great idea. I see that you're considering it as a _notification_ plugin. Would you please give some thought to your Discord bot as a _chatops_ plugin as well, or would you consider that too much work for the limited Hacktoberfest "four pull requests" scope? Within Slack channels to which it is added, Dispatch offers a number of capabilities through Slack's [slash c

[2020-09-25 21:03] mvilanova commented on #586
You can find more information about the functionality that the Slack plugin provides [here](https://hawkins.gitbook.io/dispatch/configuration/plugins/configuring-slack).

[2020-09-25 21:42] grplyler commented on #586
Thank you @forestmonster and @mvilanova. To answer your question, I have done some preliminary research by reading some of the plugin code, getting a handle on the plugin architecture, and reading the documentation on contributing, specifically the difference interfaces I can implement.

After reading some of the code for the slack plugin, I see there is quite a heavy integration with slack. In sh

[2020-09-29 17:39] santhoshparepu commented on #584
@kevgliss I switched to pkce and got page redirected to our Auth provider. Now, we are facing CORS issue. Isn't DISPATCH_UI_URL used for notifications only? Is this used as hostname too. And you mentioned about load balancer front-ending application servers. How do you ensure the notifications contains correct URL by setting DISPATH_UI_URL to localhost?

[code]

[2020-09-29 17:52] kevgliss commented on #584
I don't think pkce vs basic-auth is the issue here, it's a CORS issue, essentially you are attempting to access the app from a domain `https://yyy.com` that loads our app/js. Once loaded, the app attempts to fetch resources from the Dispatch API (auth data in this case), which looks like it's on a different domain than the app itself.

There are two options:

1) Host the frontend and the API on th

[2020-10-01 18:18] alexa-kelley-vim opened #588 "Unusual python errors"
**Describe the bug**
After loading a clean copy of dispatch for testing and development I have noticed new errors in the log associated to 'httpcore'. I have attempted multiple variations to resolve this and it appears to be an issue with the code requirements itself and not my configuration.

Here is a highlighted section for example.

`web_1        |   File "/usr/local/lib/python3.8/site-package

[2020-10-01 18:21] kevgliss commented on #588
Did you recreate a new virtualenv as well? I've seen this before when re-installing various versions into the same virtualenv, I would try and run `pip check` for an indication which dependency is causing the conflict.

[2020-10-01 18:24] alexa-kelley-vim commented on #588
I would imagine it is a new virtualenv as it's a fresh docker container+image+volume installed through the ./install.sh script. However I'll connect to the web image and see if I can verify that.

[2020-10-01 18:28] alexa-kelley-vim commented on #588
so I connected via  `sudo docker exec -it <web-container-hash> /bin/bash`

then I ran `pip check` at root. Result was
`httpcore 0.11.1 has requirement h11<0.10,>=0.8, but you have h11 0.10.0.`

[2020-10-01 18:32] kevgliss commented on #588
Okay, this likely means that some other dependency wants `h11 >= 0.10.0` let me see if I can find it.

[2020-10-01 18:41] kevgliss commented on #588
It looks like uvicorn is the issue: https://github.com/encode/uvicorn/releases/tag/0.12.1

[2020-10-01 18:43] kevgliss commented on #588
If you can force the image to pin to: `pip install uvicorn==0.11.8 ` to confirm I will create a hotfix with that pinned.

[2020-10-01 18:44] alexa-kelley-vim commented on #588
Sounds good, I'll give it a try now

[2020-10-01 18:48] alexa-kelley-vim commented on #588
at a glance it's resolved the errors I was referencing. Here is a dump of the log. As a note this is a stock/empty install so the Zoom & OPSGENIE errors are to be expected. I have not yet tested the frontend, but will confirm that as well shortly.

------

[2020-10-01 20:09] alexa-kelley-vim commented on #588
I can't say for 100% that there's no bugs, but I'm not seeing anything outright broken. I think it's good to go.

(Sorry on the delay had to spin up a clean test instance against updating the requirements to be sure)

[2020-10-01 21:01] kevgliss commented on #588
The latest release has this change and I have bumped the tag in dispatch-docker https://github.com/Netflix/dispatch-docker/pull/72

Let me know if you run into any other issues.

[2020-10-02 16:55] alexa-kelley-vim commented on #588
Thank you very much. I'll keep an eye out for any other issues.

[2020-10-02 16:55] #588 closed

[2020-10-02 18:16] alexa-kelley-vim opened #591 "Error with opsgenie_oncall and jira_ticket during stock install"
**Describe the bug**
ONCALL_PLUGIN_SLUG currently defaults to `opsgenie-oncall` if there is no other slug defined. This causes an error after stock installation even if pagerduty values are otherwise configured.

**Suggested fix**
- Add a section to configuring-slack.md that calls out needing to change `ONCALL_PLUGIN_SLUG=pagerduty-oncall`
- declare and briefly explain `ONCALL_PLUGIN_SLUG` in app.

[2020-10-02 18:33] kevgliss commented on #591
What error where you experiencing? afaik with the latest builds we don't require any `oncall` plugins be enabled (will default to the reporter).

It _does_ look like we have some old references to that config item we need to remove though:
https://github.com/Netflix/dispatch/search?q=ONCALL_PLUGIN_SLUG

[2020-10-02 18:38] alexa-kelley-vim commented on #591
Oh that's really good to know. Here is an example of the error I came across. For some reason when the install script runs
`docker-compose run web plugins install` then both the opsgenie_oncall and jira plugin throw an error.

`Setting up database...
Do you want to load example data (y/n)?n
Starting dispatch_postgres_1 ... done
No metric providers specified metrics will not be sent.
ERROR:dispatch