[2021-10-14 07:53] jtorvald opened #1729 "Slack channel creation fails"
**Describe the bug**
When creating a new incident I get the following error in the logs:

The channel creation fails and that response does not seems to be checked because the following actions also fail because of a missing channel_id
[code]

**Additional context**
[code]

[2021-10-14 08:10] liamvdv opened #1730 "Codestyle: Unused Argument"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-14 13:58] jtorvald opened #1733 "Bug: Plugin not found in second organization"
**Describe the bug**
I get the error below while I have a plugin enabled and with the correct type.

[code]

Plugin ID = 27, which has type: workflow in the database.

Plugin instance table:
<img width="500" alt="image" src="https://user-images.githubusercontent.com/1808131/137330685-fab91737-8d62-4eef-a62b-b151741fcc8b.png">

I added a row to the plugin instance table for the default organization

[2021-10-14 14:02] jtorvald opened #1734 "Bug: unsupported operand type(s) for -: 'NoneType' and 'datetime.datetime'"
**Describe the bug**
In the error log I get an error about datetime.datetime missing on a nodetype. Not sure what is the cause of this. Maybe bad install or a bug in the code. I thought that it might be good to report anyway.

[code]

**Additional context**
[code]

[2021-10-14 17:49] mvilanova commented on #1734
Marking them as closed would mark them as stable first. We may have a bug there... We'll take a look at it.

[2021-10-14 19:30] jtorvald opened #1736 "Log organization in error log"
**Is your feature request related to a problem? Please describe.**
With multiple organizations in one instance it's hard to see what error messages are related to.

**Describe the solution you'd like**
Organization name in the log messages

Example OLD:
`scheduler_1  | WARNING:No workflow plugin is enabled. ProjectId: 1:/usr/local/lib/python3.9/site-packages/dispatch/workflow/scheduled.py:sync_act

[2021-10-15 07:52] jtorvald opened #1737 "Development setup fails with artifacts.netflix.net"
**Describe the bug**
I try to setup the development environment but I'm running into this;
`network request to https://artifacts.netflix.net/api/npm/npm-netflix/yorkie/-/yorkie-2.0.0.tgz failed, reason: connect ETIMEDOUT 100.70.216.50:443`

I tried this URL from multiple locations but it's not accessible.

Full error message:

$ npm install
[code]

[2021-10-17 03:47] Fgerthoffert commented on #1729
After removing the url check at https://github.com/Netflix/dispatch/blob/e30705938e970d8ef0dfdd04246a3f3004a6a44f/src/dispatch/models.py#L139 I managed to get through and see the channels created.

What seems to be happening here is that if for some reason the user's weblink cannot be accessed (and if I understand properly it does not seem to be a default Slack field), this field gets assigned the

[2021-10-18 18:03] mvilanova commented on #1729
@Fgerthoffert @jtorvald https://github.com/Netflix/dispatch/pull/1741 should fix your issues when a contact plugin is not enabled or enabled, but the weblink is not available. Let me know.

[2021-10-18 20:40] #1736 closed

[2021-10-19 20:40] #1728 closed, assigned to nobody

[2021-10-19 20:58] #1737 closed, assigned to nobody

[2021-10-20 14:01] #1729 closed, assigned to nobody

[2021-10-21 07:55] jtorvald opened #1750 "Feature request: Support limited list of slash slack commands"
**Is your feature request related to a problem? Please describe.**
When using the free tier of the Slack app you can only have 5 slash commands in an app.

**Describe the solution you'd like**
I'm looking for a solution where slash commands are combined and where the parameters indicate the action.

/dispatch-add	type (timeline-event, role, oncall)
/dispatch-list	type (incidents, tasks, my-tasks,

[2021-10-21 18:18] mvilanova commented on #1750
Thanks for the feature request. I can understand the frustration with this limitation. For testing purposes, I'd suggest to update the list of commands in the app manifest, so you can test all of them, 5 at a time. You have probably thought about that.

Moving from a command per action to a command that can handle more than one would require a substancial amount of refactoring given how code is ar

[2021-10-22 21:10] AlexaKelley opened #1757 "Clarification on Engagement"
I've been making some adjustments on my deployment of Dispatch and specifically I am wanting to automatically add a group/list of people to the incident channel of a given incident type. Based off from what I'm seeing from the tooltip engagement should do this, but it doesn't do that.

What I wanted to confirm is whether the engagement field is supposed to serve as a way to add a group automatical

[2021-10-26 19:34] jtorvald opened #1763 "Feature: friendly error while running 'run workflow' without workflows configured"
**Is your feature request related to a problem? Please describe.**
I was testing a new workflow plugin and got some weird slack error. Turns out that I forgot to configure workflows for this new workflow plugin.

**Describe the solution you'd like**
Show a private message to the slack user trying to run a workflow that there are no workflows configured.

**Error in slack**
[code]

**Error in logs*

[2021-10-28 20:10] #1763 closed, assigned to nobody

[2021-11-01 16:34] kevgliss commented on #1722
This is possible, let me try and add that logic. Although I'm not sure if the schema accurately reflect it.

[2021-11-10 16:49] vikassinha2019 opened #1801 "API call failure with generated id_token"
**Describe the bug**
We are PKCE authentication mechanism with microsoft AD login. https://login.microsoftonline.com/<tenant_id>/oauth2/v2.0/token.
The AD integration at UI level is working fine. With AD user login we can access Dispatch tool. In order to access Dispatch API, we used to get the bearer token value from 'id_token' from browser network console. Using that token_id we are able to call

[2021-11-11 05:17] vikassinha2019 commented on #1801
The “email” scope had to be added to work it out. e.g.

curl -X POST -H "Content-Type: application/x-www-form-urlencoded" -d 'client_id=<app_client_id>&scope=user.read%20openid%20profile%20email%20offline_access&username=user@org.com&password=345534242mand&grant_type=password' 'https://login.microsoftonline.com//oauth2/v2.0/token'

[2021-11-11 05:17] #1801 closed

[2021-11-18 00:05] #1719 closed

[2021-11-19 18:45] vikassinha2019 opened #1832 "value is not a valid email address (type=value_error.email)"
With v20211116, on a fresh installation of Dispatch with basic auth, we are getting following error

value is not a valid email address (type=value_error.email)

<img width="1274" alt="Screenshot 2021-11-20 at 12 06 16 AM" src="https://user-images.githubusercontent.com/52274121/142674689-6bcbe825-f930-44de-88b3-df829dafe174.png">

The stack trace is as follows:
response -> items -> 0 -> project ->

[2021-11-21 07:03] maghsood026 opened #1833 "Connecting Alertmanager to Netflix Dispatch"
Hello there and thank you for great incident management tool like dispatch,
but I have a problem with the Dispatch webhook in my project, and I couldn't find it in the documentation,
is it possible to create a webhook in dispatch and then define a receiver in Alertmanager to generate a new incident when the alert fired?

[2021-11-22 16:51] kevgliss commented on #1833
I'm not familiar with Alertmanager; but if it is able to send requests to an external service then you should be able to create incidents via the Dispatch API from Alertmanager when an alert fires.

[2021-11-22 22:39] kevgliss commented on #1832
Can you see pull master and see if #1836 fixes your issue?

[2021-11-24 00:04] #1723 closed

[2021-11-24 00:04] #1707 closed

[2021-11-24 07:57] vikassinha2019 commented on #1832
Nope, still facing same issue with the master pull that has #1836 included in it.

[2021-11-27 00:04] #1750 closed

[2021-11-28 00:05] #1757 closed

[2021-11-29 17:37] mvilanova commented on #1833
You may want to reach out to @Hunter-Thompson to see if he managed to integrate the two. He reached out about the same here: https://github.com/Netflix/dispatch/issues/1605

[2021-11-29 19:22] vikassinha2019 opened #1844 "mjml module not working for sending email notifications"
**Describe the bug**
We have enabled email plugin to send out notification mails on ticket update. The status change of the dispatch ticket is triggerent slack messages fine. However, it is failing on sending email notifications.

ERROR:dispatch.messaging.email.utils:internal/modules/cjs/loader.js:818
  throw err;
  ^

Error: Cannot find module '../lib/index'
Require stack:
- /usr/local/lib/python

[2021-11-29 19:45] kevgliss commented on #1844
Hmm, we are currently using that release and email notifications are working correctly. Judging by this old issue, maybe a re-install fixes it? https://github.com/mjmlio/mjml/issues/507

[2021-11-30 06:35] #1833 closed

[2021-12-01 18:56] vikassinha2019 commented on #1844
Yes, reinstalling npm plugin is solving the issue. Followed below steps:

1. rm /usr/local/lib/python3.9/site-packages/dispatch/static/dispatch/node_modules/.bin/mjml
2. npm uninstall mjml
3. npm i mjml

But strangely even with newly built image, this issue persists. Hence, i need to do above steps to make the notifications working.

Let me check mjml forums.

[2021-12-02 00:04] #1733 closed

[2021-12-02 12:53] vikassinha2019 commented on #1844
@kevgliss for me a different mjml config path is working.
I have changed following:
default=f"{os.path.dirname(os.path.realpath(__file__))}/static/dispatch/node_modules/.bin",
to
default=f"{os.path.dirname(os.path.realpath(__file__))}/static/dispatch/node_modules/mjml/bin",

in dispatch/src/dispatch/config.py

[2021-12-02 17:36] kevgliss commented on #1844
You can also set the `MJML_PATH`

See: https://hawkins.gitbook.io/dispatch/administration-guide/server#mjml_path-default-node_modules-.bin

[2021-12-02 19:46] vikassinha2019 commented on #1844
ok, so in my case, can i set MJML_PATH to '/node_modules/mjml/bin' in .env file or do I need to specify full path '/usr/local/lib/python3.9/site-packages/dispatch/static/dispatch/node_modules/mjml/bin' ?

[2021-12-03 20:28] vikassinha2019 commented on #1832
Tried again with the latest pull. It is working fine.

[2021-12-05 17:44] vikassinha2019 commented on #1832
Please ignore my last comment. The fresh installation was working with basic Auth. the fix in #1836 also is not solving the issue. I am using Azure AD authentication.

[2021-12-05 18:25] vikassinha2019 commented on #1844
tried with both 'MJML_PATH=/node_modules/mjml/bin' and 'MJML_PATH=/usr/local/lib/python3.9/site-packages/dispatch/static/dispatch/node_modules/mjml/bin' in .env, but the changes are not reflecting there.

[2021-12-07 00:04] #1722 closed

[2021-12-17 00:55] mvilanova commented on #1750
I heard back from Slack. This issue has been resolved on their end.

[2021-12-17 01:13] jtorvald commented on #1750
@mvilanova thanks for following up. I'm a bit busy right now but planning to setup Dispatch for production in the new year.

[2022-01-05 21:26] vikassinha2019 commented on #1832
issue still persists

[2022-01-05 21:28] vikassinha2019 commented on #1844
any comments on this?

[2022-01-20 13:33] olam-slack opened #1911 "Problem with reaccessing the organization after renaming"
Hello, I got an error constantly about "Organization not found" in the UI, after renaming the organization and logging out and logging in again.

My user is an owner. I checked the database tables dispatch_core.dispatch_user, .dispatch_user_organization, .organization, the mapping for my user should be fine.

Thanks for your reply in advance.

[2022-01-20 17:51] olam-slack commented on #1911
Thanks. Maybe important to note that I have loaded the sample data via install.sh

[2022-01-25 18:45] olam-slack opened #1922 "Change database schema name after renaming an organization on the UI"
- Currently, changing an organization will not lead to schema change in the database - be it the default organization or a newly created one.
- This would lead to "organization not found error", when one tries to change the project name afterwards.
- A current alternative is to create a new organization, instead of changing the name of an existing organization.

[2022-01-25 18:52] olam-slack commented on #1911
#1922 will rectify the issues.

[2022-01-25 18:52] #1911 closed

[2022-01-25 18:53] olam-slack opened #1923 "Please update configuring Slack page on Gitbook to provide more up-to-date information."
As per discussion with Marc, https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-slack is not up to date, please update accordingly.

[2022-01-25 19:04] olam-slack opened #1924 "Forbid or show UI error when a member trying to update an organization name"
- Being a member trying to update an organization name will not prompt an UI error, nothing will happen / show by clicking Update after renaming.
- Currently, such error is visible in the server log.
- Alternative solution is to forbid a member from updating it at all.
- Dependent on #1922. Without #1922, changing organization name is currently not recommended.

[2022-01-25 22:46] olam-slack opened #1926 "Incorrect project routing upon usage of slack-plugin"
Added new organization
Added new project
Added slack plugin
But the server log still shows an organization that is not added to.

![image](https://user-images.githubusercontent.com/96050653/151072465-ff0c2311-b879-4013-8cd6-8dad3d7c9d32.png)

[2022-01-25 22:51] olam-slack opened #1927 "After being added in UI, incident Type & Priority did not show up upon creation of ticket"
Not using sample data (database dropped), added incident type & priority manually but they did not show up upon creation of ticket.
The following may have shown in server log
psycopg2.errors.UndefinedTable: table "document_terms" does not exist

![image](https://user-images.githubusercontent.com/96050653/151072836-5e019922-760e-4f32-8324-4e429101ce6b.png)
![image](https://user-images.githubusercon

[2022-01-25 23:29] olam-slack opened #1928 "No drop-down commander & reporter upon incident creation after dropping database"
Dropped the database & init
dispatch database drop
dispatch database init

Registered two users 1@test.com & 2@test.com
They are not being shown for choice as commander nor reporter.
No incident can be created.

![image](https://user-images.githubusercontent.com/96050653/151076795-fde68267-4914-4272-b7fe-3844fc7aa231.png)

[2022-01-26 17:06] mvilanova commented on #1928
@olam-slack Dispatch UI users are not the same as individuals who participate in incidents. These drop downs rely on individuals in the Individuals section under each project. The list of individuals will be programmatically populated as they get added to incidents or can be populated manually by clicking on the New button.

[2022-01-26 17:08] mvilanova commented on #1927
Did you run `dispatch database init` after dropping the database?

[2022-01-26 17:16] mvilanova commented on #1926
Looks like your database session is using a different database schema (`dispatch_organization_organization1` vs `dispatch_organization_slack`). Did you manually rename the schema in the database? Does it still happen if you restart all containers and connect to the UI again?

I ran into similar issues yesterday when I was testing https://github.com/Netflix/dispatch/pull/1929. I need to spend more

[2022-01-26 17:22] mvilanova commented on #1832
@vikassinha2019 are you still experiencing this issue? If not, please feel free to close it.

[2022-01-26 17:23] mvilanova commented on #1844
@vikassinha2019 are you still experiencing issues with this? If so, please feel free to close.

[2022-01-26 18:44] olam-slack commented on #1927
Yes I did.

On Wed, Jan 26, 2022 at 6:08 PM Marc Vilanova ***@***.***>
wrote:

[2022-01-26 18:45] olam-slack commented on #1928
Thanks for your clarification, but I don't see a new button upon creation of the incident.

[2022-01-26 18:47] olam-slack commented on #1926
Thanks. I did not manually rename the schema this time. Did not and would not be able to test any time soon again, as I wiped everything.

[2022-01-26 19:08] mvilanova commented on #1928
<img width="1017" alt="Screen Shot 2022-01-26 at 11 07 14 AM" src="https://user-images.githubusercontent.com/39573146/151229906-2017ffea-4684-4210-a9b8-03b248202521.png">

[2022-01-26 19:09] mvilanova commented on #1927
Ok, I'll see if I can repro.

[2022-01-26 19:10] mvilanova commented on #1926
Ok, I abandoned #1929 and created #1935 to disallow org name changes.

[2022-01-26 23:06] #1924 closed

[2022-01-27 00:08] #1922 closed

[2022-01-27 00:10] #1926 closed

[2022-01-27 00:10] #1928 closed

[2022-01-27 20:59] mvilanova commented on #1927
I wasn't able to reproduce. I created a new incident type and priority and they showed up in the new incident creation view.

[2022-01-27 22:27] pdehlke commented on #1832
I am having the same issue as of today, using v20220119 in https://github.com/Netflix/dispatch-docker/

[2022-01-27 22:54] mvilanova commented on #1832
Ok, thanks for letting me know. I’ll look into it.

On Thu, Jan 27, 2022 at 14:28 Pete Ehlke ***@***.***> wrote:

[2022-01-27 22:55] mvilanova commented on #1832
Is that using the sample data or not?

[2022-01-28 11:53] olam-slack commented on #1927
Okay, I am not sure if the difference is that I am not using sample data (database dropped then database inited), were you doing the same?

[2022-01-28 12:55] pdehlke commented on #1832
Yes, using the sample data, because electing not to use the sample data fails even more spectacularly:

Do you want to load example data (WARNING: this will remove all existing database data) (y/N)?n
Running standard database migrations...
Creating dispatch_core_1 ... done
Creating dispatch_web_run ... done
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/sqlalchem

[2022-01-28 16:20] mvilanova commented on #1832
Ugh, that's no bueno. The script might be missing a dispatch database init after running the database migrations. I'll put out a fix for it soon.

[2022-01-30 20:06] pdehlke commented on #1832
More information on this.

If I use v20211015 or earlier in dispatch-docker, everything works fine with the sample data. If I use v20211116 or later, I get this issue.

[2022-01-31 14:53] pdehlke opened #1941 "Docker container won't build on aarch64"
**Describe the bug**
When attempting to build the docker container on aarch64 (AWS graviton or Apple M1) hosts, `docker build -t dispatch .` fails with:

#16 2.988 + pip install -U /tmp/dist/dispatch-0.1.0.dev0-py38-none-any.whl
#16 3.890 Processing /tmp/dist/dispatch-0.1.0.dev0-py38-none-any.whl
#16 4.304 Collecting uvicorn==0.17.0.post1
#16 4.504   Downloading uvicorn-0.17.0.post1-py3-none-any.w

[2022-01-31 19:42] mvilanova commented on #1927
Yes, I ran `dispatch database drop` and `dispatch database init` before testing.

[2022-01-31 19:44] mvilanova commented on #1832
The sample data has fallen behind all the changes to master and needs to be rebuilt.

[2022-01-31 19:59] mvilanova commented on #1941
I ran into similar issues when trying to install Dispatch's Python requirements on my new Macbook Pro with the Apple M1 Pro chip. I was able to resolve them by manually pip installing them on Python version 3.9.9.

[2022-02-14 17:14] olam-slack commented on #1927
Hi Marc, I am closing the ticket, I restarted everything and got it running.

[2022-03-03 00:11] #1844 closed

[2022-03-03 21:37] pdehlke commented on #1832
So is this going to be a "won't fix"?

[2022-03-03 21:38] kevgliss commented on #1832
We are planning to have a release in the next few days. I will update the example data accordingly.

[2022-03-04 18:53] #1832 closed

[2022-03-10 18:45] Achooo opened #2055 "Unable to perform Slack operations: Listener issue (KeyError)"
**Describe the bug**

When I try to create a slack channel, or run any slack command. I see issues with a request listener.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Slack as documented here: https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-slack
2. I've set the following:

[code]
I got the `SLACK_APP_USER_SLUG` from the [auth.test](https://ap

[2022-03-10 21:06] mvilanova commented on #2055
@Achooo sorry to hear you're having issues with Dispatch. Our Slack documentation is out of date and we're in the process of updating it. Can you answer the following questions so I can help you troubleshoot?
* Did you set the parameters in the `.env` file or the Slack plugin under Settings -> Project -> Plugins?
* What ticketing plugin are you using?
* Is the incident getting named after its crea

[2022-03-11 18:19] vikassinha2019 opened #2059 "Custom Incident name in Dispatch"
We are currently creating tickets in Jira for our alerts, and they have the naming convention as ABC-12345 (12345 number is as per the ticket counter in Jira).
Now creating the ticket within Dispatch will have its own sequence number for the ticket ID (e.g. dispatch-default-default-101).  So, how we can use the Jira ticket incident number to create dispatch incident id as dispatch-defaul-default-1

[2022-03-11 18:23] kevgliss commented on #2059
If you enable the Jira dispatch plugin, dispatch will use whatever is returned from Jira. In this case, it would cleanly use the next available Jira ticket number as the dispatch ticket ID. If you want to backport your existing Jira into Dispatch, you can but would have to script something up, we don't have something generic because Jira projects use unique identifiers.

[2022-03-16 18:07] AlexaKelley opened #2085 "Request For Comment - Recommended Testing Pipeline"
Putting this under feature request as it isn't exactly a bug or security issue.

# Question:
Is there a recommended testing process for upgrading Dispatch? For example is it designed around an assumption of a specific upgrade or deployment process? Is there a particular configuration or process you've had luck with, and if so could you share some of the top level details of it?

## Context
I have

[2022-03-16 21:27] kevgliss commented on #2085
Hi @AlexaKelley, I'm sorry to hear that the upgrade/testing process isn't as smooth as it could be. In general, I think we can always be better about describing breaking changes for folks. That said, there will probably always have to be some integration testing before rolling out an update internally; so I can try to give you some insight on what works for us.

You mentioned you aren't in a posit

[2022-03-21 14:10] Achooo commented on #2055
Hi, truly sorry for the delay here!

I actually did both

Jira plugin. Why does the ticketing plugin matter here?

Yes it is!

No I think that's the only error I see

Additional thoughts:
I think the documentation may be missing some bot scopes.
Is it possible to confirm that those are the correct ones with someone's working setup? : https://hawkins.gitbook.io/dispatch/administration-guide/inciden

[2022-03-22 01:14] pc-aashoke opened #2098 ""Example Incident Review Document" link is broken in Docs"
The "Example Incident Review Document" Google Doc link is broken in the [documentation](https://github.com/Netflix/dispatch/blob/master/docs/admin-guide/administration/incident/templates.md#review). Thank you.

[2022-03-22 16:03] mvilanova commented on #2098
We will review and update all the templates and their links when we get a chance.

[2022-03-24 01:08] #2098 closed

[2022-03-24 01:42] mvilanova commented on #2055
I reviewed the bot token scopes and they're correct. In fact, `reminders:write` and `remote_files:read` were not necessary, so I have removed them. I reviewed Slack's socket mode docs and there are no mentions of additional scopes for socket mode to work.

I'll try to carve some time this week to set up socket mode locally and see if I can repro your issue, as we don't use socket mode in our test

[2022-03-24 18:27] #1923 closed

[2022-03-29 03:50] Keetmalin opened #2122 "Config 'DISPATCH_ENCRYPTION_KEY' is missing on Docker Run"
**Describe the bug**
When I try to run the [docker image](ghcr.io/netflix/dispatch/dispatch-image:v20220322) provided in this repo, I get the following error.

[code]
The command I used was:
`sudo docker run ghcr.io/netflix/dispatch/dispatch-image:v20220322`

I have a `.env` file and I tried to pass it to the following command, with:
`sudo docker run ghcr.io/netflix/dispatch/dispatch-image:v202203

[2022-03-29 04:35] Keetmalin commented on #2122
Sorted this out. It was a mistake on the way I ran the docker command. Command should be:

`sudo docker run  --env-file .env ghcr.io/netflix/dispatch/dispatch-image:v20220322`

[2022-03-29 04:35] #2122 closed

[2022-03-30 19:15] AlexaKelley commented on #2085
Thank you for the thorough response, and this information is helpful.

I think in my case I may need to find a different way to do testing, but it is very helpful to have clarity on the testing paradigm that the platform was developed against.

[2022-03-30 19:15] #2085 closed

[2022-04-19 00:07] #2059 closed

[2022-04-20 01:54] w4yh opened #2160 "[just a report] unable to build with docker-compose v1"
**Describe the bug**
unable to build using docker-compose v1 (I tried with 1.28.0 and 1.29.2)

**To Reproduce**

```./install.sh``` using with docker-compose v1

**Expected behavior**
complete building

**Screenshots**

[code]

**Environmnt**
 - OS: AlmaLinux release 8.5
 - Client: Docker Engine - Community  Version: 20.10.14
 - Server: Docker Engine - Community Engine: Version: 20.10.14
 - docker

[2022-04-20 23:21] jmdangelo opened #2163 "Slack plugin not tagging slack users and sending double messages"
**Describe the bug**
For a bit of background, I'm basing my deployment on the dispatch-docker repository and running it in kubernetes.  After setting up the slack plugin, and getting a slack app up and running, I'm facing two issues.
The first issue:
Whenever I create an incident, in the new channel it double sends every message, this can be seen in the image attached:

When dispatch app sends a m

[2022-04-27 22:45] mvilanova commented on #2163
I think this is happening because you're both the incident reporter and commander and we don't de-dupe email addresses [here](https://github.com/Netflix/dispatch/blob/master/src/dispatch/incident/flows.py#L880) . I'll put out a fix for it.

I suspect the the markdown [here](https://github.com/Netflix/dispatch/blob/master/src/dispatch/incident/messaging.py#L461) is not getting properly rendered, be

[2022-05-03 16:51] mvilanova commented on #2163
PRs for issues reported here have been merged.

[2022-05-18 15:56] jeffreynn opened #2213 "Incident dashboards fail to load in UI when user is of Member role"
**Describe the bug**
Just upgraded to the latest version of dispatch. When logged in as a user with the Member role, the incidents Dashboard fails to load and gives an error message (Something has gone wrong, please retry or let your admin know that you received this error.). This error does not occur when logged in as a user with an Admin role.

The error seems to be coming from a call to the bac

[2022-05-18 20:26] mvilanova commented on #2213
Can you apply https://github.com/Netflix/dispatch/pull/2214 and see if it fixes your problem?

[2022-05-18 22:11] mvilanova commented on #2213
This issue should've been fixed in https://github.com/Netflix/dispatch/pull/2215

[2022-05-18 23:02] jeffreynn commented on #2213
Thanks for the quick fix!!!

[2022-05-18 23:02] #2213 closed

[2022-05-31 18:38] rlevit opened #2238 "Unable to change user's role"
**Describe the bug**
As an admin of the default organization I want to change another user's role from `member` to `manager` or `owner` and I get an error in the red bottom bar that reads "You don't have permissions to update your organization role." I get the same error in the REST API (see attached screenshots). I don't have Debug logging enabled so all I see in logs is
`web        | INFO:     1

[2022-05-31 18:57] mvilanova commented on #2238
Thanks for the report. I was able to reproduce it. I'll put a fix for it. In the meantime, please use the following CLI command: `dispatch user update -o <ORG_NAME> -r <ROLE> <EMAIL>`

[2022-05-31 19:15] rlevit opened #2239 "Non-default organizations are not usable"
**Describe the bug**
I want to create and use a new organization in Dispatch. I can create one but can't use it. When I switch to the new organization, regardless whether I am an owner of the default or a new one I get the same `Forbidden` error when I'm trying to browse Members or Projects (I can't see the default project after switching to another org) or trying to create a new project. I also c

[2022-05-31 19:20] rlevit commented on #2238
@mvilanova Thank you for your response. Yes, I can do it if I have `execute` option available but, in my case, I launched the app in AWS ECS with `docker-compose` using ECS context and don't have SSM access to the container so the API was the only non-UI option to do that.

[2022-06-01 20:56] mvilanova commented on #2238
Fixed it in #2242. Let me know if you still have issues with it.

[2022-06-01 20:56] #2238 closed

[2022-06-01 21:05] mvilanova commented on #2239
I wasn't able to repro. Here are the steps I followed:

1. Create new organization called `Test`
2. Used the organization switcher to switch to the new organization
3. Visited http://XXXX/test/settings/members?project=default and did not get any errors
4. Visited http://XXXX/test/settings/projects?project=default and did not get any errors

Can you please share your repro steps?

[2022-06-01 21:47] mvilanova commented on #2239
I can't see the test data in the default organization when I switch back to it from the test one, so there's clearly an issue impacting the ability to use organizations appropriately. I'll carve time to investigate what's causing the issue.

[2022-06-02 15:36] rlevit commented on #2239
Hi @mvilanova, I made a screen recording reproducing the steps and the error. Unfortunately the video is too big to be attachable to this issue so I put in on Youtube [here](https://youtu.be/Df1i53rigX4).

To reproduce the issue, I started from scratch and only modified a few parameters in the `env` file which I believe don't have any influence on the issue. If I name the new organization "Test" e

[2022-06-02 16:46] mvilanova commented on #2239
Thanks for the video. There seems to be an auth issue when you're trying to login to the amplify organization. Would you mind sharing your auth provider settings in the `.env` file?

![Uploading Screen Shot 2022-06-02 at 9.42.15 AM.png…]()

[2022-06-02 17:27] rlevit commented on #2239
@mvilanova sure, theses are the values that I use in the `.env` file
[code]
However, if i'm not mistaken, I experienced this issue even before I configured basic auth. In fact, I configured basic auth to try using REST API with the goal to see if I get the same `Forbidden` error there too.

[2022-06-02 17:58] rlevit opened #2245 "UI issue when using plugin search"
**Describe the bug**
This is probably a minor UI issue. When I select a plugin that I want to enable and click on the "Plugin" field again, a dropbox appears that reads '_No Plugins matching "plugin name here"_'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:8000/default/settings/projects/plugins?project=default'
2. Click on 'New'
3. Select a desired plugin
4. Click

[2022-06-02 19:27] mvilanova commented on #2239
The `.env` file looks good. The first error in the screenshot suggests that there's something wrong with the authorization header. Any chance there's something in between your browser and the the Dispatch web server that's altering it or stripping it out? I'm still not able to repro the `Forbidden` issue on my side.

[2022-06-02 19:53] rlevit commented on #2239
@mvilanova while I have Adblock Plus and Privacy Badger extensions in my browser they are not triggering and not blocking anything. That can be seen in the video too. When extensions block something they indicate number of blocked elements/links.
To confirm it is not a browser related issue, I commented out all the basic auth related config in the `.env` file and launched a new set of the Dispatch

[2022-06-02 20:57] mvilanova commented on #2245
Thanks for the report. I think this might be related to a known issue we have with syncing any required fulltext table triggers and functions. I'll look into it when I have some free cycles.

[2022-06-02 22:30] mvilanova commented on #2239
I was able to repro by creating an org called `Amplify` and am working on a fix.

[2022-06-02 22:42] mvilanova commented on #2239
`strip()` [here](https://github.com/Netflix/dispatch/blob/master/src/dispatch/main.py#L83) is removing the `a` from `amplify`, which then causes [this](https://github.com/Netflix/dispatch/blob/master/src/dispatch/main.py#L127) else to be evaluated, which throws the `Forbidden` message.

[2022-06-02 23:45] #2239 closed

[2022-06-03 16:20] rlevit commented on #2239
@mvilanova I built a new version of the app from the Dockerfile and switching to a new org doesn't show error anymore but the app version is still `dispatch, version 0.1.0.dev0`. I think you need to bump up the version in the code.

[2022-06-03 17:49] mvilanova commented on #2239
@rlevit the docker image should be published when we cut the next release today or early next week. We've been really bad at bumping the version, which is currently hardcoded at `0.1.0.dev0`.

[2022-06-03 17:57] rlevit opened #2249 "Can't see a new user"
**Describe the bug**
In the newly deployed locally Dispatch app, where the `dispatch-local` image was built from Dockerfile pulled today, I created a new organization named `Amplify` with a user (rlevit@amplify.com) who is an admin of the default org. I logged out and changed URL to `http://localhost:8000/amplify/auth/register` and registered with a new user `test@amplify.com`. I ran `docker exec

[2022-06-03 18:38] rlevit commented on #2239
No problem. Thank you for the update.

[2022-06-03 19:18] mvilanova commented on #2249
@rlevit thanks for the report. I'll see if I can repro and circle back probably not until next week. Sorry for the inconvenience this is causing.

[2022-06-03 22:37] JeffCT0216 opened #2252 "Page Multiple Roles For Each Incident"
Hi there,

We noticed a change in behavior from previous versions where we are able to fire pages to multiple roles per instance. (e.g. page both the Commander and the Liaison). After merging v20220310 I'm noticing two different behaviors where:
1. It always only pages the Commander
2. When the Commander have is the same person as the Liaison, the pagerduty service id can get overwritten from Comm

[2022-06-06 21:30] mvilanova commented on #2252
I fixed the overwriting issue here https://github.com/Netflix/dispatch/pull/2254

[2022-06-22 14:25] rlevit opened #2275 "Access to example documents restricted"
**Describe the bug**
On [this page](https://hawkins.gitbook.io/dispatch/administration-guide/incident/templates#incident) there are few links to examples that lead to Google Docs but the access to the documents is restricted. It used to work few weeks ago. Please grant access. Thank you.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this [link](https://hawkins.gitbook.io/dispatch/adm

[2022-06-22 15:00] rlevit opened #2276 "Missing image in the docs"
**Describe the bug**
The image is missing on [this](url) page. There is an image placeholder with the message that reads "Could not load image".

**Screenshots**
<img width="831" alt="Screen Shot 2022-06-22 at 10 59 59 AM" src="https://user-images.githubusercontent.com/15822524/175062977-39c1b6aa-3b10-461a-93fc-c6b5e4747af1.png">

[2022-06-22 15:02] rlevit opened #2277 "Docs page is missing content"
**Describe the bug**
[This page](https://hawkins.gitbook.io/dispatch/user-guide/tasks) is missing content. Is this intentional?

**Screenshots**
<img width="845" alt="Screen Shot 2022-06-22 at 11 02 14 AM" src="https://user-images.githubusercontent.com/15822524/175063468-299ac683-81c4-47b0-a900-521c58b39c38.png">

[2022-06-22 17:33] mvilanova commented on #2275
This should be fixed now.

[2022-06-22 17:33] #2275 closed, assigned to nobody

[2022-06-22 17:34] mvilanova commented on #2276
Not sure what @kevgliss had in mind here. I'll let him add it when he's back.

[2022-06-22 17:45] #2277 closed

[2022-06-22 20:34] rlevit opened #2282 "Incident Types documentation page is out of sync with the New Incident Types form"
**Describe the bug**
Incident Types documentation [page](https://hawkins.gitbook.io/dispatch/administration-guide/incident/incident-type) is out of sync with the New Incident Types form. The New Incident Types form in the Dispatch UI has more features not covered in the documentation.

**Screenshots**
<img width="393" alt="Screen Shot 2022-06-22 at 4 31 41 PM" src="https://user-images.githubuserco

[2022-06-23 20:43] keithherron opened #2290 "Incidents created with empty name on fresh install"
**Describe the bug**
New incidents are created with empty name field after fresh installation

**To Reproduce**
Steps to reproduce the behavior:
1. Install via ./install.sh method
2. Register account, grant owner privs, and create initial type and priority in the 'default' project
3. Attempt to create a test incident
4. Incident is created, but name is missing

**Expected behavior**
Incident creat

[2022-06-24 16:09] mvilanova commented on #2290
Hi @keithherron, did you add and set up one of the ticket plugins available (e.g. dispatch, Jira) in https://<HOSTNAME>/<ORG_NAME>/settings/projects/plugins?project=<PROJECT_NAME>? Dispatch relies on the plugin to be able to name the incident.

[2022-06-24 16:27] keithherron commented on #2290
Thanks! This indeed looks to have been my issue, once the ticket plugin is added to the project the name is populated.

Do you think this condition might be worthy of a warning message in the UI/logs, something to the effect of "project has no ticket plugin configured, incidents will not be named" ?

[2022-06-24 16:46] #2290 closed

[2022-06-24 17:09] #2282 closed

[2022-06-28 15:24] Hellboy7 opened #2300 "Dispatch Install, Deployment, and Config Support"
**Describe the bug**
This regards to dispatch slack configuration issue, I have updated the necessary details in slack plugins according to dispatch [[slack documentation](https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-slack#conversation-management-plugin).] But I am getting multiple errors.

Errors:

Error from Slack app:
[dispatch-conversion](https://app.sl

[2022-06-28 15:25] Hellboy7 commented on #2300
![Screenshot 2022-06-28 at 8 53 46 PM](https://user-images.githubusercontent.com/61435629/176218513-29886e08-b93b-48f5-bf2a-e11be90e4d2e.png)

[2022-06-28 15:25] Hellboy7 commented on #2300
<img width="1211" alt="Screenshot 2022-06-28 at 8 53 59 PM" src="https://user-images.githubusercontent.com/61435629/176218600-5130661d-42f6-4937-877f-b6a3dd5ca981.png">

[2022-06-28 15:29] Hellboy7 commented on #2300
Hi @mvilanova
Thanks for the response in the gitter,
Can you check above issue and screenshots please and help me to sort the problem?
If you are ok with video call I can set up the meeting, it would be great helpful. Let me know your preference time if it is ok for you?

[2022-06-28 16:55] mvilanova commented on #2300
The reason why we don't allow you to run slash commands that are built to interact with the incident in non-incident-related channels is because Dispatch needs to know the Slack channel id linked to the incident.

[2022-06-29 11:00] Hellboy7 commented on #2300
Can you help me on the configuration part to sort this issue? I can set-up call if you are ok?
I tried my best to config and troubleshoot the error but I failed.

[2022-06-29 15:23] mvilanova commented on #2300
Let's give it a try here first if you don't mind. Please share the steps you followed to setup Dispatch and the app/ bot in your Slack workspace.

[2022-06-30 16:54] Hellboy7 commented on #2300
I guess screwed up entire dispatch docker. I am planning to start fresh install from scratch. Just guide me step by step procedure to install. Ill do it myself.

Initially, I installed dispatch from below mentioned github repo is that correct way?
https://github.com/Netflix/dispatch-docker

Then what is this github repo for ? I got confused when I saw below repo.
https://github.com/Netflix/dispatc

[2022-06-30 17:21] Hellboy7 commented on #2300
My current dispatch version in my local machine is > "dispatch, version 0.1.0.dev0". is this latest version?

[2022-06-30 17:25] mvilanova commented on #2300
If this was a question, the answer is there's no script to install it. You need to pull the checkout the source in your CI/ CD pipeline.

Yes, ignore the version number. https://github.com/Netflix/dispatch.git#latest will always be the latest stable version.

[2022-06-30 17:37] Hellboy7 commented on #2300
ok once we deploy code in AWS, how do we start the dispatch? In docker, we do docker-compose to start the dispatch.

[2022-06-30 17:41] mvilanova commented on #2300
You can start the web server by running the following command

`exec /apps/sirtdispatch/bin/dispatch server start dispatch.main:app --workers 6 --host 127.0.0.1 --port 7101 --proxy-headers`

and scheduler by running

`exec /apps/sirtdispatch/bin/dispatch scheduler start`

[2022-07-01 05:15] Hellboy7 commented on #2300
Hi @mvilanova

Thanks for your continuous support, and I appreciate that.

I did a fresh installation of dispatch in the AWS EC2 instance. Installation is done through the docker image repo (https://github.com/Netflix/dispatch-docker) with an example Postgres SQL data dump for testing. Post that, I have configured slack for dispatch as per instructions in the docs (https://hawkins.gitbook.io/dispa

[2022-07-01 05:15] Hellboy7 commented on #2300
![Screenshot 2022-07-01 at 10 32 26 AM](https://user-images.githubusercontent.com/61435629/176828396-e657cd1e-f60e-4643-8d6c-9308fb87cc5b.png)
<img width="742" alt="Screenshot 2022-07-01 at 9 39 49 AM" src="https://user-images.githubusercontent.com/61435629/176828402-b245b9ee-0c98-49b6-9ad5-03a835255223.png">

[2022-07-01 14:50] keithherron opened #2309 "Individual contact name overwritten on incident creation"
**Describe the bug**
After creating a new incident individual contact name is shown as either "unknown" or "user@email.com"

**To Reproduce**
1. Switch to a non-default organization
2. Set individual contact name in settings > project > contact > individuals to reflect their actual name, e.g. "Darth Vader"
3. Create an incident as this individual in the project updated in step 2
4. Their contact n

[2022-07-01 15:37] keithherron opened #2310 "Assignable default organization"
**Is your feature request related to a problem? Please describe.**

Possibly, the problem could very well be operator error/misunderstanding as well!

Currently my environment has two organizations present, 'default' and 'companyname'.  'default' was created automatically, and 'companyname' was created by me via the UI and contains my site specific configuration.

The problem I'm currently encount

[2022-07-01 18:29] mvilanova commented on #2300
Looks like you did not define `DISPATCH_UI_URL` in your `.env` file and Dispatch is using the default. See https://hawkins.gitbook.io/dispatch/administration-guide/server#dispatch_ui_url

[2022-07-01 18:37] mvilanova commented on #2309
I'll see if I can repro and circle back as soon as I can.

[2022-07-01 18:42] mvilanova commented on #2310
I added support for default projects under member settings recently and am planning to do the same for organizations in the near future, so those are used/ applied throughout the app upon login.

[2022-07-04 13:23] Hellboy7 commented on #2300
Hi @mvilanova

I read through the above mentioned blog post, and some of the info I was able to digest with my basic knowledge but, I felt it was complex.

After reading the blog, one thing I noticed document says `it should be done during the build time`. But In my case, I have already installed the "dispatch" in AWS EC2 instance.

Is it possible to modify now? If yes, how to do it? and in which

[2022-07-05 17:51] mvilanova commented on #2300
That's correct. The `.env` file needs to be in the same directory as the `install.sh` Bash script when you run the script to build the docker images. We provide a sample one [here](https://github.com/Netflix/dispatch-docker/blob/master/.env.example).

[2022-07-06 13:12] lerra opened #2323 "Grafana oncall plugin feature request"
It would be awesome to have a plugin for [grafana oncall](https://github.com/grafana/oncall), an open source alternative (with SaaS as option) to the SaaS only oncall services that is supported today (pagerduty & opsgenie).

[2022-07-06 16:44] mvilanova commented on #2323
Hi @lerra, we're happy to guide you (or someone else) through the process of building a plugin for it and review and merge the code for it, but we're not going to have cycles to do it ourselves.

[2022-07-07 05:46] Hellboy7 commented on #2300
Hi @mvilanova

As suggested, I have created new ".env" file in the "dispatch-docker" directory with the content mentioned below:

`[ec2-user@ip-10-1-2-10 .github]$ cat .env
# General
COMPOSE_PROJECT_NAME=dispatch
#SECRET_KEY=REPLACEWITHSOMETHIINGSECRET
#DISPATCH_JWT_SECRET=REPLACEWITHSOMETHIINGSECRET
#DISPATCH_ENCRYPTION_KEY=REPLACEWITHSOMETHIINGSECRET

# Database
# NOTE: Ensure that DATABASE_CRED

[2022-07-07 17:44] keithherron opened #2334 "Registered members only appear in default organization"
**Describe the bug**
When a user registers they appear only as a member of the default org, even if assigned a role (e.g. admin) in another org.  I only see one account in the members section (which has owner privs) at present

**To Reproduce**
1. Go to dispatch instance
2. Register new account
3. Account appears only in default org
4. Grant privileges to other org (e.g. admin of 'companyname' org

[2022-07-07 17:51] mvilanova commented on #2334
Thanks for the report @keithherron. We'll look into it as soon as I can.

[2022-07-07 20:39] mvilanova commented on #2334
https://github.com/Netflix/dispatch/pull/2336 fixes your issue and other issues I found when I was troubleshooting.

[2022-07-07 20:41] #2334 closed

[2022-07-07 20:44] mvilanova commented on #2249
@rlevit https://github.com/Netflix/dispatch/pull/2336 should've fixed this issue. Let me know if that's not the case.

[2022-07-08 03:56] Hellboy7 commented on #2300
In `docker-compose.yml` file I changed the `build:context` url from `https://github.com/Netflix/dispatch.git#latest` to `https://github.com/Netflix/dispatch.git` which worked fine. is something wrong with that or this is not the best practice? Refer to screenshot.

<img width="710" alt="Screenshot 2022-07-08 at 9 24 49 AM" src="https://user-images.githubusercontent.com/61435629/177913857-1abb9456-

[2022-07-08 15:17] rlevit commented on #2300
+1 for being able to delete the default org entirely or rename it so creating a new org wouldn't need to be necessary.

[2022-07-08 16:05] mvilanova commented on #2300
See my comment here: https://github.com/Netflix/dispatch/issues/2300#issuecomment-1177902119

No, not at the moment.

If you're using basic auth, you can use CLI command `dispatch user update`

[2022-07-11 04:24] Hellboy7 commented on #2300
Hi @mvilanova

Thanks for the continuous support and information.

https://github.com/Netflix/dispatch/issues/2300#issuecomment-1177902119

I read the above comments. I understood bit of it `It is not error, and it is warning`. But is there anyway to solve those warnings. Because, In `docker-compose.yml` when I use `git#latest` in the `build:context` URL place. It fails with warning signs and does

[2022-07-11 04:26] Hellboy7 commented on #2300
Hi @mvilanova

Does dispatch support OAUTH through an app-registration on Azure AD? Because, our org is moving to Azure AD from GCP (G-Suite).

[2022-07-11 18:13] mvilanova commented on #2300
@Hellboy7 `latest` tag should work again. Let me know if that's not the case.

Dispatch supports basic login/password, [PKCE](https://oauth.net/2/pkce/), and custom auth providers. PKCE is the way to go for your use case. This article seems like a good start: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/openidoauth-tutorial

[2022-07-11 20:28] keithherron opened #2347 "Incident document not created at time of new incident"
**Describe the bug**
With google docs plugin enabled document resource is not created with new incident, and not seeing a failed attempt in debug logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable google-docs-document plugin, populate with various credentials
2. Create a basic template in google docs, and add as dispatch incident template "foo"
3. Associate template "foo" with inci

[2022-07-11 20:52] mvilanova commented on #2347
You also need to add and configure the `Google Drive Plugin - Storage Management`, so Dispatch knows where to copy the templates as incident documents.

[2022-07-11 22:28] keithherron commented on #2347
Thanks!  Configuring the google drive storage plugin did the trick!

[2022-07-12 16:07] Hellboy7 commented on #2300
Hi @mvilanova
As suggested, I have update the URL with `latest` tag in the `docker-compose.yml` file and executed the `./install.sh` script.
![Screenshot 2022-07-12 at 9 22 38 PM](https://user-images.githubusercontent.com/61435629/178537415-3481b7e0-e1a0-477a-ab07-ae24cfc17cd1.png)
But, I got following `warnings/errors`. Refer screenshot.
Screenshot 1
![Screenshot 2022-07-12 at 9 21 45 PM](https:/

[2022-07-12 18:38] mvilanova commented on #2300
I reverted the changes in https://github.com/Netflix/dispatch/pull/2304, which caused this issue. You'll need to remove the `latest` label to leverage the changes. Can you run the script and let me know if it is resolved?

[2022-07-13 04:50] Hellboy7 commented on #2300
Hi @mvilanova
Thanks for the fix, That worked fine with minor warnings!!!

I am not able to switch the Org in the Dispatch UI!!!

![Screenshot 2022-07-13 at 10 06 11 AM](https://user-images.githubusercontent.com/61435629/178652772-e03f1a8f-4eda-40da-a906-2e0abfaada12.png)

I am able to access the projects by changing the Project names in URL.

Project 1: `https://dispatch-netflix[.]com/`default`/d

[2022-07-13 18:35] mvilanova commented on #2300
Known problem. Working on a fix.

[2022-07-13 19:58] rlevit commented on #2249
@mvilanova I redeployed Dispatch from the latest master and now can see all users registered to a non-default org. Thank you for fixing this.

[2022-07-13 20:07] rlevit commented on #2249
@mvilanova, oh, sorry, I have to take the previous message back.

After the login I switched to Amplify org and went to "Settings->Members" and I saw all the user I didn't see before. But I didn't realized that I still was in the "Default" org. So now looks like the org switcher is not working because no matter how many times I click on the arrows sign next to the desired org it won't switch to it

[2022-07-13 20:14] rlevit commented on #2249
Great, thank you. Also, after switching to the Amplify org I couldn't see users registered to that org, meaning the issue persists.

[2022-07-14 02:58] Hellboy7 commented on #2300
Thank you so much for the support so far !!!
I am currently working SSO integration with Azure AD. I will update my journey on this if it was successful and document it. It may be useful for others in the community.

[2022-07-16 16:18] Achooo commented on #2055
@mvilanova Thank you for keeping this open and looking into it. However, I'm happy to close this issue since no one has upvoted it / nor commented saying they've experienced the same! We've since moved away from testing Dispatch

[2022-07-18 03:40] Hellboy7 commented on #2300
Hi @mvilanova
I see new pull requests, How to update this? Same procedure like running the script "./install.sh" or any different ways to update the dispatch with latest changes done in the repo?

[2022-07-18 04:08] Hellboy7 commented on #2300
Again, when I tried to run "./install.sh" script, I got error check the screenshot.
<img width="1682" alt="Screenshot 2022-07-18 at 9 30 19 AM" src="https://user-images.githubusercontent.com/61435629/179444017-91271d17-4ddd-41db-b1d3-57758f988327.png">
`error: could not write to 'build/lib/dispatch/static/dispatch/node_modules/prettier-eslint/node_modules/typescript/lib/typescriptServices.js': No

[2022-07-18 16:51] mvilanova commented on #2300
@Hellboy7 you can run the install script when a new release goes out or remove `#latest` from [here](https://github.com/Netflix/dispatch-docker/blob/master/docker-compose.yml#L22) and run the install script any time you want to pull any new changes.

[2022-07-18 16:56] mvilanova commented on #2055
@Achooo sorry I haven't been able to get to it yet. Let's keep it open in case others experience the same issue. Would you mind sharing why you decided to not continue testing Dispatch?

[2022-07-26 17:06] 3c-un-str opened #2383 "Only the first task runs in a list of 1+ BackgroundTasks tasks."
**Describe the bug**
In the file ...plugins/dispatch_slack/events.py, in event_functions, in the key ["message"], five (in my case six) functions/background tasks are added during the execution of handle_slack_event, but only the first task in the list runs successfully.

**To Reproduce**
Change the order of the tasks in the list, the execution always stops during the second; execution seems to be

[2022-07-26 22:18] mvilanova commented on #2383
Thanks for the report. I'll look into it and circle back.

[2022-07-26 22:42] mvilanova commented on #2383
I wasn't able to repro. All functions under the message key executed and in the listed order. If you have more info that can help me try to repro the issue you're observing, let me know.

executing <function increment_activity at 0x14dce5430>
executing <function after_hours at 0x14dce55e0>
executing <function ban_threads_warning at 0x14dce5940>
executing <function message_tagging at 0x14dce5a60>
e

[2022-07-28 21:31] 3c-un-str commented on #2383
Interesting. I can get it to reliably fail after the first task; the execution just seems to stall during the second task.

**Original order of tasks**
Adding -- <function increment_activity at 0x7fb6313108b0>
Adding -- <function handle_message_to_channel at 0x7fb631310790>
Adding -- <function after_hours at 0x7fb631310a60>
Adding -- <function ban_threads_warning at 0x7fb631310dc0>
Adding -- <func

[2022-08-02 14:55] Achooo commented on #2055
@mvilanova Due to time constraints mainly, we moved towards a different solution instead of self-hosting. We were missing a few integrations/features needed. I think it would have been great to contribute to the project, but we were looking for a fast solution as there is limited automation for incident management right now, causing toil for on-call

[2022-08-04 16:40] 3c-un-str commented on #2383
I setup a simple web app (using starlette==0.19.1) in my dev env, with three BackgroundTasks and ran it with uvicorn==0.18.2; all of them ran successfully. I am kind at a loss here :); I will continue to debug and update with any findings.

[2022-08-07 00:09] #2310 closed

[2022-08-07 00:09] #2309 closed

[2022-08-12 17:15] keithherron opened #2408 "Documented google integration requires domain wide privileges"
**Describe the bug**
The documented google integration seems too permissive, in that it guides creation of an API key with domain-wide full access.

**Expected behavior**
Documentation clearly outlines minimal permissions required to function, and instructs user through granting only the minimal access required for dispatch (ideally per-plugin)

**Additional context**
I'm in the process of integra

[2022-08-12 23:32] 3c-un-str commented on #2383
**Update:** According to https://github.com/encode/starlette/issues/1438, it looks like BackgroundTasks are cancelled if the client closes connection. It also looks like there is still discussion around the best way forward (several others seem to have reported similar issues).

As a workaround, I added the below line to .../starlette/background.py (essentially shielding the tasks from cancelling;

[2022-08-13 01:28] mvilanova commented on #2383
Nice work troubleshooting it. Agree, let's keep it open until the issue is fixed on the starlette side.

[2022-08-13 01:29] mvilanova commented on #2300
@Hellboy7 all good here? Can we close this issue?

[2022-08-13 01:30] mvilanova commented on #2249
I haven't forgotten about this one. I should be able to resume work on it soon.

[2022-08-13 01:31] mvilanova commented on #2055
Thanks for sharing the context. I'm going to close this issue.

[2022-08-13 01:31] #2055 closed

[2022-08-15 22:17] #2300 closed

[2022-08-18 17:12] mvilanova commented on #2408
We recognize it's more permissive than it should, but we haven't had time to prioritize the changes required to reduce it. More context [here](https://github.com/Netflix/dispatch/issues/677).

Can you elaborate more on what you think it's missing in the documentation? All you need should be documented [here](https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-g-su

[2022-08-18 18:31] keithherron commented on #2408
Thanks for the context, that helps!

With regard to the documentation, I think it'd be helpful to include additional detail about the permissions required at a per-plugin level, walking through how to set up the minimal access required, and including rationale for cases where domain-wide delegation is a requirement.

FWIW I was successful in connecting the drive/docs plugins with a normally privil

[2022-08-19 23:24] mvilanova commented on #2408
Yeah, I agree your suggestion would be a good documentation improvement. Feel free to submit a PR for documentation or other improvements!

[2022-08-23 09:00] filippog opened #2447 "Authentication plugin from request headers?"
**Is your feature request related to a problem? Please describe.**
We're testing/deploying Dispatch behind SSO (implemented by [mod_auth_cas](https://github.com/apereo/mod_auth_cas)). Requests are reverse-proxied to Dispatch on localhost by Apache.

**Describe the solution you'd like**
We'll be implementing a plugin to authenticate users based on request headers, is this something you'd be interes

[2022-08-23 15:56] mvilanova commented on #2447
Hi @filippog, yes, I'll be happy to review and merge the plugin code.

[2022-08-25 00:08] #2245 closed

[2022-09-07 17:23] #2447 closed

[2022-09-07 17:43] 3c-un-str opened #2496 "DuplicateAlias errors when filtering feedback & tasks"
Hello, been on this for a bit, but may need some help :).

Here's what I am seeing: Adding `incident` and `project` fields when filtering `tasks` or `feedback` in the UI results in `psycopg2.errors.DuplicateAlias error`: " table name "incident" specified more than once" as seen in the query below.

SELECT (omitted task_fields here) FROM dispatch_organization_default.task JOIN dispatch_organization

[2022-09-07 18:27] 3c-un-str opened #2497 "sqlalchemy_filters.exceptions.BadSpec: The query does not contain model <name>"
Hello,
This is an other issue I have been working on and may need some help.

When creating a new search filter, adding more than one field (e.g Tags and Types) causes an internal server error.

I will continue to look into this.

Thanks,

[2022-09-13 16:05] rivlinpereira opened #2513 "Paging on-call does not work when using / commands from private channel"
**Describe the bug**
See the following error when I try to engage the on-call person from a private channel that dispatch creates

`Sorry, we've run into an unexpected error. For help please reach out to your Dispatch admins and provide them with the following token: xxxxxxxxx`

**To Reproduce**
Steps to reproduce the behavior:
1. Create incident
2. Go to the private channel that dispatch creates

[2022-09-13 17:18] mvilanova commented on #2513
@rivlinpereira is there an error in the server logs that you can share? Did you configure the [pagerduty](https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-pagerduty) or [opsgenie](https://hawkins.gitbook.io/dispatch/administration-guide/incident/plugins/configuring-opsgenie) plugins?

[2022-09-13 17:27] rivlinpereira commented on #2513
Using pagerduty plugin configured via UI. I dont see any errors in logs

[2022-09-13 17:58] mvilanova commented on #2513
Sounds like you were able to resolve it based on this [discussion](https://github.com/Netflix/dispatch/discussions/2514#discussioncomment-3637721)? Feel free to close the issue if so.

[2022-09-13 18:02] rivlinpereira commented on #2513
yes but now facing another issue. closing this one

[2022-09-13 18:02] #2513 closed

[2022-09-13 19:55] mvilanova opened #2516 "Cant create incident when role policy is enabled"
### Discussed in https://github.com/Netflix/dispatch/discussions/2515

<div type='discussions-op-text'>

<sup>Originally posted by **rivlinpereira** September 13, 2022</sup>
I am looking into the commander to be paged by default when an incident is opened. So I created a policy under roles -->Incident Commander  and matching it to incident type and tag types to page the commander. If i enable the

[2022-09-13 19:56] mvilanova commented on #2516
Can you share server logs when the issue is happening @rivlinpereira?

[2022-09-13 19:57] mvilanova commented on #2516
Is the `page commander` checkbox checked in the incident type?

[2022-09-13 20:07] rivlinpereira commented on #2516
yes it is checked

[2022-09-17 16:03] kiriharu opened #2532 "Code duplication in service layer"
Hello!

I'm checking out different projects on github written with FastAPI for educational purposes. I am searching for interesting snippets, ideas and examples of various pattern implementations.
I find such functions in service layer almost in every package:

https://github.com/Netflix/dispatch/blob/4979063922eab0a3573686c026887b84371b4f9c/src/dispatch/conversation/service.py#L8-L10

https://git

[2022-09-18 00:09] #2383 closed

[2022-09-18 00:09] #2323 closed

[2022-09-19 17:33] mvilanova commented on #2532
@kiriharu thanks for reaching out. You're correct, it's boilerplate code. Same for other service functions like `get_all()` and `delete()` and probably others like `get_by_name()` etc. Refactoring and consolidating these function calls into a common service module might make sense in the future to reduce amount of code and maintenance.

[2022-09-20 14:59] csetarun2 opened #2539 "slack plugin integration"
I have configured all mentioned details still getting errors while creating issues.

when I try to create incident its throwing this error in docker log
  File "/usr/local/lib/python3.9/site-packages/slack_sdk/web/base_client.py", line 309, in _urllib_api_call
    return SlackResponse(
  File "/usr/local/lib/python3.9/site-packages/slack_sdk/web/slack_response.py", line 189, in validate
    raise

[2022-09-20 16:14] kevgliss commented on #2539
I would double-check that your token strings don't have any whitespace or are malformed as that is generally the issue when an 'invalid_auth' error is raised.

[2022-09-24 00:11] #2408 closed

[2022-09-24 00:11] #2252 closed

[2022-09-26 14:26] #2532 closed

[2022-09-26 16:40] csetarun2 commented on #2539
Thanks @kevgliss  for your reply, The same token is working fine when I generally check online slack api,
I have followed these steps, Please correct me if Im wrong
- I have created slack app, slack bot and have give all the permission which has mentioned in the docs, also the slash commands
- In the settings -> projects -> plugin , have configured both slack communication, slack alert using the a

[2022-09-27 17:12] csetarun2 commented on #2539
Thanks @kevgliss , now I m getting below error

_message
    incident.conversation.channel_id,
AttributeError: 'NoneType' object has no attribute 'channel_id'

![image](https://user-images.githubusercontent.com/21236859/192591766-2915b077-07e3-4ae2-accc-1ee38ac20ee4.png)
![image](https://user-images.githubusercontent.com/21236859/192591988-df2e481b-30f3-4fab-a750-051af0a1128d.png)
in the project s

[2022-09-27 17:16] kevgliss commented on #2539
Hmm, I'm not entirely sure. But make sure that the dispatch ticket plugin is enabled (if you're not using jira). I see a message that it's not created and I wonder if that's why that conversation is not being associated.

[2022-09-28 12:34] csetarun2 commented on #2539
Thank you so much @kevgliss as per your suggestion added, finally I'm getting messages into the slack , these steps are not there any doc to refer and conf easily :)

1. is there anywhere do I need to mention some common group name, Its creating new group for every incident, how should I avoid this

![image](https://user-images.githubusercontent.com/21236859/192778183-105ec6a4-eaf4-4610-a60d-609b0

[2022-09-28 17:16] csetarun2 opened #2558 "AttributeError: 'int' object does not have 'upper' LOG_LEVEL.upper()"
**Describe the bug**
Earlier I used to create docker dispatch application without any issue, but when I try it today Im getting below error

AttributeError: 'int' object does not have 'upper' LOG_LEVEL.upper()

![image](https://user-images.githubusercontent.com/21236859/192846591-f3638b40-1c91-453a-8ffe-02f2177d3d65.png)

its keep on restarting containers
![image](https://user-images.githubusercon

[2022-09-28 17:28] mvilanova commented on #2558
@csetarun2 this was reported [here](https://github.com/Netflix/dispatch-docker/issues/143) and addressed in this [PR](https://github.com/Netflix/dispatch/pull/2544). Please, set `LOG_LEVEL` in your `.env` and/ or upgrade your version of Dispatch.

[2022-09-28 22:31] kevgliss commented on #2539
I will create a ticket to either have a reasonable default here (e.g. dispatch ticket) or add more information to the documentation.

By default, `incidents` always create new channels, and we don't plan on making this optional. If you're interested in something more lightweight `cases` could be an option. But this relativity new feature does not yet support slack notifications (will likely be sup

[2022-09-29 05:57] csetarun2 commented on #2558
Thank you @mvilanova  for your help, Its working now

[2022-09-30 22:41] caioaao opened #2566 "Proposal: turn vuejs build-time env variables into runtime variables"
**Is your feature request related to a problem? Please describe.**
This would make deploying and maintaining it a lot easier. It's unusual for a project like this to need to be built by the users, and it's a cumbersome process for the uninitiated.
Another key improvement is it would be a lot easier to maintain a "canonical" docker image for the project, which I think it's lacking.

**Describe the

[2022-09-30 22:57] kevgliss commented on #2566
Hi @caioaao!

I agree this is not ideal and is likely an artifact of our CI/CD being set up when we first started this project and largely going untouched.

I also agree with this point; for better or worse our docker images have been "best effort" in nature.

Can you elaborate on what you are thinking here? Would this mean two separate code repos or simply two docker images? We don't use these im

[2022-09-30 23:34] caioaao commented on #2566
Hi @kevgliss , thanks for the blazing fast response!

I don't think code organization is that important, but the dashboard could be an independent and optional deployable - I'm just experimenting with dispatch, so correct me if I'm wrong, but it's possible to use it without ever touching the dashboard, correct? It also seem to be what makes the docker image so heavy, so splitting that would also b

[2022-10-03 22:02] caioaao opened #2570 "Can't create new plugin instance"
**Describe the bug**
When trying to create a plugin instance through the dashboard (namely slack-converation and slack-contacts), instead of creating the instance I receive the following error message:

This is the HTTP response body (status code is 422):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Projects -> "default" -> Plugins -> New`
2. Choose `slack-conversation` and

[2022-10-03 22:18] mvilanova commented on #2570
Thanks for the report. We will try to see if we can repro it on our side and circle back as soon as we can.

[2022-10-04 14:36] caioaao commented on #2570
Just tested on master and it worked, so maybe it was fixed?

[2022-10-04 14:36] #2570 closed

[2022-10-04 15:25] caioaao opened #2575 "Request: Add documentation about cases"
I see that in the docs (and more specifically, in the `User Guide` section) there's no mention to the "Cases". It's unclear to me what is the difference between "incidents" and "cases" - the only hint I got was from [a seemingly unrelated open PR](https://github.com/Netflix/dispatch/pull/2502)

[2022-10-04 17:25] mvilanova commented on #2575
We will add documentation about them in the near future. The tl; dr version of it is that cases are meant to triage events that do not raise to the level of incidents, but can be escalated to incidents if necessary. If you map a case type to an incident type and you escalate the case, then Dispatch will automatically create an incident and link the two.

[2022-10-04 19:51] caioaao commented on #2575
That sounds cool! Do you think it's a good idea to add that tldr as a placeholder somewhere then?

[2022-10-04 20:07] mvilanova commented on #2575
Sure, feel free to open a PR for it. If not we can take care of it later.

[2022-10-05 00:12] #2276 closed

[2022-10-12 17:02] csetarun2 opened #2595 "switching organization in UI is not working"
Reg: https://github.com/Netflix/dispatch/pull/2528

Switching from the organization option still not working, its still showing same data, I cant able to switch
<img width="936" alt="dispatch-is1" src="https://user-images.githubusercontent.com/21236859/195404284-56c1dc8d-b891-4bb0-b6ec-2faff81b6b19.PNG">

If I edit url /default to /mytest its throwing below error and in the project list its still

[2022-10-12 17:18] mvilanova commented on #2595
Known problem. We will fix it as soon as we can.

[2022-10-13 00:12] #2497 closed

[2022-10-13 00:12] #2496 closed

[2022-10-14 07:43] vijal-patel commented on #2249
@mvilanova. are you looking for contributors? If so, I'd like to work on this issue

[2022-10-14 16:45] mvilanova commented on #2249
@vijal-patel sure, go ahead. Thanks!

[2022-10-20 00:13] #2516 closed

[2022-10-22 13:04] #2539 closed

[2022-10-22 13:04] csetarun2 commented on #2539
Thanks @kevgliss for your support to integrate slack  into dispatch application :)

[2022-10-22 18:40] vijal-patel commented on #2249
@rlevit I'm not able to replicate the missing user issue. Can you provide the exact steps you used?
I've tried:
- running everything with docker (did not use install.sh)
- running dispatch with python only

I see @mvilanova is already working on the organization switch issue #2599

[2022-10-24 13:22] csetarun2 opened #2622 "Okta integration issue in dispatch"
I'm trying to integrate okta for identity management to dispatch application (instead of creating users manually)

here is my variables added inside .env

DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-pkce
DISPATCH_JWT_AUDIENCE=xxxxxxxxxxxxxx
DISPATCH_PKCE_DONT_VERIFY_AT_HASH=true
DISPATCH_AUTHENTICATION_PROVIDER_PKCE_JWKS=https://trial-xyz.okta.com/oauth2/v1/keys
VUE_APP_DISPATCH_A

[2022-10-25 05:09] csetarun2 commented on #2622
![image](https://user-images.githubusercontent.com/21236859/197687683-430a56b3-4ace-4d22-9a7b-39bf95de1508.png)

[2022-10-25 15:02] kevgliss commented on #2622
We have had folks successfully setup Dispatch with Okta. While I am not super familiar with that IdP I do see some history using the id token instead of the access token. I.e. setting `VUE_APP_DISPATCH_AUTHENTICATION_PROVIDER_USE_ID_TOKEN=true` in the config while building the project.

See:
https://hawkins.gitbook.io/dispatch/administration-guide/server#vue_app_dispatch_authentication_provider_us

[2022-10-27 06:19] csetarun2 commented on #2622
Thanks @kevgliss for your help, I will check and let you know

[2022-10-27 17:27] Georgios90 opened #2630 "Unable to install dispatch locally"
**Describe the bug**
When trying to install dispatch i get the following error

Traceback (most recent call last):
  File "/usr/local/bin/dispatch", line 8, in <module>
    sys.exit(entrypoint())
  File "/usr/local/lib/python3.9/site-packages/dispatch/cli.py", line 794, in entrypoint
    dispatch_cli()
  File "/usr/local/lib/python3.9/site-packages/click/core.py", line 1130, in __call__
    return

[2022-10-27 17:33] mvilanova commented on #2630
Did you pull the latest version of the code. This should have been fixed in https://github.com/Netflix/dispatch/pull/2544/

[2022-10-27 19:37] Georgios90 commented on #2630
I just did yes

[2022-10-27 19:44] Georgios90 commented on #2630
well sorry I was using git clone https://github.com/Netflix/dispatch-docker.git

[2022-10-27 19:44] Georgios90 commented on #2630
which is mentioned here https://hawkins.gitbook.io/dispatch/installation

[2022-10-27 20:13] mvilanova commented on #2630
Change `latest` in https://github.com/Netflix/dispatch-docker/blob/master/docker-compose.yml#L22 with `master`. The changes mentioned above haven't been released yet.

[2022-10-28 17:22] #2630 closed

[2022-11-04 17:57] keithherron opened #2657 "Renaming organizations"
**Is your feature request related to a problem? Please describe.**

Essentially yes.  I'm currently unable to (or not clear on how to) change the default org name, and would prefer not to have incidents named e.g. dispatch-default-project-1.  dispatch-companyname-project-1 would be preferred

**Describe the solution you'd like**

I'd like my instance to have only one organization.  Ideally it woul

[2022-11-05 14:15] csetarun2 commented on #1597
@brianlwatson @kevgliss
I could able to integrate using above steps, when I open url its redirecting to okta , once I have enter credentials it logged in, but its showing blank page always

I have added below env varibales in my .env file

DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispatch-auth-provider-pkce
DISPATCH_JWT_AUDIENCE=0oaxxxxxxxx
DISPATCH_PKCE_DONT_VERIFY_AT_HASH=true
DISPATCH_AUTHENTICATI

[2022-11-05 14:18] csetarun2 commented on #2622
Thanks @kevgliss , I could able to integrate okta, there is one more issue Im facing, can u check this
https://github.com/Netflix/dispatch/issues/1597
getting blank page , added screenshots in the above issue-1597, can you please check

[2022-11-06 04:32] csetarun2 commented on #1597
![image](https://user-images.githubusercontent.com/21236859/200154340-790f3cc8-45e9-4672-975f-095a71a61775.png)

[2022-11-08 15:59] csetarun2 opened #2672 "Deleting existing user"
Hi Team,
How to delete existing user / I have created user, but forgot password, how to reset if its local user
dont see delete api call as well in documentation.

[2022-11-08 16:06] kevgliss commented on #2672
We don't currently have a way to delete a user (see #2652), but to reset their password, you can issue the `dispatch user reset` command via the CLI.

[2022-11-08 16:44] csetarun2 commented on #2672
sure, Thanks @kevgliss for you help

can you check and suggest on this issue https://github.com/Netflix/dispatch/issues/2622 once,

[2022-11-08 16:44] #2672 closed

[2022-11-08 19:08] manireddyk commented on #1597
@brianlwatson ^^

[2022-11-08 21:15] kevgliss commented on #1597
Are you building from the latest release or from the master branch?

[2022-11-09 10:10] dhananjaysathe opened #2675 "Dockerbuild fails"
**Describe the bug**
The node version is quite old and it seems to break in the npm intsall phase
[code]

I DID clear my build cache etc to clean out node_modules etc

**To Reproduce**
docker build -t dispatch:latest  .

**Expected behavior**
This should work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the proble

[2022-11-09 10:32] dhananjaysathe commented on #2675
It did build with a minor bump to node14 , verifying if it actually works though ; The maintainer/dev can be more context about the compatibility matrix

[2022-11-09 18:49] #2675 closed

[2022-11-10 18:01] mvilanova commented on #2657
@keithherron we don't currently support renaming orgs at the moment, as renaming the org involves renaming the database schema where all the tables live (`dispatch_organization_default` for the default org) and that can lead to db issues. The only way is to create a new organization.

[2022-11-10 18:02] mvilanova commented on #2657
We could look into allowing folks to specify the org name during the installation process in the future.

[2022-11-10 18:15] keithherron commented on #2657
Thanks for the response!  FWIW since writing this I've had some success in renaming from default using essentially

db init
alter schema dispatch_organization_default RENAME to dispatch_organization_companyname
update dispatch_core.organization set slug='companyname' where id=1;
update dispatch_core.organization set name='companyname' where id=1;

Seems to work, although the instance is not yet ho

[2022-11-10 18:46] mvilanova commented on #2657
We haven't experimented enough with it to be able to tell with certainty.

[2022-11-14 13:26] #2622 closed

[2022-11-14 13:30] csetarun2 opened #2692 "Okta integration blank page"
I have configured okta and when I browser disptach url its redirecting to my okta sso after entering details its showing blank page, any thoughts on this ?

I could able to integrate using above steps, when I open url its redirecting to okta , once I have enter credentials it logged in, but its showing blank page always

I have added below env varibales in my .env file

DISPATCH_AUTHENTICATION_PRO

[2022-11-14 14:50] dhananjaysathe opened #2694 "Unable to create executive report"
**Describe the bug**
When i try slack slash command to file executive report it fails

**To Reproduce**
Steps to reproduce the behavior:

Setting up google :

Setup google account as detailed here  https://github.com/Netflix/dispatch/blob/master/docs/admin-guide/administration/plugins/configuring-g-suite.md - only for *Google Drive Plugin - Storage Management* (i enabled all apis, setup domain del

[2022-11-14 17:16] mvilanova commented on #2694
@dhananjaysathe did you map the executive report document template to the incident type(s)? Does the document for the executive report get created in the Google share folder you created?

[2022-11-15 08:14] dhananjaysathe commented on #2694
yes i did that as described in the bug report
"""
Setting up template and incident types:

    for "default" incident type i created a new created a new "default" executive template -> with weblink "https://docs.google.com/document/d/1dab6k14p5ageo5B_d1YlB_zS9hMGHDMXy9RUbIZous4/edit" that i got from the examples;
    NOTE : default here is just a name i chose , and also marked the incident type na

[2022-11-15 16:59] mvilanova commented on #2694
Does the document for the executive report get created in the Google share folder you created? The error tells me something is going wrong when the document is getting created.

[2022-11-15 18:24] dhananjaysathe commented on #2694
Hey @mvilanova thanks for your response.  sorry i wasnt clear earlier, folder/files are NOT created :(

[2022-11-15 18:26] mvilanova commented on #2694
That's what I was afraid of. Make sure the settings in your `Google Drive Plugin - Storage Management` and `Google Docs Plugin - Document Management` are correct.

[2022-11-15 18:47] dhananjaysathe commented on #2694
Hello @mvilanova i added the configuration for document too , no dice
I have the following enabled now

Slack Plugin - Conversation Management
Slack Plugin - Contact Information Resolver
Google Drive Plugin - Storage Management
Dispatch Plugin - Ticket Management
Dispatch Plugin - Participant Resolver
Google Docs Plugin - Document Management
Dispatch Plugin - Basic Authentication Provider

[2022-11-15 18:50] dhananjaysathe commented on #2694
also enabled document resolver, not sure that that does

[2022-11-15 18:51] mvilanova commented on #2694
Please review that the configuration settings for the Google related plugins are correct. That's likely the issue. If you see any other errors feel free to share them here.

[2022-11-15 18:57] dhananjaysathe commented on #2694
Here is roughlt visually repeting what i set as configuration , may be easier to follow
https://ibb.co/vk44S72

[2022-11-15 18:59] dhananjaysathe commented on #2694
i pasted the entire contents of private key including /n etc from the json i got from google

[2022-11-15 19:07] mvilanova commented on #2694
Config looks ok. The plugins are enabled correct? The checkbox in the screenshot is not checked.

[2022-11-16 15:35] csetarun2 commented on #1597
@kevgliss Im building from latest release

[2022-11-16 15:37] csetarun2 commented on #1597
I used [v20220915](https://github.com/Netflix/dispatch/releases/tag/v20220915) (sep - release) , now I could see there is new version released, let me try and let you know

[2022-11-16 16:02] csetarun2 opened #2706 "Issue with new release cant able to build core image symlinks error"
Im trying to build new release disptach application, when I execute the ./install.sh Im getting below error, I have tried 2 different server where I build dispatch app successfully with prev version..

(Vm1)
![image](https://user-images.githubusercontent.com/21236859/202231072-e5ff9f26-ed4a-4d4c-b15a-e1eb77b7f2ea.png)

VM2:
Creating volumes for persistent storage...
Created dispatch-postgres.

Gen

[2022-11-16 16:27] csetarun2 commented on #2706
I have downloaded the release source code, there Dockerfile was missing (no docker folder)
![image](https://user-images.githubusercontent.com/21236859/202236756-23fe11fa-955e-471a-baad-875754c99d0c.png)

can you please check once @mvilanova @kevgliss

[2022-11-16 16:36] manireddyk opened #2707 "Gmail plugin Module error"
Im setting the gmail plugin to send mail, whenever incident was created, but getting these error
![image](https://user-images.githubusercontent.com/46611593/202239411-dd76a003-476e-44a8-95d3-7aba32ef4db0.png)

![image](https://user-images.githubusercontent.com/46611593/202238470-a5a3bf47-8a6e-49b5-afb6-5cce09585c8b.png)
can you please help

[2022-11-16 17:01] mvilanova commented on #2707
This is not an error, but an informational message telling you that the liaison role, one of the available roles that can be assigned to an incident participant, was not programmatically resolved and assigned.

[2022-11-16 17:32] manireddyk commented on #2707
Thanks @mvilanova
How about the other one
![image](https://user-images.githubusercontent.com/46611593/202252041-cf0c6b65-258f-4490-acf8-3da4e28d8717.png)

[2022-11-16 17:40] kevgliss commented on #2706
This was fixed in #2697. Depending on your use case for docker you can either use the new Dockerfile that was included in that release (now under .devcontainer) or pull the latest version from `master` that includes the fix from #2697. We will likely deprecate the docker folder at some point in favor .devcontainer but reverted the change because we had not yet update the documentation.

[2022-11-16 17:53] kevgliss commented on #2692
Regarding your server error. I would double-check your JWKS endpoint here:
`DISPATCH_AUTHENTICATION_PROVIDER_PKCE_JWKS=https://trial-2372xxx.okta.com/oauth2/v1/keys`

Judging by the documentation (https://developer.okta.com/docs/reference/api/oidc/#response-example) it should return JSON with valid `kid` (which is what our code assumes) there could be a configuration error or maybe the URL is just

[2022-11-16 18:08] manireddyk opened #2708 "Issue with new version image database"
I have manually cloned and build the dispatch image, and pushed the code repo,
while Im trying to use the image, UI is loading when I click on cases/incidents looks all my prev incidents created by prev version container were not showing, When I read the logs,
![image](https://user-images.githubusercontent.com/46611593/202258752-f0ccf91c-aa70-4986-beff-affce1a0ab4d.png)

Now I have reverted it bac

[2022-11-16 18:09] kevgliss commented on #2708
Have you updated your database revision by issuing `dispatch database upgrade` with the new code checked out?

[2022-11-16 18:12] manireddyk commented on #2706
Thanks @kevgliss , but how should I build the image now, can you share the steps,
currently as per documentation Im following these steps
step1: git clone https://github.com/Netflix/dispatch-docker.git
step2: ./install.sh
Then getting above issue, Please correct me If Im wrong, How to properly clone/run the code ?

[2022-11-16 18:14] manireddyk commented on #2708
oh I havent run this step , Thanks you so much for your quick response @kevgliss ,
is there any places where you can add  all these points, will be helpful for others

[2022-11-16 18:15] csetarun2 commented on #2706
Thanks @kevgliss , but how should I build the image now, can you share the steps,
currently as per documentation Im following these steps
step1: git clone https://github.com/Netflix/dispatch-docker.git
step2: ./install.sh
Then getting above issue, Please correct me If Im wrong, How to properly clone/run the code ?

[2022-11-17 09:33] csetarun2 commented on #2706
Thanks @kevgliss for your help :)

[2022-11-17 09:33] #2706 closed

[2022-11-17 10:58] manireddyk commented on #2708
Thanks @kevgliss

I have upgraded and tried with new version, its not working as expected, How can I revert it back schema as well ?
might be this step is required in the documenting, if they want to revert it back the schema

I have logged into the old dispatch-docker container and ran the dispatch database downgrade, not working
![image](https://user-images.githubusercontent.com/46611593/2024282

[2022-11-17 11:03] manireddyk commented on #2708
I got the below error after I upgrade the schema
1. I can able to create incidents in default organization but its not sending the slack notifications
![image](https://user-images.githubusercontent.com/46611593/202429285-79da2a37-5c5a-42a8-a1db-9eda2613eaba.png)

2. If I try to switch diff org, while trying to create incident its not even creating
![image](https://user-images.githubusercontent.com

[2022-11-17 11:08] csetarun2 commented on #2692
@kevgliss I can able to get the key value, kid value was here
https://trial-2372159-admin.okta.com/oauth2/v1/keys
![image](https://user-images.githubusercontent.com/21236859/202430549-0a8b9629-b22f-499b-8cb8-b5802b9094b3.png)

[2022-11-17 17:49] kevgliss opened #2710 "Unable to send slack notifications"
@manireddyk creating a new issue for this error

I got the below error after I upgrade the schema
1. I can able to create incidents in default organization but its not sending the slack notifications
![image](https://user-images.githubusercontent.com/46611593/202429285-79da2a37-5c5a-42a8-a1db-9eda2613eaba.png)

2. If I try to switch diff org, while trying to create incident its not even creating
!

[2022-11-17 17:50] #2708 closed

[2022-11-17 17:56] kevgliss commented on #2692
Are you able to inspect the `authorization` header value being sent? Is should be a base64encoded string that has a 'kid' in there.

https://github.com/Netflix/dispatch/blob/master/src/dispatch/plugins/dispatch_core/plugin.py#L98

[2022-11-17 18:50] kevgliss commented on #2710
I've opened #2712 which should address this error.

[2022-11-17 19:12] #2710 closed

[2022-11-18 00:08] #2595 closed

[2022-11-18 18:02] mvilanova commented on #2707
Looks like Dispatch can't find the mjml module to generate the email template. Check https://github.com/Netflix/dispatch/issues/1844 for instructions on how to fix it.

[2022-11-18 18:05] mvilanova commented on #2694
If the plugins are enabled and properly configured a document should be created off of the template defined. Make sure that the account Google account you're using has permissions to access the template.

[2022-11-20 14:09] manireddyk commented on #2707
Thanks @mvilanova , I have manually changed path, looks its ok, but still Im not able to send mail, getting below error, any idea
![image](https://user-images.githubusercontent.com/46611593/202906793-67010606-af54-4a9f-8ff2-720a46188612.png)

[2022-11-21 10:57] csetarun2 opened #2713 "cant able to run install.sh in new release"
Couldnt able to build new release, have tried both latest & master, getting below errors, @mvilanova @kevgliss  can you please check

![image](https://user-images.githubusercontent.com/21236859/203033238-b6de9992-45cb-4121-ba76-e210d6593ed5.png)

[2022-11-21 17:38] that-devops-guy opened #2715 "Jira Plugin Unable to Create tickets"
**Describe the bug**
Jira plugin is unable to create tickets in new release

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the latest release
2. Install and Configure Jira plugin
3. Enable Jira plugin and  Jira Plugin as Default Ticketing tool
4. See Error

**Expected behavior**
Dispatch should be able to create JIRA  tickets through REST API

**Error**
[code]
**Jira Configuration**
![

[2022-11-21 18:06] kevgliss commented on #2715
Are you using the latest tagged release or the master branch?

[2022-11-21 18:14] that-devops-guy commented on #2715
I'm using the master branch

[2022-11-22 15:10] csetarun2 commented on #2692
![image](https://user-images.githubusercontent.com/21236859/203349680-cf78a2a5-8b37-4061-9b9a-004228333977.png)

[2022-11-23 07:58] romanskugarevLMRU opened #2717 "Unexpected behavior of the system when creating an incident"
**Describe the bug**
Hello, there may be a bug, maybe something could not be done or deployed correctly.
When we use form http://dispatch.***/default/incidents/report we have 2 problems:

1. Every time we click on the Submit button, a new task is created. No info about task created, and we can create 2 and more task as user with similar data
![image](https://user-images.githubusercontent.com/11763

[2022-11-23 11:56] csetarun2 opened #2718 "side bar coming down"
in the new release options are coming downside,

[2022-11-23 11:57] csetarun2 commented on #2718
![image](https://user-images.githubusercontent.com/21236859/203541097-e7551b73-983b-4ede-ab7f-53e803b21027.png)

[2022-11-26 07:43] csetarun2 commented on #1597
Thanks @kevgliss for ur help, finally after a lot of issue I could able to integrate okta in dispatch,
here Im sharing steps, might be useful who are integrating okta

1. Goto Okta Admin console  -> Applications -> create app as showed below
![image](https://user-images.githubusercontent.com/21236859/204077875-cd7e9c5a-a811-46c6-821d-f1c21235b19d.png)

`
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=dispa

[2022-11-26 07:44] csetarun2 commented on #1597
still facing 2 issue:
1. http is not working,
2.  logout is not working, once I login into the dispatch application if I click on logout it still redirecting and giving the same screen

[2022-11-26 07:53] csetarun2 commented on #2692
Thanks @kevgliss , I could able to integrate okta in dispatch , added steps in https://github.com/Netflix/dispatch/issues/1597

[2022-11-26 07:53] #2692 closed

[2022-11-28 00:08] #2249 closed

[2022-11-28 17:41] kevgliss commented on #2715
Does the current assignee have a user account in your jira instance? I believe the plugin is complaining about being unable to find the user within Jira.

[2022-11-28 17:42] kevgliss commented on #2718
Are you using Firefox? I have noticed this behavior there, but not in chrome. Will take a look.

[2022-11-28 17:44] kevgliss commented on #2717
When you click submit are you not getting any feedback at all? Could you let me know if there are any console errors when you click submit?

[2022-11-28 19:36] mvilanova commented on #2694
@dhananjaysathe were you able to resolve the issue? If so, feel free to close it.

[2022-11-28 19:38] mvilanova commented on #2707
Judging by the server logs above, it appears Dispatch is having issues with the Gmail API and gives up after retrying several times. Make sure the settings and permissions to send emails using the API are correct.

[2022-11-29 06:37] romanskugarevLMRU commented on #2717
![image](https://user-images.githubusercontent.com/117632465/204456680-636f2854-8b79-4e1f-919f-16103a2ff72b.png)
but incident create
xhr.js:187          POST http://dispatch.obs.lmru.tech/api/v1/default/incidents 500 (Internal Server Error)

[2022-11-29 08:05] that-devops-guy commented on #2715
Current assignee as in The dispatch user creating the ticket ? Yes it has a user account in Jira.
Even if it's unable/failed to create with current assignee is it possible to follow the same scenario in hosting type server. where it fallbacks to default jira user for creating tickets.

[2022-11-29 15:53] csetarun2 commented on #2718
no @kevgliss , I have also used chrome
![image](https://user-images.githubusercontent.com/21236859/204577412-07e8912d-7f9a-4e1b-bc07-b578918a516e.png)

[2022-11-29 15:53] csetarun2 commented on #2707
Thanks @mvilanova , will check and let you know

[2022-11-29 15:54] manireddyk commented on #2707
Thanks @mvilanova , will check and let you know

[2022-11-29 17:28] mvilanova commented on #2717
@romanskugarevLMRU any server side errors you can share? Did you create the tags beforehand in http://dispatch.obs.lmru.tech/api/v1/default/settings/projects/tags?project=<YOUR_PROJECT> or manually typed them in the intake form?

[2022-11-29 17:35] mvilanova commented on #2715
@that-devops-guy is the hosting type correct in your Jira plugin configuration? There are two options: `server` and `cloud`. It needs to be set to the correct one for Dispatch to be able to search and return the Jira user. Like @kevgliss suggested, make sure the email address used to set the commander role has an account in your Jira instance.